@import 'variables.less';

.choose-tariff-label {
  font-family: @fontFamilyMedium;
  text-transform: uppercase;
  margin: 0px;
  font-size: 14px;
  line-height: 35px;
  color: @color-text-tertiary;
  position: relative;
  top: 1px;
}

.head-select {
  width: 44px;
}

.label-version {
  font-weight: bold;
}

.table-custom {
  tbody td {
    height: 64px;
    vertical-align: middle;
  }
}

.tariff-padding-wrap {
  padding: 0 40px;
}

.position-footer-left {
  position: relative;
  left: 20px;
}

.aplly-tariff-footer .dnm-btn {
  width: 200px;
}

.aplly-tariff-footer .dnm-btn-cancel {
  margin-right: 15px;
}