@import 'variables.less';

.import-info-wrapper .modal-header {
  padding: 30px 40px 0 40px;
}


.import-info-wrapper .modal-body {
  padding: 0 90px;
}

.import-info-wrapper .header-text {
  text-align: center;
  font-size: 30px;
  font-family: 'Gotham Medium', sans-serif;
  color: @color-text-primary;
  padding: 0 10px;
}

.import-info-wrapper .import-info-report {
  margin-top: 25px;
  font-size: 18px;
  font-family: 'Gotham Light', sans-serif;
  color: @color-text-primary;
}

.import-info-wrapper .btns-wrp {
  margin-top: 50px;
  margin-bottom: 55px;
  text-align: center;
}

.import-info-wrapper .chng-status-btns {
  width: 200px;
}

.import-info-msg {
  margin-bottom: 10px;
}

.import-info-errors-list {
  font-size: 14px;
  margin: 0;
  max-height: 150px;
  overflow: auto;
  background-color: @color-background-white;
  padding: 20px 0 20px 30px;
}

.import-info-errors-list li:not(:last-child) {
  margin-bottom: 5px;
}


