@import 'variables.less';

.alloc-tariffs-wrp .results-label {
  font-size: 16px;
  color: @color-text-tertiary;
  margin-right: 20px;
}

.alloc-tariffs-wrp .nav-row {
  margin-top: -10px;
  margin-bottom: 30px;
}

.alloc-tariffs-wrp .drpdwn-fltr-lbl {
  font-family: Gotham Medium;
  font-size: 15px;
  line-height: 15px;
  color: @color-text-tertiary;
  margin-right: 20px;
}

.alloc-tariffs-wrp .fltr-drpdwn-btn,
.alloc-tariffs-wrp .fltr-drpdwn-menu {
  min-width: 200px;
  width: 200px;
  text-align: left;
}

.alloc-tariffs-wrp .dropdown-item {
  text-transform: none;
  font-size: 14px;
}
.disabled {
  opacity: 0.5;
}