<div class="page-content branches-page">
  <!-- header -->
  <div class="container-fluid">
    <div class="row d-flex align-items-center">
      <div class="col-6 none-padding">
        <h1 class="page-title">Branches</h1>
      </div>
      <div class="col-6 none-padding text-right">
        <button (click)="onCreate()" class="dnm-btn dnm-btn-primary text-uppercase create-branch-btn" type="button">
          <span>Create Branch</span>
          <i class="branches-icon add-branch-icon"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="branches-list">
    <div *ngFor="let branch of model; let idx = index;">
      <app-branch (edit)="onEditModel($event, idx);" [model]="branch"></app-branch>
    </div>
  </div>
</div>
