//@import 'variables.less';
@import 'required-fields.less';

.create-equipment .modal-body {
  padding: 10px 40px 50px;
}

.create-equipment .bl-gradient-title {
  margin-top: 25px;
  margin-bottom: 30px;
}

.create-equipment .bl-gradient-title:first-child {
  margin-top: 0;
}

.create-equipment .field-name {
  font-family: Gotham Medium;
}

.create-equipment .dnm-radio-btn {
  margin-right: 10px;
}

.create-equipment .radio-input-lbl {
  font-family: Gotham Light;
  font-size: 14px;
  line-height: 14px;
  color: @color-text-tertiary;
  margin-right: 20px;
}

.create-equipment .checkbox-input {
  margin-bottom: 15px;
}

.create-equipment .checkbox-input:first-child {
  margin-top: 8px;
}

//.create-equipment .checkbox-input .dnm-checkbox {
//  margin-right: 70px;
//}

.create-equipment .checkbox-input-lbl {
  font-family: Gotham Light;
  font-size: 14px;
  line-height: 14px;
  color: @color-text-tertiary;
  white-space: nowrap;
}

.table-name {
  font-family: 'Gotham Medium', Arial, sans-serif;
  color: #566787;
  font-size: 14px;
  padding-right: 50px;
}


.create-equipment .model-name-checkbox {
  margin-bottom: 0;
  margin-left: 20px;
  padding-top: 9px;
}

::ng-deep .create-equipment .edit-logo-panel {
  margin-top: 0;
  margin-bottom: 15px;
}

.create-equipment .field-value-col {
  min-width: 250px;
  align-items: center;
  margin-left: 20px;
}

.create-equipment .footer-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.create-equipment .footer-buttons button:first-child {
  width: calc(50% - 15px);
  margin-right: 15px;
}

.create-equipment .footer-buttons button:last-child {
  width: calc(50% - 15px);
  margin-left: 15px;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-right-10 {
  margin-right: 10px;
}

.padding-right-100 {
  padding-right: 100px;
}

.integer-digits {
  width: 120px;
  display: block;
  margin-right: 47px;
}

.obis-code {
  width: 150px;
}

.dial-count {
  width: 120px;
  margin-right: 47px;
}

.register-map {
  width: 100px;
  margin-right: 55px;
}

.cdk-drag-preview {
  z-index: 10100 !important;
  height: 31px !important;
  padding: 7px !important;

  .checkbox-input-lbl {
    width: 100%;
    padding: 13px;
    font-family: Gotham Light;
    font-size: 14px;
    line-height: 14px;
    color: @color-text-tertiary;
    white-space: nowrap;
  }
}

.register-name {
  width: 395px;
}

.register-icon {
  height:25px;
  margin: 5px;
  image-resolution: initial;
  border-radius: 3px 5px;
}

.register-icon-align {
  align-items: center;
  margin: 5px;
}

.aditional-buttons {
  margin-left: 80px !important;
}
