@import 'required-fields.less';

::ng-deep .user-account-general-info .input-row {
  max-width: 825px;
}

::ng-deep .user-account-general-info .editable-ctrl {
  width: calc(100% - 42px);
  display: inline-block;
  margin-right: 3px;
}

.user-account-general-info .contact-item .dnm-btn-icon {
  margin-left: 5px;
}

.user-account-general-info .dnm-btn-icon .icon {
  vertical-align: -2px;
}

::ng-deep .user-account-general-info .ng-select-container .ng-value-container .ng-value .ng-value-icon {
  display: none;
}

.input-row .field-value {
  min-width: 275px;
  max-width: 575px;
}

.logo-block .bl-gradient-title,
.gi-tab .bl-gradient-title {
  line-height: 1;
  margin-bottom: 30px;
}

.logo-block ::ng-deep .logo-preview {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.logo-block ::ng-deep .logo-preview-img {
  border-radius: 50%;
}

.logo-block ::ng-deep .logo-description {
  padding-top: 0;
}

.user-add-link-btn {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}

.user-add-link-btn .add-icon {
  margin-right: 10px;
}

.gi-footer {
  display: flex;
  justify-content: flex-end;
  max-width: 825px;
}

.gi-footer .dnm-btn-primary,
.gi-footer .dnm-btn-cancel {
  width: 200px;
}

.gi-footer .dnm-btn-cancel {
  margin-right: 30px;
}
