<form id="reset-password-form" style="display: none;">
  <p class="text-center">Please check your email to reset your password</p>
  <div class="row submit-buttons">
    <button (click)="onLogin()" class="btn col" type="button">Login</button>
  </div>
</form>

<form (ngSubmit)="onForgotPasswordSubmit()" [formGroup]="forgotForm" [ngClass]="{'form-submited': submited}"
      id="forgot-password-form">
  <h4 class="text-center">Forgot your password?</h4>
  <div class="form-group">
    <label class="form-label" for="forgot-email">Email Address</label>
    <div [ngClass]="{'dnm-invalid-inp': submited && forgotForm.controls.email.invalid}" class="input-box">
      <input autoFocus class="form-control" email formControlName="email" id="forgot-email" name="email" required
             spellcheck="false" type="email">
      <span class="check-icon"></span>
    </div>
    <small *ngIf="submited && forgotForm.controls.email.errors?.required" class="alert-danger">
      Email is required
    </small>
    <small *ngIf="submited && forgotForm.controls.email.errors?.email" class="alert-danger">
      Email is incorrect
    </small>
  </div>
  <div class="row">
    <div class="col-md">
      <a [routerLink]="['/login']" class="btn btn-auth">Back</a>
    </div>
    <div class="col-md">
      <button class="btn btn-auth" type="submit">Continue</button>
    </div>
  </div>
</form>
