@import 'variables.less';

.consumpt-report .filter-drpdwn-lbl {
    font-family: Gotham Medium;
    font-size: 15px;
    line-height: 15px;
    color: @color-text-tertiary;
    margin-right: 20px;
  }