<div class="version-value-wrp">
  <div class="modal-header">
    <h5 class="modal-title">Add new Value</h5>
    <button (click)="dismiss()" aria-label="Close" class="close" data-dismiss="modal" type="button">
      <i aria-hidden="true" class="icon-relative close-popup-icon"></i>
    </button>
  </div>
  <div class="modal-body">
    <ng-container *ngIf="formState$ | async as formState">
      <form [ngrxFormState]="formState">
        <div class="container-fluid none-padding">
          <div class="bl-gradient-title">General Info </div>
          <div class="input-row none-margin-hr">
            <div class="text-uppercase field-name">Value name</div>
            <div class="field-value none-padding">
              <input [ngrxFormControlState]="formState.controls.name"
                     class="form-control req-frm-fld"
                     maxlength="255"
                     placeholder="Type here"
                     type="text"/>
              <small *ngIf="formState.isSubmitted && formState.controls.name.errors.required" class="alert-danger">
                Name is required
              </small>
            </div>
          </div>
          <div class="input-row none-margin-hr">
            <div class="text-uppercase field-name">Increase, %</div>
            <div class="field-value none-padding">
              <number-input (change)="onIncreasePercentageChange()"
                            [ngrxFormControlState]="formState.controls.increasePercentage" [placeholder]="0"></number-input>
            </div>
          </div>
          <div class="input-row none-margin-hr">
            <div class="text-uppercase field-name">Start date</div>
            <div class="field-value none-padding">
              <div class="datepicker-wrp nav-datepicker-wrp">
                <input #startDate="ngbDatepicker"
                       (click)="startDate.toggle()"
                       [ngrxFormControlState]="formState.controls.startDate"
                       [ngrxValueConverter]="ngbDateNgrxValueConverter"
                       class="form-control nav-dtpickr-inpt req-frm-fld"
                       name="startDate"
                       ngbDatepicker
                       placeholder="dd/mm/YYYY"
                       readonly>
                <i (click)="startDate.toggle()" class="calendar"></i>

              </div>
              <small *ngIf="formState.isSubmitted && formState.controls.startDate.errors.required" class="alert-danger">
                Start Date is required
              </small>
            </div>
          </div>
          <div class="input-row none-margin-hr">
            <div class="text-uppercase field-name">End date</div>
            <div class="field-value none-padding">
              <div class="datepicker-wrp nav-datepicker-wrp">
                <input #endDate="ngbDatepicker" (click)="endDate.toggle()" [ngrxFormControlState]="formState.controls.endDate"
                       [ngrxValueConverter]="ngbDateNgrxValueConverter"
                       class="form-control nav-dtpickr-inpt req-frm-fld"
                       name="endDate"
                       ngbDatepicker
                       placeholder="dd/mm/YYYY"
                       readonly>
                <i (click)="endDate.toggle()" class="calendar"></i>
              </div>
              <small *ngIf="formState.isSubmitted && formState.controls.endDate.errors.required" class="alert-danger">
                End Date is required
              </small>
              <small
                *ngIf="formState.isSubmitted && !formState.controls.endDate.errors.required && formState.controls.endDate.errors.greaterThan"
                class="alert-danger">
                End Date must be greater than Start Date
              </small>
            </div>
          </div>
          <ng-container *ngIf="formState.controls.lineItemIncreases.controls.length">
            <div class="bl-gradient-title">Increase settings</div>

            <div class="row list-header">
              <div class="col-5 header-field d-flex align-items-center">
                <span class="text-ellipsis text-uppercase" title="Line Items">Line Items</span>
              </div>
              <div class="col-3 header-field d-flex align-items-center">
                <span class="text-ellipsis text-uppercase" title="Individual %">Individual %</span>
              </div>
              <div class="col-4 header-field d-flex align-items-center">
                <span class="text-ellipsis text-uppercase" title="Increase %">Increase %</span>
              </div>
            </div>

            <div *ngFor="let lineItem of formState.controls.lineItemIncreases.controls" class="row input-row">
              <div class="col-5 d-flex align-items-center">
                <div class="text-uppercase field-name">{{ lineItem.controls.name.value }}</div>
              </div>
              <div class="col-3 d-flex align-items-center">
                <label class="dnm-switch-btn">
                  <input [ngrxFormControlState]="lineItem.controls.enabled" type="checkbox">
                  <span class="dnm-switch-slider round"></span>
                  <span class="dnm-switch-lbl"></span>
                </label>
              </div>
              <div class="col-4 d-flex align-items-center">
                <number-input [ngrxFormControlState]="lineItem.controls.increasePercentage"
                              [placeholder]="0"></number-input>
              </div>
            </div>

          </ng-container>
          <div class="row none-margin-hr">
            <div class="col none-padding footer-buttons d-flex justify-content-end">
              <button (click)="dismiss()" class="dnm-btn dnm-btn-cancel text-uppercase" type="button">Cancel</button>
              <button (click)="onSave()" class="dnm-btn dnm-btn-primary text-uppercase" type="submit">Create</button>
            </div>
          </div>
        </div>
      </form>
    </ng-container>
  </div>
</div>
