.suppliers-page .suppliers-icon {
  display: inline-block;
  position: relative;
}

.create-suppliers-btn > span {
  position: relative;
  top: -13px;
  margin-right: 20px;
}

.suppliers-page .create-suppliers-btn {
  padding: 5px 5px 5px 25px;
  font-size: 15px;
  border-radius: 25px;
}
