.readings-list .list-header {
  margin-top: 25px;
}

.readings-list .header-field {
  text-transform: uppercase;
  white-space: normal !important;
}

.readings-list .header-col {
  padding-left: 10px;
  padding-right: 10px;
}

.readings-list .srl-numb-header {
  width: 170px;
  min-width: 170px;
  padding-left: 30px;
}

.readings-list .header-row {
  padding-left: 15px;
  padding-right: 15px;
}
