//@import 'variables.less';
@import 'required-fields.less';

.shareholders-container .dnm-btn-delete {
  line-height: 10px;
}

.shareholders-container .delete-icon {
  display: inline-block;
  background: url(../../../../../assets/images/icons/cross-red.svg);
}

.shareholders-container .dnm-btn-delete:hover {
  background: @color-background-tertiary;
}

.shareholders-container .dnm-btn-delete {
  background: none;
  box-shadow: none;
  padding: 10px;
}

.shareholders-container .table-premium tbody tr:last-child {
  border-bottom: 0;
}
