<div class="page-content">
  <!-- header -->
  <div class="container-fluid">
    <div class="row d-flex align-items-center">
      <div class="col-6 none-padding">
        <h1 class="page-title">Equipment</h1>
      </div>
      <div class="col-6 none-padding text-right">
        <button (click)="onCreate()" class="dnm-btn dnm-btn-primary text-uppercase add-entity-btn" data-add-new-equip-btn
                type="button">
          <span>Add New Equipment</span>
          <i class="icon-relative add-equipment-icon"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="container-fluid none-padding">
    <div class="dnm-tabset">
      <ngb-tabset>
        <ngb-tab id="tab-0">
          <ng-template ngbTabTitle>
            <span class="d-flex text-uppercase">
              <i class="tab-icon dnm-icon-equipment-list"></i>Equipment List
            </span>
          </ng-template>
          <ng-template ngbTabContent>
            <equipment-list [newEquipmentCreatedEvent]="newEquipmentSubject.asObservable()"></equipment-list>
          </ng-template>
        </ngb-tab>
        <ngb-tab id="tab-1">
          <ng-template ngbTabTitle>
            <span class="d-flex text-uppercase">
              <i class="tab-icon dnm-icon-equipment-settings"></i>Equipment Settings
            </span>
          </ng-template>
          <ng-template ngbTabContent>
            <equipment-settings></equipment-settings>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>

</div>


