<div class="row alloc-equip-row none-margin-hr">
  <div class="col none-padding">
    <div class="d-flex">
      <div class="alloc-equip-item d-flex align-items-center justify-content-center flex-column">
        <div class="alloc-equip-val">{{allocatedNodes}}</div>
        <div class="alloc-equip-lbl">Allocated nodes</div>
      </div>
      <div class="alloc-equip-item d-flex align-items-center justify-content-center flex-column">
        <div class="alloc-equip-val">{{allocatedUnits}}</div>
        <div class="alloc-equip-lbl">Allocated units</div>
      </div>
      <div class="alloc-equip-item d-flex align-items-center justify-content-center flex-column">
        <div class="alloc-equip-val">{{allocatedTariffs}}</div>
        <div class="alloc-equip-lbl">Allocated tariffs</div>
      </div>
    </div>
  </div>
</div>