@import 'variables.less';

.category-item {
  position: relative;
}

.category-item .delete-item {
  width: 30px;
}

.category-item .cross-icon {
  position: absolute;
  right: -30px;
  top: 50%;
  margin-top: -6px;
  cursor: pointer;
}

.category-item .cross-custom {
  position: absolute;
  right: -30px;
  top: 70%;
  margin-top: -6px;
  cursor: pointer;
}

.text-category {
  color: @color-empty;
  font-size: 12px;
  padding: 25px 0px 7px 0px;
}

.input-row {
  padding: 10px 0 10px 20px;
  margin-bottom: 0;
}

.checkbox-input {
  padding-right: 5px;
  margin-bottom: 15px;
}

.checkbox-input:not(:first-child) {
  padding-left: 22px;
}

.checkbox-input .dnm-radio-btn {
  margin-right: 13px;
}

.checkbox-input .dnm-radio-btn {
  margin-right: 13px;
}

.checkbox-input-lbl {
  font-family: Gotham Light;
  font-size: 14px;
  line-height: 14px;
  color: @color-text-tertiary;
}

.dnm-checkbox {
  margin-right: 13px;
}


.cross-custom .cross-text {
  display: inline-block;
  font-family: Gotham Medium;
  font-size: 14px;
  background: linear-gradient(to right, #cc9966, #d08752, #d47243, #d9593b, #dc3939);
  text-transform: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
