@import 'variables.less';

/* ng-deep */
::ng-deep .branch-suppliers .bl-gradient-title {
  margin-top: 32px;
}

.add-suppliers-icon {
  background-color: @color-background-dark;
  background: url('../../../assets/images/icons/suppliers/add-new-supplier.svg') no-repeat center;
  width: 40px;
  height: 40px;
  background-size: 20px;
  border-radius: 20px;
}

.icon-relative {
  display: inline-block;
  position: relative;
}
