@import 'variables.less';

.meter-label {
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  color: @color-text-primary;
}

.attribute-name {
  color: @color-description;
  white-space: nowrap;
  padding-right: 7px;
  margin-bottom: 0;
}
