@import "variables.less";

.costs-alloc-wrp {
  .consumption-nodes {
    margin-left: 50px;
    max-height: 60px;
    overflow-y: auto;
    margin-right: 10px;

    .node-name {
      font-size: 14px;
      font-family: @fontFamilyMedium;
    }
  }

  .consumption-td {
    border: none;
  }

  .reserve-space {
    height: 300px;
  }

  .col-selection {
    width: 42px;
  }

  .col-name {
    max-width: 250px;
    min-width: 120px;
  }

  .costs-alloc-rght {
    margin-top: 50px;
  }

  .col-floor {
    min-width: 86px;
  }

  .col-allocation {
    min-width: 100px;
    width: 150px;
    max-width: 200px;
  }

  .col-tenant {
    max-width: 100px;
  }

  .col-proportions {
    min-width: 130px;
    max-width: 180px;
    width: 150px;
  }

  .col-liable {
    width: 50px;
  }

  .col-actions {
    width: 50px;
  }

  .bl-gradient-title {
    line-height: 1;
    margin-bottom: 30px;
  }

  .input-row {
    margin-bottom: 20px;
  }

  .input-row:last-child {
    margin-bottom: 40px;
  }

  .alloc-stat-wrp {
    margin-bottom: 30px;
  }

  .alloc-stac-item {
    background-color: @color-background-white;
    border-radius: 10px;
    padding: 25px 10px;
    margin-right: 30px;
    min-width: 120px;
    text-align: center;
  }

  .alloc-stat-val,
  .alloc-stat-descr {
    font-family: Gotham Book;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .alloc-stat-val {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 10px;
  }

  .alloc-stat-descr {
    font-size: 13px;
  }

  .pd-top-0 {
    padding-top: 0;
  }

  .filter-lbl {
    font-family: Gotham Medium;
    font-size: 15px;
    text-transform: uppercase;
    line-height: 15px;
    color: @color-text-tertiary;
    margin-right: 20px;
  }

  .list-header {
    margin-top: 30px;
    margin-bottom: 15px;
    padding: 0 15px;
  }

  .list-body {
    border: 1px solid @color-line;
    background-color: @color-background-white;
  }

  .body-row {
    padding: 20px 15px;
    min-height: 70px;
    border-bottom: 1px solid @color-line;
  }

  .body-row.selected-row {
    background-color: @color-background-primary;
  }

  .body-row:hover {
    cursor: pointer;
  }

  .body-row:last-child {
    border-bottom: none;
  }

  .unit-spec-lbl {
    font-family: Gotham Medium;
    font-size: 14px;
    line-height: 14px;
    color: @color-text-primary;
  }

  .row-item-lbl {
    font-family: Gotham Book;
    font-size: 13px;
    line-height: 13px;
    color: @color-text-tertiary;
  }

  .alloc-input {
    width: 100px;
  }

  .dnm-discount-tick {
    margin-left: 10px;
  }

  .dnm-discount-tick.dropdown-toggle::after {
    display: none;
  }

  .discount-tick-menu {
    border: none;
    background-color: transparent;
    padding: 0;
    margin-top: 15px;
  }

  .proportion-lbl {
    font-family: Gotham Book;
    font-size: 13px;
    line-height: 25px;
    color: @color-background-white;
    border-radius: 13px;
    text-align: center;
  }

  .btn-add-item {
    display: flex;
    align-items: center;
    color: @color-main-accent;
    cursor: pointer;
    line-height: 20px;
  }

  .nav-row {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  table {
    thead {
      th {
        .dropdown-checkbox-input {
          margin-left: 0;
        }
      }
    }
  }
}
