<div class="img-modal">
  <div class="modal-body none-padding">
    <div class="row none-margin-hr">
      <div class="col-8">
        <image-cropper
          (imageCropped)="imageCropped($event)"
          (imageLoaded)="imageLoaded()"
          (loadImageFailed)="loadImageFailed()"
          [aspectRatio]="aspectRatio"
          [imageChangedEvent]="imageChangedEvent"
          [maintainAspectRatio]="true"
          [style.display]="showCropper ? null : 'none'"
          format="png"
        ></image-cropper>
      </div>
      <div
        [ngClass]="{'col-12 none-padding d-flex align-items-center justify-content-center modal-img-wrp': !showCropper}"
        class="col-4 p-1">
        <img [src]="url" class="cropped-image modal-img-item"/>
      </div>
    </div>
    <div class="row none-margin-hr">
      <div class="col-12 none-padding text-right footer-buttons">
        <button
          (click)="onClose()"
          class="dnm-btn dnm-btn-cancel text-uppercase"
          type="button"
        >
          Close
        </button>
        <ng-container *ngIf="!isReadonlyImage">
          <input
            #fileInput
            (change)="fileChangeEvent($event)"
            (click)="fileInput.value = null"
            class="input-file text-uppercase"
            id="file-{{ id }}"
            name="file"
            type="file"
          />
          <label for="file-{{ id }}">Select</label>
          <button
            (click)="onSave()"
            class="dnm-btn dnm-btn-primary text-uppercase"
            type="button"
          >
            Save
          </button>
        </ng-container>
      </div>
    </div>
  </div>
</div>
