.virtual-register {
  padding: 40px 0;

  .footer-btns {

    .dnm-btn-cancel,
    .dnm-btn-primary {
      width: 200px;
      min-width: 200px;
    }

    .dnm-btn-cancel {
      margin-right: 30px;
    }
  }
}

::ng-deep ng-select .ng-value, ::ng-deep ::placeholder, ::ng-deep ng-dropdown-panel .ng-option {
  font-size: 14px;
  font-family: 'Gotham Book', Arial, sans-serif;
}
