@import 'variables.less';

.client-building-details .building-container {
  padding-top: 30px;
}

.client-building-details .row {
  width: 100%
}

.client-building-details .main-search-input {
  width: 100%;
  margin-right: 30px;
}

.client-building-details .item-img {
  width: 200px;
  min-width: 200px;
  height: 150px;
  min-height: 150px;
  border: 1px solid @color-stroke;
  border-radius: 5px;
  background-color: @color-background-white;
}

.client-building-details .list-header {
  padding-left: 20px;
  padding-right: 20px;
  font-family: Gotham Medium;
  font-size: 12px;
  white-space: nowrap;
  color: @color-empty;
  text-decoration: none;
}

.client-building-details .logo-abbreviation {
  width: 200px;
  height: 150px;
  font-size: 30px;
}

.client-building-details .info-lbl {
  font-family: 'Gotham Book';
  color: @color-text-tertiary;
  font-size: 14px;
}

.client-building-details .building-lbl {
  font-family: Gotham Medium;
  line-height: 1;
  color: @color-text-primary;
  margin-bottom: 10px;
  font-size: 24px;
}

.client-building-details .shop-lbl {
  margin-bottom: 0px;
  font-size: 20px;
}

.client-building-details .build-info-container {
  margin-left: 40px;
}

.client-building-details .search-row {
  margin-top: 30px;
  margin-bottom: 30px;
}

.client-building-details .drpdwn-fltr-lbl {
  font-family: Gotham Medium;
  font-size: 15px;
  line-height: 15px;
  color: @color-text-tertiary;
  margin-right: 20px;
}

.client-building-details .fltr-drpdwn-btn,
.client-building-details .fltr-drpdwn-menu {
  min-width: 200px;
  width: 200px;
  text-align: left;
}

.client-building-details .fltr-drpdwn-btn {
  margin-right: 40px;
}

.client-building-details .results-label {
  font-size: 16px;
  color: @color-text-tertiary;
  margin-right: 20px;
}

.client-building-details .shops-container {
  padding-top: 30px;
  width: 100%;
}

.client-building-details .shop-item {
  padding: 20px;
  border: 1px solid @color-line;
  background: @color-background-white;
  position: relative;
  min-height: 108px;
  color: @color-text-tertiary;
  font-size: 14px;
  margin-top: 10px;
}

.client-building-details .expand-btn {
  margin-right: 15px;
}

.client-building-details .expand-edit-container {
  margin-top: 3px;
}

.client-building-details .mng-shps-stat {
  border-radius: 13px;
  color: @color-background-white;
  font-family: Gotham Book;
  font-size: 13px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
}

.client-building-details .mng-shps-stat.st-occupied {
  background-image: linear-gradient(to right, #628ad8, #5b7ec9, #5472ba, #4d66ab, #465a9d);
}

.client-building-details .mng-shps-stat.st-vacant {
  background-image: linear-gradient(to right, #e7c05c, #e4b456, #e1a850, #dd9d4c, #d89148);
}

.client-building-details .mng-shps-stat.st-spare {
  background-image: linear-gradient(to right, #899696, #7e8a8b, #747f80, #697475, #5f696a);
}

.client-building-details .footer {
  margin-top: 30px;
  margin-bottom: 30px;
}

.client-building-details .footer .dnm-btn-cancel,
.client-building-details .footer .dnm-btn-primary {
  width: 200px;
}

.client-building-details .footer .dnm-btn-cancel {
  margin-right: 30px;
}

