@import 'required-fields.less';

.set-form {

  .dnm-btn-primary {
    margin-left: 15px;
  }
}

::ng-deep .set-form {
  .supply-type-select {
    .ng-value,
    .ng-option {
      font-size: 14px;
    }

    .ng-select-container {
      padding-left: 12px;
    }
  }
}
