<div *ngIf="formSet" aria-label="Set form" class="row none-margin-hr set-form">
  <div [ngClass]="{'form-submited': submited}" class="col-12 col-md-12 col-xl-6">
    <form (submit)="onFormSubmit()" [formGroup]="formSet">
      <div class="none-padding input-row">
        <label class="text-uppercase field-name" for="set_name">Set Name</label>
        <div [ngClass]="{'dnm-invalid-inp': isNameInvalid}" class="field-value">
          <input class="form-control req-frm-fld" formControlName="name" id="set_name" name="name" placeholder="Type here"
                 required type="text"/>
          <small *ngIf="isNameInvalid" class="alert-danger ng-star-inserted">Name is required</small>
        </div>
      </div>
      <div class="none-padding input-row">
        <label class="text-uppercase field-name" for="set_supply">Supply Type</label>
        <div [ngClass]="{'dnm-invalid-inp': isSupplyTypeInvalid}" class="field-value">
          <ng-select [clearable]="false"
                     [closeOnSelect]="true"
                     [dropdownPosition]="'top'"
                     [hideSelected]="true"
                     [items]="supplyTypesList"
                     [ngClass]="{'dnm-dropdown-select-readonly': this.action === 'Save'}"
                     [searchable]="false"
                     bindLabel="label"
                     bindValue="value"
                     class="select-dropdown supply-type-select req-frm-fld"
                     formControlName="supplyType"
                     id="set_supply"
                     name="supplyType"></ng-select>
          <small *ngIf="isSupplyTypeInvalid" class="alert-danger ng-star-inserted">Supply type is required</small>
        </div>
      </div>
      <div class="none-padding input-row d-flex align-items-start">
        <label class="text-uppercase field-name" for="set_description">Description</label>
        <div class="field-value">
          <textarea class="form-control" formControlName="description" id="set_description" maxlength="256" name="description"
                    placeholder="Type here"></textarea>
        </div>
      </div>
      <div class="none-padding">
        <div class="d-flex justify-content-end w-100 changes-btns">
          <button (click)="onCancel()" class="dnm-btn dnm-btn-cancel size-lg text-uppercase" type="button">Cancel
          </button>
          <button class="dnm-btn dnm-btn-primary size-lg text-uppercase" type="submit">{{action}}</button>
        </div>
      </div>
    </form>
  </div>
</div>
