@import 'variables.less';

.node-details {
  padding: 0;
}

.node-details .search-row {
  margin-bottom: 30px;
}

.node-details .group-search-input {
  background-color: @color-background-white;
}

.node-details .nav-row {
  margin-bottom: 30px;
}

.node-details .results-label {
  font-size: 16px;
  color: @color-text-tertiary;
  margin-right: 20px;
}

.node-details .drpdwn-fltr-lbl {
  font-family: @fontFamilyMedium;
  font-size: 15px;
  line-height: 15px;
  color: @color-text-tertiary;
  margin-right: 20px;
}

.node-details .fltr-drpdwn-btn,
.node-details .fltr-drpdwn-menu {
  min-width: 200px;
  width: 200px;
  text-align: left;
}

.node-details .list-header {
  padding: 0 16px;
}

.node-details .list-header .header-field {
  text-transform: uppercase;
}

.node-details .list-body {
  border: 1px solid @color-line;
  background-color: @color-background-white;
}

.node-details .body-row {
  padding: 10px 15px;
  min-height: 70px;
  border-bottom: 1px solid @color-line;
}

.node-details .body-row:last-child {
  border-bottom: none;
}

.node-details .equip-id-lbl {
  font-family: @fontFamilyMedium;
  font-size: 16px;
  line-height: 16px;
  color: @color-text-secondary;
}

.node-details .brand-model-lbl,
.node-details .register-lbl {
  font-family: @fontFamilyBook;
  font-size: 13px;
  line-height: 13px;
  color: @color-text-tertiary;
}

.node-details .register-lbl,
.node-details .form-control {
  line-height: 30px;
  margin-bottom: 10px;
}

.node-details .register-lbl:last-child,
.node-details .form-control:last-child {
  margin-bottom: 0;
}

.node-details .register-lbl {
  line-height: 30px;
}

.node-details .footer-btns {
  margin-top: 50px;
}

.node-details .dnm-btn-cancel {
  width: 200px;
  min-width: 200px;
}

.node-details .dnm-btn-cancel {
  margin-right: 30px;
}
