@import 'variables.less';

.holidays-section {
  width: 992px;
  max-width: 992px;
}

.hollidays-section .editable-section {
  margin-top: 20px;
}

.hollidays-container {
  border-bottom: 1px solid #eeeff0;
  padding: 7px 0;
}

.hollidays-container .date-container .datepicker-wrp .form-control {
  font-family: Gotham Medium;
  font-size: 14px;
  color: @color-text-tertiary;
}

.public-holidays-title .title-item {
  font-size: 12px;
  font-family: Gotham Medium;
  color: @color-empty;
  width: 25%;
  padding-left: 20px;
}

.public-holidays-title .title-item:first-child {
  padding-left: 0;
}

.holidays-item {
  width: 25%;
}

.holidays-item .datepicker-wrp {
  width: 235px !important;
}
