.ctgr-row {
  padding-bottom: 30px;

  .blue-text-btn {
    margin-top: 30px;
  }
}

.ctgr-row .footer-buttons .dnm-btn {
  width: 200px;
}

.ctgr-row .footer-buttons .dnm-btn:first-child {
  margin-right: 30px;
}

.ctgr-row .ctgr-section-wrp {
  width: 650px;
  max-width: 650px;
}

.ctgr-row .ctgr-section-title {
  margin-bottom: 10px;
}

.ctgr-section-wrp {

  .ctgr-section-title {
    margin-bottom: 10px;
  }
}

.ctgr-section-wrp > .blue-text-btn {
  margin-top: 25px;
  margin-right: 20px;
}