@import 'variables.less';

/* #region tabs  */

.map-filter-dropdowns {
  margin-bottom: 20px;
}

.map-filter-dropdowns .dropdown-label {
  position: relative;
  top: 2px;
}

.map-filter-dropdowns .filter-dropdown {
  margin: 0 15px 0 0;
}

.map-filter-dropdowns .filter-dropdown.portfolio-dropdown {
  margin-right: 40px;
}

/* #endregion */

/* #region text settings  */

.results-label {
  font-size: 16px;
  color: @color-text-tertiary;
}

.count-label {
  font-size: 14px;
  color: @color-text-tertiary;
  margin-right: 12px;
}

.dnm-text-light {
  font-family: 'Gotham Light';
}

.dnm-text-medium {
  font-family: 'Gotham Book';
}

.dnm-text-bold {
  font-family: 'Gotham Medium';
}

.building-list-header .header-field.active {
  color: @color-text-tertiary;
}


.filter-dropdown.dropdown .dropdown-toggle {
  min-width: 175px;
}

.building-item:hover {
  cursor: pointer;
}

/* #endregion */
