@import 'variables.less';

.equipment-templates-container {
  min-height: calc(100vh - 400px);
  padding-bottom: 28px;

  .create-templates {
    min-height: calc(100vh - 400px);
    padding-top: 150px;
    padding-bottom: 50px;
  }

  .create-templates .add-location-icon {
    display: flex;
    justify-content: center;
    height: 50px;
  }

  .create-templates .create-locations-msg {
    font: 24px/30px Gotham Light;
    color: @color-empty;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 20px;
  }

  .create-templates .blue-text-btn {
    outline: none;
    font-size: 14px;
  }

  .search-row {
    margin-bottom: 20px;
  }

  .main-search-input {
    width: 100%;
    margin-right: 30px;
  }

  .group-search-input {
    background-color: @color-background-white;
  }

  .dnm-btn-filter {
    position: relative;
    background-color: @color-background-white;
    color: @color-text-tertiary;
    padding: 0 50px 0 20px;
    font-size: 14px;
    border-radius: 25px;
    line-height: 14px;
    border: 2px solid @color-main-accent;
    height: 38px;
  }

  .dnm-btn-filter.active-btn {
    background-color: @color-main-accent;
    color: @color-background-white;
  }

  .equipment-filter {
    border-top: 1px solid @color-line;
    border-bottom: 1px solid @color-line;
    margin-left: -40px;
    margin-right: -40px;
    padding: 40px;
    background-color: @color-background-secondary;
  }

  .bl-gradient-title {
    margin-bottom: 30px;
  }

  .checkbox-input {
    margin-bottom: 15px;
  }

  .checkbox-input:first-child {
    margin-top: 8px;
  }

  .checkbox-input .dnm-checkbox {
    margin-right: 13px;
  }

  .checkbox-input-lbl {
    font-family: Gotham Light;
    font-size: 14px;
    line-height: 14px;
    color: @color-text-tertiary;
  }

  .filter-row {
    margin-bottom: 15px;
  }

  .filter-dropdown {
    margin-right: 50px;
  }

  .filter-main {
    margin-bottom: 10px;
  }

  .filter-dropdown:last-child {
    margin-right: 0;
  }

  .equipment-filter-btn {
    width: 200px;
    min-width: 200px;
  }

  .dnm-btn-cancel,
  .dnm-btn-primary {
    width: 135px;
  }

  .dnm-btn-cancel {
    margin-right: 20px;
  }

  .dnm-btn-reset {
    background-color: transparent;
    color: @color-text-tertiary;
    padding: 13px 16px;
    font-size: 13px;
    border-radius: 25px;
    line-height: 14px;
    margin-right: 15px;
  }

  .nav-row {
    margin-bottom: 20px;
  }

  .results-label {
    font-size: 16px;
    line-height: 16px;
    color: @color-text-tertiary;
  }

  .drpdwn-fltr-lbl {
    font-family: Gotham Medium;
    font-size: 15px;
    line-height: 15px;
    color: @color-text-tertiary;
    margin-right: 20px;
    margin-left: 40px;
  }

  .fltr-drpdwn-btn,
  .fltr-drpdwn-menu {
    min-width: 230px;
    width: 230px;
    text-align: left;
  }

  .per-page-btn {
    width: 100px;
    min-width: 100px;
  }

  .per-page-btn,
  .per-page-menu {
    text-align: left;
  }

  .list-header {
    margin: 0 20px 12px 0;

    .header-field {
      text-transform: uppercase;
    }
  }

  .list-body {
    border: 1px solid @color-line;
    background-color: @color-background-white;
    min-height: 70px;
    max-height: calc(100vh - 550px);
    overflow: hidden;
    overflow-y: scroll;
  }

  .body-row {
    padding: 20px 0;
    min-height: 70px;
    border-bottom: 1px solid @color-line;
  }

  .body-row:last-child {
    border-bottom: none;
  }

  .body-row.selected-row {
    background-color: @color-background-primary;
  }

  .brand-model-lbl {
    font-family: Gotham Medium;
    font-size: 16px;
    line-height: 16px;
    color: @color-text-primary;
    margin-left: 15px;
  }

  .service-type {
    margin-left: 15px;
    margin-bottom: 0;
  }


  .equipment-group-lbl,
  .equipment-attr {
    font-family: Gotham Book;
    font-size: 13px;
    line-height: 13px;
    color: @color-text-tertiary;
    margin-left: 17px;
  }

  .equipment-attr {
    width: 170px;
    min-width: 170px;
    margin-bottom: 10px;
  }

  .equipment-attr-lbl {
    color: @color-description;
    margin-right: 5px;
  }

  .equipment-attr-val {
    color: @color-text-tertiary;
  }

  .filter-row .filter-dropdown {
    margin-right: 10px;
  }

  .filter-row .filter-dropdown.filter-inputs {
    margin-bottom: 10px;
  }
}

.footer-buttons {
  .dnm-btn-cancel,
  .dnm-btn-primary {
    width: 200px;
    min-width: 200px;
  }

  .dnm-btn-cancel {
    margin-right: 30px;
  }
}

