@import 'required-fields.less';

.modal-body {
  padding: 0 40px 50px;
}

.footer-buttons {
  margin-top: 35px;
}

.dnm-btn {
  width: 200px;
  min-width: 200px;
}

.dnm-btn:first-child {
  margin-right: 30px;
}
