@import 'variables.less';

.new-tariff-version-wrp .modal-body {
  padding: 15px 40px 50px;
}

.new-tariff-version-wrp .tariff-version-icon {
  background-image: url('../../../../../assets/images/icons/suppliers/tariff-create-popup.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 50px;
  margin-top: 20px;
}

.new-tariff-version-wrp .popup-title {
  font-family: Gotham Medium;
  font-size: 30px;
  color: @color-text-primary;
  margin-bottom: 35px;
}

.new-tariff-version-wrp .version-inpt-fld {
  width: 230px;
  min-width: 230px;
}

.new-tariff-version-wrp .date-text-lbl {
  font-family: Gotham Book;
  font-size: 14px;
  line-height: 13px;
  color: @color-text-tertiary;
}

.new-tariff-version-wrp .button-container {
  margin-top: 50px;
}

.new-tariff-version-wrp .button-container .dnm-btn {
  width: 200px;
}

.new-tariff-version-wrp .button-container .dnm-btn:first-child {
  margin-right: 30px;
}
