@import 'variables.less';

.location-container {
  margin-bottom: 60px;
}

.location-container .row-description {
  align-items: baseline;
}

.location-container .bl-gradient-title {
  margin-bottom: 30px;
}

.location-container .equip-det-title {
  margin-top: 35px;
}

.location-container .checkbox-input .dnm-checkbox {
  margin-right: 13px;
}

.location-container .checkbox-input-lbl {
  font-family: Gotham Light;
  font-size: 14px;
  line-height: 14px;
  color: @color-text-tertiary;
}

.location-container .footer-btns {
  margin-top: 35px;
}

.location-container .dnm-btn-cancel,
.location-container .dnm-btn-red {
  margin-right: 30px;
}

.location-container .dnm-btn-cancel,
.location-container .dnm-btn-red,
.location-container .dnm-btn-primary {
  width: 200px;
  min-width: 200px;
}
