@import 'variables.less';

.bl-gradient-title {
  margin-top: 32px;
}

/* Filter block */
.filter-block {
  margin-top: 35px;
  margin-bottom: 20px;
}

.filter-block .results-label {
  margin-right: 20px;
}

.filter-block .count-label {
  font-weight: bold;
  color: @color-text-tertiary;
  margin-right: 10px;
}


