<div class="auth-page reset-password-page" id="reset-password-page-container">
  <div class="row none-margin-hr">
    <div class="col-lg-6 col-12 auth-left">
      <div *ngIf="code && !hasBeenReseted" class="centered-block">
        <reset-password-form (formSubmit)="onSubmitForm($event)" [email]="email" [isCreate]="isCreate">
        </reset-password-form>
      </div>
      <div *ngIf="!code" class="centered-block">
        <h4>Reset url is invalid</h4>
      </div>
      <div *ngIf="hasBeenReseted" class="centered-block">
        <div id="reset-password-confirmation">
          <p *ngIf="isCreate" class="text-center">You are registered</p>
          <p *ngIf="!isCreate" class="text-center">Your password has been reset</p>
          <div class="row submit-buttons">
            <a [routerLink]="['/login']" class="btn col">Login</a>
          </div>
        </div>
      </div>
    </div>
    <auth-logo></auth-logo>
  </div>
</div>
