@import 'src/styles/variables.less';

.table-virtual-registers {
  margin: 0 15px 0 15px;

  .head-col-registers,
  .virtual-register-name {
    padding-left: 18px;
  }

  .virtual-register-name {
    font-family: @fontFamilyMedium;
    font-size: 16px;
    line-height: 16px;
    color: @color-text-primary;
    cursor: pointer;
  }

  .cell-equipment {
    .dropdown {
      margin-right: 10px;
    }
  }
}

.search-row {
  margin-bottom: 30px;
}

.per-page-lbl {
  font-family: @fontFamilyMedium;
  font-size: 15px;
  line-height: 15px;
  color: @color-text-tertiary;
  margin-right: 20px;
}

/deep/ .dnm-dropdown-select.per-page-select .ng-select-container {
  min-width: 100px;
  width: 100px;
}

.vr-form {
  width: 100%;
}
