@import 'variables.less';

.oper-agr-contacts .fld-val-txt {
  font-family: Gotham Book;
  font-size: 14px;
  color: @color-text-tertiary;
  padding-left: 17px;
  height: 35px;
  align-items: center;
  display: flex;
}

.oper-agr-contacts .alert-danger {
  margin-top: 5px;
}
