@import 'required-fields.less';

.cteate-tenant .modal-body {
  padding: 20px 40px 50px 40px;
}

.cteate-tenant .add-item-row {
  margin-bottom: 15px;
}

.cteate-tenant .footer-buttons {
  margin-top: 50px;
}

.cteate-tenant .dnm-btn-cancel,
.cteate-tenant .dnm-btn-primary {
  width: 200px;
}

.cteate-tenant .blue-text-btn:nth-child(1) {
  margin-right: 30px;
}

.cteate-tenant .dnm-btn-cancel {
  margin-right: 30px;
}

::ng-deep .cteate-tenant .nat-tnt-drpdwn .ng-input {
  padding-top: 4px;
}

::ng-deep .cteate-tenant .nat-tnt-drpdwn .ng-input input {
  padding-left: 20px;
}

::ng-deep .cteate-tenant .nat-tnt-drpdwn .ng-select-container {
  padding-left: 12px;
}

::ng-deep .cteate-tenant .nat-tnt-drpdwn .ng-value {
  font-size: 14px;
  line-height: 21px;
}

::ng-deep .cteate-tenant .nat-tnt-drpdwn .ng-option {
  font-size: 14px;
}
