@import "variables.less";

.manage-tariff-version {
  .title-container {
    padding: 30px 15px 15px 15px;

    .page-title {
      font-size: 30px;
      line-height: 25px;
      min-height: 52px;
    }

    .version-info {
      color: @color-empty;
      font-size: 16px;
      margin-right: 50px;
    }
  }
}
