@import 'variables.less';

.chrg-item-wrp {
  border: 1px solid @color-line;
  background-color: @color-background-white;
  margin-bottom: 10px;
}

.chrg-item-wrp .chrg-name-col {
  padding-left: 30px;
  border-right: 1px solid @color-line;
}

.chrg-item-wrp .chrg-name-wrp {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}

.chrg-item-wrp .chrg-name-wrp:hover {
  cursor: pointer;
}

.chrg-item-wrp .chrg-name-val {
  display: inline-block;
  font-family: Gotham Medium;
  font-size: 16px;
  line-height: 1;
  color: @color-background-primary;
  margin-bottom: 20px;
  max-width: 100%;
}

.chrg-item-wrp .chrg-name-dets {
  line-height: 1;
  margin-bottom: 10px;
}

.chrg-item-wrp .details-fld-name,
.chrg-item-wrp .details-fld-val {
  font-family: Gotham Book;
  font-size: 13px;
  line-height: 1;
}

.chrg-item-wrp .details-fld-name {
  color: @color-description;
  margin-right: 5px;
}

.chrg-item-wrp .details-fld-val {
  color: @color-text-tertiary;
}

.chrg-item-wrp .item-row {
  border-bottom: 1px solid @color-line;
  padding: 20px 15px;
}

.chrg-item-wrp .item-row:last-child {
  border-bottom: none;
}

.chrg-item-wrp .chrg-version-val {
  font-family: Gotham Medium;
  font-size: 13px;
  line-height: 1;
  color: @color-text-tertiary;
}

.chrg-item-wrp .chrg-item-list,
.chrg-item-wrp .chrg-item-val {
  font-family: Gotham Book;
  font-size: 13px;
  line-height: 20px;
  color: @color-text-tertiary;
}

.chrg-item-wrp .chrg-item-list {
  margin: 0;
  padding-left: 16px;
}

.chrg-item-wrp li .list-item-val {
  position: relative;
  left: -5px;
}
