@import 'variables.less';

.trf-item-wrp {
  border: 1px solid @color-line;
  background-color: @color-background-white;
  margin-bottom: 10px;
}


.trf-item-wrp .trf-name-col {
  padding-left: 30px;
  border-right: 1px solid @color-line;
}

.trf-item-wrp .trf-name-wrp {
  padding-top: 20px;
  padding-bottom: 20px;
}

.trf-item-wrp .trf-name-wrp:hover {
  cursor: pointer;
}

.trf-item-wrp .trf-name-val {
  display: inline-block;
  font-family: Gotham Medium;
  font-size: 16px;
  line-height: 1;
  color: @color-text-primary;
  margin-bottom: 20px;
}

.trf-item-wrp .trf-name-dets {
  line-height: 1;
  margin-bottom: 10px;
}

.trf-item-wrp .service-type {
  margin-top: 20px;
}

.trf-item-wrp .details-fld-name,
.trf-item-wrp .details-fld-val {
  font-family: Gotham Book;
  font-size: 13px;
  line-height: 1;
}

.trf-item-wrp .details-fld-name {
  color: @color-description;
  margin-right: 5px;
}

.trf-item-wrp .details-fld-val {
  color: @color-text-tertiary;
}

.trf-item-wrp .item-row {
  border-bottom: 1px solid @color-line;
  padding: 20px 15px;
}

.trf-item-wrp .item-row:hover {
  cursor: pointer;
}

.trf-item-wrp .item-row:last-child {
  border-bottom: none;
}

.trf-item-wrp .trf-version-val {
  font-family: Gotham Medium;
  font-size: 13px;
  line-height: 1;
  color: @color-text-tertiary;
}

.trf-item-wrp .trf-item-list,
.trf-item-wrp .trf-item-val {
  font-family: Gotham Book;
  font-size: 13px;
  line-height: 20px;
  color: @color-text-tertiary;
}

.trf-item-wrp .trf-item-list {
  margin: 0;
  padding-left: 16px;
}

.trf-item-wrp li .list-item-val {
  position: relative;
  left: -5px;
}

.trf-item-wrp .dropdown-menu {
  left: -216px;
  min-width: 235px;
}
