.company-logo {
    margin: 0 auto;
}
.size-13 {
    font-size: 13px;
}
.size-18 {
    font-size: 18px;
}
.size-16 {
    font-size: 16px;
}
.text-dark {
    color: black;
}
.bg-gray {
    background-color: #E0E0E0;
}
.rounded-xl {
    border-radius: 18px;
}
.rounded-lg {
    border-radius: 16px;
}
.card {
    border-radius: 18px;
    border: 1px solid black;
}
.border-1 {
    border: 1px solid black;
}
.border-right-1 {
    border-right: 1px solid black;
}
.border-left-1 {
    border-left: 1px solid black;
}
.border-bottom-1 {
    border-bottom: 1px solid black;
}
.building-detail .row {
    height: 32px;
    display: flex;
    align-items: center;
}
.building-detail .row > div {
    display: flex;
    height: 100%;
    align-items: center;
}
.card.table {
    border-radius: 8px;
}
.table-header {
    height: 40px;
    border-radius: 8px;
    border-bottom: 1px solid black;
}
.table-footer {
    border-radius: 8px;
    border-top: 1px solid black;
}
.meter-table .table-title {
    padding-top: 4px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}
.meter-table .table-header{
    border-radius: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
meter-reading-chart {
    height: 100%;
}