<div class="popup-container">
  <div class="modal-header">
    <button (click)="close()" aria-label="Close" class="close" data-dismiss="modal" type="button">
      <i aria-hidden="true" class="icon-relative close-popup-icon"></i>
    </button>
  </div>
  <div class="popup-body">
    <div class="container-fluid text-center">
      <i class="icon-relative check-mark-icon"></i>
      <div class="popup-title">The updated tariffs applied.</div>
      <div class="description">
        The updated tariffs have been applied to the related nodes.
      </div>
    </div>
  </div>
  <div class="modal-footer d-flex justify-content-center">
    <button (click)="close()" class="dnm-btn dnm-btn-primary text-uppercase" type="button">Ok</button>
  </div>
</div>
