@import 'variables.less';

.calc-fact-wrp .header-text {
  font-family: Gotham Medium;
  font-size: 24px;
  color: @color-text-primary;
}

.calc-fact-wrp .modal-body {
  padding: 0 40px;
}

.calc-fact-wrp .body-text {
  font-family: Gotham Light;
  color: @color-text-tertiary;
  font-size: 14px;
  margin-bottom: 20px;
}

.calc-fact-wrp .items-text {
  font-family: Gotham Medium;
}

.calc-fact-wrp .calc-fact-lbl {
  margin-right: 30px;
  padding: 0;
}

.calc-fact-wrp .modal-btns-wrp {
  padding: 50px 40px;
}

.calc-fact-wrp .dnm-btn-cancel,
.calc-fact-wrp .dnm-btn-primary {
  width: 200px;
  min-width: 200px;
}

.calc-fact-wrp .dnm-btn-cancel {
  margin-right: 30px;
}

::ng-deep .calc-fact-modal .modal-dialog {
  width: 640px;
}
