@import 'variables.less';

.alloc-units-wrp .search-row {
  margin-top: -10px;
  margin-bottom: 30px;
}

.alloc-units-wrp .nav-row {
  margin-bottom: 30px;
}

.alloc-units-wrp .drpdwn-wrp {
  margin-left: 30px;
}

.alloc-units-wrp .group-search-input {
  background-color: @color-background-white;
}

.alloc-units-wrp .results-label {
  font-size: 16px;
  color: @color-text-tertiary;
  margin-right: 20px;
}

.alloc-units-wrp .drpdwn-fltr-lbl {
  font-family: Gotham Medium;
  font-size: 15px;
  line-height: 15px;
  color: @color-text-tertiary;
  margin-right: 20px;
}

.alloc-units-wrp .fltr-drpdwn-btn,
.alloc-units-wrp .fltr-drpdwn-menu {
  min-width: 200px;
  width: 210px;
  text-align: left;
}


.alloc-units-wrp .list-header {
  text-transform: uppercase;
}

.alloc-units-wrp .list-header .header-field {
  padding-left: 30px;
}

.alloc-units-wrp .list-header .header-field:hover {
  color: @color-text-tertiary
}

.alloc-units-wrp .list-body .body-field {
  padding: 25px 30px;
}

.alloc-units-wrp .list-body .body-field {
  font-size: 13px;
  color: @color-text-secondary;
}

.alloc-units-wrp .body-field .unit-field {
  font-family: Gotham Medium;
  font-size: 16px;
  color: @color-text-primary;
}

.alloc-units-wrp .list-header {
  margin-bottom: 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #e1e1e1;
}

.alloc-units-wrp .body-row {
  background-color: @color-background-white;
  border: 1px solid #e1e1e1;
  border-top: none;
}

.alloc-units-wrp .body-row.selected {
  background-color: @color-background-primary;
}

.alloc-units-wrp .footer-btns {
  margin-top: 50px;
}

.alloc-units-wrp .dnm-btn-cancel,
.alloc-units-wrp .dnm-btn-primary {
  width: 200px;
  min-width: 200px;
}

.alloc-units-wrp .dnm-btn-cancel {
  margin-right: 30px;
}

@media (min-width: 768px) {
  .alloc-units-wrp .main-search-input {
    margin-right: 40px;
  }
}
