//@import 'variables.less';
@import 'required-fields.less';

.ctgr-row .ctgr-section-wrp {
  width: 650px;
  max-width: 650px;
}

.ctgr-row .ctgr-section-title {
  margin-bottom: 10px;
}

.category-items-wrp {

  // .ctgr-section-title {
  //   margin-bottom: 35px;
  // }

  .line-div {
    border-bottom: 1px solid #eeeff0;
  }

  .input-row.line-div {
    padding: 7px 0 7px 20px;
    margin-bottom: 0;
  }

  .text-form-field {
    padding-top: 0;
  }

  .blue-text-btn {
    margin-right: 20px;
    margin-bottom: 35px;
  }

  .delete-item {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    cursor: pointer;
  }

  .custom-ctgr-wrp {
    padding-top: 10px;
  }

  .del-ctgr-btn {
    cursor: pointer;
    line-height: 1;

    .btn-lbl {
      margin-left: 10px;
      font-family: Gotham Book;
      font-size: 14px;
      background: linear-gradient(to right, #e4877a, #dc3939);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .custom-ctgr-name {
    font-family: Gotham Medium;
    font-size: 12px;
    color: @color-empty;
  }

  .ctgr-rules-wrp {
    margin-left: -40px;
    margin-right: -40px;
    padding: 40px;
    border-top: 1px solid @color-line;
    border-bottom: 1px solid @color-line;
    background-color: @color-background-secondary;
  }

  .ctgr-rules-title {
    font-family: Gotham Medium;
    font-size: 14px;
    line-height: 1;
    color: @color-text-primary;
  }
}

