@import 'variables.less';

.package-customization {
  padding-top: 20px;
}

.package-customization .page-title {
  font-size: 30px;
  line-height: 30px;
}

.package-customization .page-description {
  font-family: Gotham Book;
  font-size: 16px;
  line-height: 24px;
  color: @color-description;
  margin-top: 10px;
  margin-bottom: 40px;
}

.package-customization .section-title {
  line-height: 1;
  margin-bottom: 20px;
}

.package-customization .supply-types-row {
  margin-bottom: 40px;
}

.package-customization .checkbox-input {
  padding-left: 20px;
}

.package-customization .checkbox-input:first-child {
  padding-left: 0;
}

.package-customization .checkbox-input .dnm-checkbox {
  margin-right: 12px;
}

.package-customization .checkbox-input-lbl {
  font-family: Gotham Light;
  font-size: 14px;
  line-height: 14px;
  color: @color-text-tertiary;
}

.package-customization .tot-price {
  background-color: @color-background-white;
  border-radius: 5px;
  width: 400px;
  padding: 20px 40px;
  margin-bottom: 30px;
}

.package-customization .tot-price-lbl,
.package-customization .tot-price-val {
  .gradient-dark-green();
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.package-customization .tot-price-lbl {
  font-family: Gotham Book;
  font-size: 14px;
  line-height: 20px;
}

.package-customization .tot-price-val {
  font-family: Gotham Bold;
  font-size: 18px;
  line-height: 20px;
}

.package-customization .tree-header {
  margin-bottom: 20px;
}

.package-customization .active-services-numb {
  font-family: Gotham Light;
  font-size: 16px;
  line-height: 1;
  color: @color-text-tertiary;
}

.package-customization .footer-buttons {
  display: flex;
  margin-top: 30px;
  margin-bottom: 20px;
}

.package-customization .footer-buttons button {
  width: 200px;
  margin-right: 30px;
}

.package-customization .footer-buttons button:last-child {
  margin-right: 0;
}
