@import 'variables.less';

.table-row {
    margin: 0;
    padding: 6px 0 6px 6px;
    border-top: 1px solid @color-line;
    font-size: 14px;
}
.table-row .service-type {
    margin-bottom: 0px;
}
.table-row .service-type-section {
  min-width: 110px;
}
.w-full {
  width: 100%;
}
.expand-btn {
  margin-right: 10px;
  cursor: pointer;
}