@import "variables";

.modal-body {
  padding: 20px 40px;
}

.reading-item {
  padding: 5px;
  background-color: #dee8f7;
  color: #00aeef;
  font-size: 14px;
  border-radius: 10px;
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;
}

.field-value {
  background: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 100px;
}

.footer-buttons button {
  min-width: 200px;
}

.report-select {
  margin: 36px 0 33px 0;
  color: @color-text-primary;
  font-size: 16px;
  font-family: @fontFamilyMedium;
}

.radio-input-lbl {
  color: @color-text-primary;
  font-size: 12px;
  font-family: @fontFamilyBook;
  margin-left: 20px;
  line-height: 25px;
}
