@import 'variables.less';

.building-name {
  font-family: Gotham Medium;
  font-size: 18px;
  color: @color-text-primary;
  padding-right: 30px;
}

.type-name {
  font-family: Gotham Book;
  font-size: 12px;
  color: @color-empty;
}

.dropdown-toggle::after {
  border-top: none;
  content: '';
  background-size: 10px 6px;
  width: 10px;
  height: 6px;
  vertical-align: 0;
  margin-left: 10px;
}

.nav-item.show.dropdown .dropdown-toggle::after {
  transform: rotate(180deg);
}

.manage-building {
  .navbar-nav {
    width: 220px;
  }

  .navbar-nav .dropdown-menu {
    position: absolute;
  }

  .dropdown-toggle {
    margin: 8px 16px 8px 0;
    padding: 0;
    border-right: 1px solid @color-line;
  }

  .nav-btn {
    color: @color-text-primary;
    padding: 10px 18px;
    border-radius: 20px;
  }

  .nav-btn.active {
    color: @color-background-white;
    background-color: @color-main-accent;
  }

  .nav-btn:focus {
    box-shadow: none;
  }

  ul.dnm-horizontal-list {
    margin-top: 30px;
    margin-bottom: 16px;
    padding: 0px;
  }

  ul.dnm-horizontal-list li {
    padding-bottom: 10px;
  }
}

::ng-deep .top-container.manage-building {
  height: auto;
  min-height: 90px;
}

@media (max-width: 1145px) {
  .manage-building-nav-menu {
    display: flex;
  }

  .nav-btn .nav-text {
    display: none;
  }

  .nav-menu-item {
    flex: 1;
  }
}
