@import 'variables.less';

.set-custom-attribute-modal {
  .attribute-content {
    padding: 0px 25px;
  }

  .attribute-value {
    padding: 0px 0px 10px 0px;
  }

  .attribute-reason-comment {
    padding: 10px 0px;

    .form-control {
      font-family: @fontFamilyBook;
    }
  }
}
