<form (submit)="onResetPasswordSubmit()" [formGroup]="resetForm" [ngClass]="{'form-submited': submited}"
      id="login-form">
  <h4 class="text-center">Setup your password</h4>
  <div class="form-group">
    <label for="email">Email Address</label>
    <div class="input-box">
      <input class="form-control" email formControlName="email" id="email" name="email" required spellcheck="false"
             type="email">
      <span class="check-icon"></span>
    </div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <div class="input-box">
      <input class="form-control" formControlName="password" id="password" name="password" required type="password">
      <span class="eye-icon" showPassword></span>
    </div>
  </div>
  <div class="form-group">
    <label for="confirm-password">Confirm Password</label>
    <div [ngClass]="{'dnm-invalid-inp': submited && resetForm.controls.confirmPassword.invalid}" class="input-box">
      <input class="form-control" formControlName="confirmPassword" id="confirm-password" name="confirm-password"
             required type="password">
      <span class="eye-icon" showPassword></span>
    </div>
    <div *ngIf="submited && resetForm.controls.confirmPassword.invalid" class="alert-danger">Password not match</div>
  </div>
  <div class="row submit-buttons">
    <button class="btn col" type="submit">Submit</button>
  </div>
</form>
