.create-or-edit-location .modal-body {
  padding: 40px;
}

.create-or-edit-location .row-description {
  align-items: baseline;
}

.create-or-edit-location .footer-btns {
  margin-top: 50px;
}

.create-or-edit-location .dnm-btn-cancel,
.create-or-edit-location .dnm-btn-primary {
  width: 200px;
  min-width: 200px;
}

.create-or-edit-location .dnm-btn-cancel {
  margin-right: 30px;
}
