<div class="popup-mapinfo-block">
  <div class="mapinfo-block-header">
    <div class="building-name">{{model.name}}</div>
    <div class="building-params-row">
      <div class="building-param">Total GLA: {{model.totalGLA}}</div>
    </div>
  </div>
  <div class="mapinfo-block-body">
    <div class="building-info-item">
      <span *ngIf="model.address.suburb">{{model.address.suburb + ', '}}</span>
      <span>{{model.address.city}}</span>
    </div>
    <div class="building-info-item">
      {{model.category}}
    </div>
    <div class="building-info-item">
      {{model.client.name}}
    </div>
    <div class="building-info-item">
      {{model.clientPortfolio.name}}
    </div>
  </div>
  <div class="mapinfo-block-footer">
    <div class="container">
      <div class="row">
        <a [href]="redirectToView" class="col-md-6 mapinfo-footer-btn">View</a>
        <a [href]="redirectToEdit" class="col-md-6 mapinfo-footer-btn">Edit</a>
      </div>
    </div>
  </div>
</div>
