<div class="delete-service">
  <div class="modal-header">
    <button (click)="dismiss()" aria-label="Close" class="close" data-dismiss="modal" type="button">
      <i aria-hidden="true" class="icon-relative close-popup-icon"></i>
    </button>
  </div>
  <div class="modal-body">
    <ng-container *ngIf="objectCount">
      <div class="del-serv-icon d-flex justify-content-center"></div>
      <div class="del-serv-h d-flex justify-content-center">
        Cannot Delete This Service
      </div>
      <div class="del-serv-description d-flex justify-content-center">
        This service is already in use for {{objectCount}} objects.<br>You can deactivate this service.
      </div>
      <div class="d-flex justify-content-center">
        <label class="dnm-switch-btn service-status">
          <input (ngModelChange)="onChangeServiceStatus({serviceId: serviceId, value: status})" [(ngModel)]="status"
                 type="checkbox">
          <span class="dnm-switch-slider round"></span>
        </label>
        <span *ngIf="!status" class="service-status">
            Service is inactive
          </span>
        <span *ngIf="status" class="service-status">
            Service is active
          </span>
      </div>
    </ng-container>
    <ng-container *ngIf="!objectCount">
      <div class="container-fluid text-center">
        <div class="popup-title">Confirm Deletion</div>
        <div class="description">
          Are you sure you want to delete this item?<br/>It cannot be undone!
        </div>
        <div class="button-container">
          <button (click)="dismiss()" class="dnm-btn dnm-btn-cancel text-uppercase" type="button">Cancel</button>
          <button (click)="close()" class="dnm-btn dnm-btn-delete text-uppercase" type="button">Delete</button>
        </div>
      </div>
    </ng-container>
  </div>

</div>
