<div class="container-fluid statistic-wrp">
  <div class="row none-margin-hr">
    <div class="col none-padding">
      <div class="d-flex align-items-center">
        <span class="text-uppercase filter-drpdwn-lbl">Select Range:</span>
        <div class="dropdown filter-dropdown d-inline-block small" ngbDropdown placement="bottom-right">
          <button class="btn btn-secondary dropdown-toggle bld-per-drpdwn-btn text-left" ngbDropdownToggle
                  type="button">
            19/04/2018 - 19/04/2019
          </button>
          <div class="dropdown-menu bld-per-drpdwn-menu" ngbDropdownMenu>
            <button class="dropdown-item" type="button">19/04/2018 - 19/04/2019</button>
            <button class="dropdown-item" type="button">19/04/2018 - 19/04/2019</button>
            <button class="dropdown-item" type="button">19/04/2018 - 19/04/2019</button>
            <button class="dropdown-item" type="button">19/04/2018 - 19/04/2019</button>
            <button class="dropdown-item" type="button">19/04/2018 - 19/04/2019</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row none-margin-hr">
    <div class="col none-padding">
      <div class="bl-gradient-title">Shop Area stat</div>
      <supply-type-stat></supply-type-stat>
    </div>
  </div>
  <div class="row none-margin-hr">
    <div class="col none-padding">
      <div class="bl-gradient-title">Common Area stat</div>
      <supply-type-stat></supply-type-stat>
    </div>
  </div>
</div>
