@import 'variables.less';

.equip-to-shop {
  margin-bottom: 60px;
}

.equip-to-shop .search-row {
  margin-bottom: 30px;
}

.equip-to-shop .main-search-input {
  width: 100%;
  margin-right: 30px;
}

.equip-to-shop .group-search-input {
  background-color: @color-background-white;
}

.equip-to-shop .nav-row {
  margin-top: 40px;
  margin-bottom: 30px;
}

.equip-to-shop .results-label {
  font-size: 16px;
  color: @color-text-tertiary;
}


.equip-to-shop .drpdwn-fltr-lbl {
  font-family: Gotham Medium;
  font-size: 15px;
  line-height: 15px;
  color: @color-text-tertiary;
  margin-right: 20px;
  margin-left: 40px;
}

.equip-to-shop .fltr-drpdwn-btn,
.equip-to-shop .fltr-drpdwn-menu {
  min-width: 200px;
  width: 207px;
  text-align: left;
}

.equip-to-shop .fltr-drpdwn-menu .dropdown-item {
  text-transform: none;
  font-size: 15px;
}

.equip-to-shop .per-page-btn {
  width: 100px;
  min-width: 100px;
}

.equip-to-shop .per-page-btn,
.equip-to-shop .per-page-menu {
  text-align: left;
}

.equip-to-shop .list-header {
  padding-left: 15px;
  padding-right: 15px;
}

.equip-to-shop .list-header .header-field {
  text-transform: uppercase;
}

.equip-to-shop .list-body {
  border: 1px solid @color-line;
  background-color: @color-background-white;
  max-height: 700px;
  overflow: hidden;
  overflow-y: auto;
}

.equip-to-shop .body-row {
  padding: 20px 15px;
  min-height: 70px;
  border-bottom: 1px solid @color-line;
}

.equip-to-shop .body-row:last-child {
  border-bottom: none;
}

.equip-to-shop .body-row.selected-row {
  background-color: @color-background-primary;
}

.equip-to-shop .shop-name-lbl {
  font-family: Gotham Medium;
  font-size: 16px;
  line-height: 16px;
  color: @color-text-primary;
}

.equip-to-shop .area-lbl,
.equip-to-shop .tenant-name-lbl,
.equip-to-shop .floor-lbl,
.equip-to-shop .equip-status-lbl {
  font-family: Gotham Book;
  font-size: 13px;
  line-height: 13px;
  color: @color-text-tertiary;
}

.equip-to-shop .footer-btns {
  margin-top: 35px;
}

.equip-to-shop .dnm-btn-cancel,
.equip-to-shop .dnm-btn-red {
  margin-right: 30px;
}

.equip-to-shop .dnm-btn-cancel,
.equip-to-shop .dnm-btn-red,
.equip-to-shop .dnm-btn-primary {
  width: 200px;
  min-width: 200px;
}
