.map-filter-dropdowns {
  margin-bottom: 20px;
}

.map-filter-dropdowns .dropdown-label {
  font-family: Gotham Medium;
  margin-right: 20px;
}

.map-filter-dropdowns .filter-dropdown {
  margin-right: 15px;
}
