.ctgr-section-wrp {

  .ctgr-section-title {
    margin-bottom: 10px;
  }
}

.ctgr-section-wrp > .blue-text-btn {
  margin-top: 25px;
  margin-right: 20px;
}

.ctgr-row .ctgr-section-wrp {
  width: 650px;
  max-width: 650px;
}