@import 'variables.less';

.supplier-list {
  padding: 40px 0 20px;
}

.supplier-list .search-row {
  margin-bottom: 30px;
}

.supplier-list .main-search-input {
  width: calc(100% - 154px);
  margin-right: 30px;
}

.supplier-list .group-search-input {
  background-color: @color-background-white;
}

.supplier-list .nav-row {
  margin-top: 40px;
  margin-bottom: 30px;
}

.supplier-list .results-label {
  font-size: 16px;
  color: @color-text-tertiary;
}

.supplier-list .fltr-drpdwn-lbl,
.supplier-list .per-page-lbl {
  font-family: Gotham Medium;
  font-size: 15px;
  line-height: 15px;
  color: @color-text-tertiary;
  margin-right: 20px;
}

.supplier-list .fltr-drpdwn-btn,
.supplier-list .fltr-drpdwn-menu {
  min-width: 200px;
  width: 200px;
  text-align: left;
}

.supplier-list .fltr-drpdwn-menu .dropdown-item {
  text-transform: unset;
}

.supplier-list .per-page-btn {
  min-width: 100px;
  width: 100px;
  text-align: left;
}

.supplier-list .list-header {
  padding: 0 15px;
}

.supplier-list .list-header .header-field {
  text-transform: uppercase;
}

.supplier-list .body-row {
  margin-bottom: 10px;
}
