@import 'variables.less';

.dropdown-item {
  color: @color-text-tertiary;
  cursor: pointer;
  padding: 8px 12px;
  font-size: 14px;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: @color-background-tertiary;
  color: @color-text-tertiary;
}
