@import 'variables.less';

.badge-recommended {
  position: relative;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  border-radius: 14px;
  margin-left: 2px;
  color: #4B6888;
  border: 1px solid #C9DAEC;
  padding: 5px 8px;
}

.ng-select-label-norecommended,
.ng-select-label-recommended {
  color: @color-description;
}

.ng-select-label-norecommended {
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  margin: 7px 20px;
}