@font-face {
  font-family: Gotham Medium;
  src: data-uri("../assets/fonts/Gotham/Gotham-Medium.otf");
}

@font-face {
  font-family: Gotham Book;
  src: data-uri("../assets/fonts/Gotham/Gotham-Book.otf");
}

@font-face {
  font-family: Gotham Light;
  src: data-uri("../assets/fonts/Gotham/Gotham-Light.otf");
}

@font-face {
  font-family: Gotham Bold;
  src: data-uri("../assets/fonts/Gotham/Gotham-Bold.otf");
}

/* utility classes */
.dnm-text-light {
  font-family: 'Gotham Light';
}

.dnm-text-medium {
  font-family: 'Gotham Book';
}

.dnm-text-bold {
  font-family: 'Gotham Medium';
}

.nav-text {
  text-transform: uppercase;
  font-size: 12px;
  font-family: Gotham Medium;
}
