.nav-icon {
  display: inline-block;
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
}

.dnm-icon-virtual-registers {
  background-image: url("../assets/images/icons/equipment/vr.svg");
  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
}

.tab-icon.dnm-icon-equipment-virtual-registers {
  background-repeat: no-repeat;
  display: inline-block;
  left: -26px;
  top: 5px;
  position: absolute;
  width: 20px;
  height: 20px;
}

.occupation-icon {
  background: url('../assets/images/icons/occupation.svg') no-repeat;
}

.tenants-icon {
  background: url('../assets/images/icons/tenants.svg') no-repeat;
}

.building-equipment-icon {
  background: url('../assets/images/icons/building-equipment.svg') no-repeat;
}

.meter-readings-icon {
  background: url('../assets/images/icons/meter-readings.svg') no-repeat;
}

.tariffs-assignment-icon {
  background: url('../assets/images/icons/tariffs-assignment.svg') no-repeat;
}

.reports-icon {
  background: url('../assets/images/icons/reports.svg') no-repeat;
}

.bld-history-icon {
  background-image: url('../assets/images/icons/building-history/building-history-icon.svg');
}

.nav-btn.active .occupation-icon {
  background: url('../assets/images/icons/occupation-active.svg') no-repeat;
}

.nav-btn.active .tenants-icon {
  background: url('../assets/images/icons/tenants-active.svg') no-repeat;
}

.nav-btn.active .building-equipment-icon {
  background: url('../assets/images/icons/building-equipment-active.svg') no-repeat;
}

.nav-btn.active .meter-readings-icon {
  background: url('../assets/images/icons/meter-readings-active.svg') no-repeat;
}

.nav-btn.active .tariffs-assignment-icon {
  background: url('../assets/images/icons/tariffs-assignment-active.svg') no-repeat;
}

.nav-btn.active .reports-icon {
  background: url('../assets/images/icons/reports-active.svg') no-repeat;
}

.nav-btn.active .bld-history-icon {
  background-image: url('../assets/images/icons/building-history/building-history-icon-hover.svg');
}

.expand-arrow-icon {
  display: inline-block;
  background-image: url("../assets/images/icons/expand-arrow.png");
  background-position: center right;
  background-repeat: no-repeat;
  height: 12px;
  width: 12px;
}

.collapse-arrow-icon {
  display: inline-block;
  background-image: url("../assets/images/icons/collapse-arrow.png");
  background-position: center right;
  background-repeat: no-repeat;
  height: 12px;
  width: 12px;
}

.search-icon {
  background: url("../assets/images/icons/search.png") no-repeat center;
  height: 20px;
  width: 20px;
}

.expand-icon {
  background: url("../assets/images/icons/expand-grey.svg") no-repeat center;
  height: 18px;
  width: 20px;
}

.collapse-icon {
  background: url("../assets/images/icons/collapse-grey.svg") no-repeat;
  background-repeat: no-repeat;
  background-position: center;
  height: 20px;
  width: 20px;
}

.expand-icon:hover {
  background: url("../assets/images/icons/expand-blue.svg") no-repeat;
}

.collapse-icon:hover {
  background: url("../assets/images/icons/collapse-blue.svg") no-repeat;
}

.view-icon {
  background: url("../assets/images/icons/dropdowns/view.svg") no-repeat center;
  width: 12px;
  height: 12px;
}

.restore-icon {
  background: url('../assets/images/icons/building-history/restore-icon.svg') no-repeat center;
  width: 12px;
  height: 12px;
}

.popup-user-block button:hover .view-icon,
.darkness .dropdown-item:hover .view-icon,
.darkness .dropdown-item:focus .view-icon {
  background: url("../assets/images/icons/dropdowns/view-hover.svg") no-repeat center;
}

.darkness .dropdown-item:hover .restore-icon,
.darkness .dropdown-item:focus .restore-icon {
  background: url('../assets/images/icons/building-history/restore-icon-hover.svg') no-repeat center;
}

.plus-icon {
  background: url("../assets/images/icons/inputs/plus-icon.svg") no-repeat center;
  width: 12px;
  height: 12px;
}

.darkness .dropdown-item:hover .plus-icon,
.darkness .dropdown-item:focus .plus-icon {
  background: url("../assets/images/icons/dropdowns/plus-icon-hover.svg") no-repeat center;
}

.replace-icon {
  background: url("../assets/images/icons/dropdowns/replace-icon.svg") no-repeat center;
  width: 12px;
  height: 12px;
}

.darkness .dropdown-item:hover .replace-icon,
.darkness .dropdown-item:focus .replace-icon {
  background: url("../assets/images/icons/dropdowns/replace-icon-hover.svg") no-repeat center;
}

.edit-icon {
  background: url("../assets/images/icons/dropdowns/edit.svg") no-repeat center;
  width: 12px;
  height: 12px;
}

.blue-edit-icon {
  display: inline-block;
  background: url("../assets/images/icons/dropdowns/edit-hover.svg") no-repeat center;
  width: 12px;
  height: 12px;
}

.darkness .dropdown-item:hover .edit-icon,
.darkness .dropdown-item:focus .edit-icon {
  background: url("../assets/images/icons/dropdowns/edit-hover.svg") no-repeat center;
}

.delete-icon {
  background: url("../assets/images/icons/dropdowns/delete.svg") no-repeat center;
  width: 12px;
  height: 12px;
}

.popup-user-block button:hover .delete-icon,
.darkness .dropdown-item:hover .delete-icon,
.darkness .dropdown-item:focus .delete-icon {
  background: url("../assets/images/icons/dropdowns/delete-hover.svg") no-repeat center;
}


.finalize-icon {
  background: url("../assets/images/icons/meter-readings/finalize-icon.svg") no-repeat center;
  width: 12px;
  height: 12px;
}

.darkness .dropdown-item:hover .finalize-icon,
.darkness .dropdown-item:focus .finalize-icon {
  background: url("../assets/images/icons/meter-readings/finalize-icon-hover.svg") no-repeat center;
}

.rollback-icon {
  background: url("../assets/images/icons/meter-readings/rollback-icon.svg") no-repeat center;
  width: 12px;
  height: 12px;
}

.darkness .dropdown-item:hover .rollback-icon,
.darkness .dropdown-item:focus .rollback-icon {
  background: url("../assets/images/icons/meter-readings/rollback-icon-hover.svg") no-repeat center;
}

.apply-estimated-icon {
  background: url('../assets/images/icons/meter-readings/apply-estimated.svg') no-repeat center;
  width: 12px;
  height: 12px;
}

.darkness .dropdown-item:hover .apply-estimated-icon,
.darkness .dropdown-item:focus .apply-estimated-icon {
  background: url("../assets/images/icons/meter-readings/apply-estimated-hover.svg") no-repeat center;
}

.reset-previous-icon {
  background: url('../assets/images/icons/meter-readings/reset.svg') no-repeat center;
  width: 12px;
  height: 12px;
}

.darkness .dropdown-item:hover .reset-previous-icon,
.darkness .dropdown-item:focus .reset-previous-icon {
  background: url("../assets/images/icons/meter-readings/reset-hover.svg") no-repeat center;
}

.clear-icon {
  background: url("../assets/images/icons/meter-readings/clear.svg") no-repeat center;
  width: 12px;
  height: 12px;
}

.darkness .dropdown-item:hover .clear-icon,
.darkness .dropdown-item:focus .clear-icon {
  background: url("../assets/images/icons/meter-readings/clear-hover.svg") no-repeat center;
}

.add-new-version-icon {
  background: url("../assets/images/icons/suppliers/add-new-version.svg") no-repeat center;
  width: 12px;
  height: 12px;
}

.darkness .dropdown-item:hover .add-new-version-icon,
.darkness .dropdown-item:focus .add-new-version-icon {
  background: url("../assets/images/icons/suppliers/add-new-version-hover.svg") no-repeat center;
}

.new-tariff-version-icon {
  background: url("../assets/images/icons/suppliers/new-tariff-from-version.svg") no-repeat center;
  width: 12px;
  height: 12px;
}

.darkness .dropdown-item:hover .new-tariff-version-icon,
.darkness .dropdown-item:focus .new-tariff-version-icon {
  background: url("../assets/images/icons/suppliers/new-tariff-from-version-hover.svg") no-repeat center;
}

.dnm-billing-icon {
  background: url("../assets/images/icons/equipment/billing.svg") no-repeat center;
  width: 12px;
  height: 12px;
}

.close-filter-item {
  background: url("../assets/images/icons/switch-button/inactive-gray.svg") no-repeat center;
}

.filter-item--custom.active .close-filter-item {
  background: url("../assets/images/icons/switch-button/inactive.svg") no-repeat center;
}

.darkness .dropdown-item:hover .dnm-billing-icon,
.darkness .dropdown-item:focus .dnm-billing-icon,
.dnm-billing-icon-active {
  background: url("../assets/images/icons/equipment/billing-hover.svg") no-repeat center;
  width: 13px;
  height: 13px;
}

.dnm-price-icon {
  background: url("../assets/images/icons/equipment/price.svg") no-repeat center;
  width: 12px;
  height: 12px;
}

.darkness .dropdown-item:hover .dnm-price-icon,
.darkness .dropdown-item:focus .dnm-price-icon {
  background: url("../assets/images/icons/equipment/price-hover.svg") no-repeat center;
}

.bank-account-icon {
  background: url("../assets/images/icons/bank-account-icon.svg") no-repeat center;
  height: 20px;
  width: 20px;
}

.check-icon {
  display: inline-block;
  background-image: url("../assets/images/icons/check-icon.png");
  background-repeat: no-repeat;
  background-position: center center;
  height: 12px;
  width: 12px;
}

.ng-invalid + .check-icon {
  display: none;
}

.cross-icon {
  display: inline-block;
  background: url("../assets/images/icons/cross-icon.png") no-repeat;
  height: 12px;
  width: 12px;
}

.eye-icon {
  display: inline-block;
  background-image: url('../assets/images/icons/eye-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  height: 16px;
  width: 16px;
  cursor: pointer;
  position: absolute;
  margin-top: -8px;
  top: 50%;
  right: 11px;
}

.eye-icon:hover {
  background-image: url('../assets/images/icons/eye-icon-hover.svg');
}

.dnm-add-building {
  background-image: url("../assets/images/icons/buildings_view_selected-01.svg");
  min-height: 20px;
  min-width: 20px;
}


.dnm-icon-sort-down {
  min-height: 13px;
  min-width: 13px;
  background-image: url("../assets/images/icons/arrow_sort_selected-01.svg");

  &.inactive {
    background-image: url("../assets/images/icons/arrow_sort-01.svg");
  }
}


.dnm-icon-sort-up {
  min-height: 13px;
  min-width: 13px;
  transform: rotateX(180deg);
  background-image: url("../assets/images/icons/arrow_sort_selected-01.svg");

  &.inactive {
    background-image: url("../assets/images/icons/arrow_sort-01.svg");
  }
}


.dnm-icon-dots {
  min-height: 19px;
  min-width: 19px;
  background-image: url("../assets/images/icons/dots_hover-01.svg");

  &.inactive {
    background-image: url("../assets/images/icons/dots-01.svg");
  }

  &:hover {
    background-image: url("../assets/images/icons/dots_hover-01.svg");
  }
}

.dnm-icon-location {
  min-height: 19px;
  min-width: 19px;
  background-image: url("../assets/images/icons/show_on_map_hover-01.svg");
}

.dnm-icon-location.inactive {
  background-image: url("../assets/images/icons/show_on_map-01.svg");
}

.d-social-dropbox {
  background: url('../assets/images/icons/external-links/link_dropbox.svg') no-repeat center;
}

.d-social-fb {
  background: url('../assets/images/icons/external-links/link_fb.svg') no-repeat center;
}

.d-social-google-drive {
  background: url('../assets/images/icons/external-links/link_google_drive.svg') no-repeat center;
}

.d-social-google-plus {
  background: url('../assets/images/icons/external-links/link_google_plus.svg') no-repeat center;
}

.d-social-hangouts {
  background: url('../assets/images/icons/external-links/link_hangouts.svg') no-repeat center;
}

.d-social-linkedin {
  background: url('../assets/images/icons/external-links/link_linkedin.svg') no-repeat center;
}

.d-social-other {
  background: url('../assets/images/icons/external-links/link_other.svg') no-repeat center;
}

.d-social-skype {
  background: url('../assets/images/icons/external-links/link_skype.svg') no-repeat center;
}

.d-social-twitter {
  background: url('../assets/images/icons/external-links/link_twitter.svg') no-repeat center;
}

.d-social-web-address {
  background: url('../assets/images/icons/external-links/link_web_address.svg') no-repeat center;
}

.d-social-whatsapp {
  background: url('../assets/images/icons/external-links/link_whatsapp.svg') no-repeat center;
}

.d-social-zoom {
  background: url('../assets/images/icons/external-links/link_zoom.svg') no-repeat center;
}

.copy-icon {
  width: 12px;
  height: 12px;
  background: url("../assets/images/icons/copy.svg") no-repeat center;
}

.dnm-ua-logout {
  background: url("../assets/images/icons/user-account/logout.svg") no-repeat center;
  width: 12px;
  height: 12px;
}

.darkness .dropdown-item:hover .dnm-ua-logout,
.darkness .dropdown-item:focus .dnm-ua-logout {
  background: url("../assets/images/icons/user-account/logout-hover.svg") no-repeat center;
}

.dnm-ua-settings {
  background: url("../assets/images/icons/nav-menu/settings.svg") no-repeat center;
  width: 12px;
  height: 12px;
}

.darkness .dropdown-item:hover .dnm-ua-settings,
.darkness .dropdown-item:focus .dnm-ua-settings {
  background: url("../assets/images/icons/user-account/settings-hover.svg") no-repeat center;
}

.darkness .dropdown-item .rent-time-icon {
  background-image: url('../assets/images/icons/rent-time.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 12px;
  height: 12px;
}

.darkness .dropdown-item:hover .rent-time-icon {
  background-image: url('../assets/images/icons/rent-time-hover.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 12px;
  height: 12px;
}

.adm-clp-arrow-icon {
  display: inline-block;
  background: url("../assets/images/icons/navbar/adm-arrow.svg") center right no-repeat;
  background-size: 12px;
}

.adm-clp-arrow-icon:hover {
  background-image: url("../assets/images/icons/navbar/adm-arrow-hover.svg");
}

.br-clp-arrow-icon {
  display: inline-block;
  background: url("../assets/images/icons/navbar/br-arrow.svg") center right no-repeat;
  background-size: 12px;
  width: 12px;
  height: 12px;
}

.br-clp-arrow-icon:hover {
  background-image: url("../assets/images/icons/navbar/br-arrow-hover.svg");
}

.dnm-upld-fl-icon {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  height: 16px;
  width: 14px;
  cursor: pointer;
}

.dnm-upload-file {
  background-image: url('../assets/images/icons/upload-file.svg');
}

.dnm-upload-file:hover {
  background-image: url('../assets/images/icons/upload-file-hover.svg');
}

.dnm-uploaded-file {
  background-image: url('../assets/images/icons/uploaded-file.svg');
}

.dnm-uploaded-file:hover {
  background-image: url('../assets/images/icons/uploaded-file-hover.svg');
}

.uploaded-file-icon {
  background: url("../assets/images/icons/occupation/uploaded-file-icon.svg") no-repeat center;
}

.file-loader-icon {
  background-image: url('../assets/images/icons/loader-icon.gif');
  width: 16px;
  height: 16px;
  display: block;
  background-size: 16px;
}

.split-icon {
  background: url("../assets/images/icons/dropdowns/split.svg") no-repeat center;
  width: 13px;
  height: 13px;
}

.darkness .dropdown-item:hover .split-icon,
.darkness .dropdown-item:focus .split-icon {
  background: url("../assets/images/icons/dropdowns/split-hover.svg") no-repeat center;
}

.spare-icon {
  background: url("../assets/images/icons/dropdowns/spare.svg") no-repeat center;
  width: 13px;
  height: 13px;
}

.darkness .dropdown-item:hover .spare-icon,
.darkness .dropdown-item:focus .spare-icon {
  background: url("../assets/images/icons/dropdowns/spare-hover.svg") no-repeat center;
}

.dnm-trash-icon {
  background: url("../assets/images/icons/node-details-tabs/trash.svg");
  width: 13px;
  height: 13px;
}

.darkness .dropdown-item:hover .dnm-trash-icon,
.darkness .dropdown-item:focus .dnm-trash-icon {
  background: url("../assets/images/icons/node-details-tabs/trash_hover.svg");
}

.dnm-calendar {
  width: 13px;
  height: 13px;
  background: url("../assets/images/icons/dropdowns/calendar_material.svg");
}

.dnm-equals-icon {
  background: url("../assets/images/icons/node-details-tabs/equals.svg");
  width: 13px;
  height: 13px;
}

.darkness .dropdown-item:hover .dnm-equals-icon,
.darkness .dropdown-item:focus .dnm-equals-icon {
  background: url("../assets/images/icons/node-details-tabs/equals_hover.svg");
}

.dnm-add-icon {
  background: url("../assets/images/icons/node-details-tabs/plus.svg");
  width: 13px;
  height: 13px;
}

.darkness .dropdown-item:hover .dnm-add-icon,
.darkness .dropdown-item:focus .dnm-add-icon {
  background: url("../assets/images/icons/node-details-tabs/plus_hover.svg");
}

.dnm-book-icon {
  background: url("../assets/images/icons/node-details-tabs/book.svg");
  width: 13px;
  height: 13px;
}

.darkness .dropdown-item:hover .dnm-book-icon,
.darkness .dropdown-item:focus .dnm-book-icon {
  background: url("../assets/images/icons/node-details-tabs/book_hov.svg");
}

.dnm-billing-icon {
  background: url("../assets/images/icons/node-details-tabs/billing.svg");
  width: 13px;
  height: 13px;
}

.darkness .dropdown-item:hover .dnm-billing-icon,
.darkness .dropdown-item:focus .dnm-billing-icon {
  background: url("../assets/images/icons/node-details-tabs/billing_hov.svg");
}

.dnm-warning-red {
  background: url("../assets/images/icons/node-details-tabs/warn-red-circle.svg");
  width: 20px;
  height: 20px;
}

.new-info-gr-icon {
  background: url('../assets/images/icons/new-info-gr.svg') no-repeat center;
  width: 12px;
  height: 12px;
}

.price-gr-icon {
  background: url('../assets/images/icons/price-gr.svg') no-repeat center;
  width: 22px;
  height: 22px;
}

// #region reading history icons

.pin-icon {
  background-image: url('../assets/images/icons/meter-readings/pin.svg');
}

.pin-icon:hover {
  background-image: url('../assets/images/icons/meter-readings/pin-hover.svg');
}

.incorrect-icon {
  background-image: url('../assets/images/icons/meter-readings/incorrect.svg');
}

.incorrect-icon:hover {
  background-image: url('../assets/images/icons/meter-readings/incorrect-hover.svg');
}

.check-icon {
  background-image: url('../assets/images/icons/meter-readings/check.svg');
}

.check-icon:hover {
  background-image: url('../assets/images/icons/meter-readings/check-hover.svg');
}

.pinned-icon {
  background-image: url('../assets/images/icons/meter-readings/pinned.svg');
}

.opening-reading-icon {
  background-image: url('../assets/images/icons/meter-readings/pinned-settings.svg');
}

.opening-reading-icon {
  background-image: url('../assets/images/icons/meter-readings/pinned-settings.svg');
}

.incorrect-icon.selected {
  background-image: url('../assets/images/icons/meter-readings/incorrect-selected.svg');
}

.check-icon.selected {
  background-image: url('../assets/images/icons/meter-readings/check-selected.svg');
}

.status-icon {
  width: 25px;
  height: 25px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

// #endregion

// #region equipment icons

.meter-no-img {
  background: url('../assets/images/icons/equipment/meter-no-img.svg') no-repeat center;
  width: 35px;
  height: 35px;
  background-size: 35px;
}

// #endregion

// #region readings status icons

.status-estimated {
  background-image: url('../assets/images/icons/meter-readings/estimated.svg');
}

.status-confirmed {
  background-image: url('../assets/images/icons/meter-readings/confirmed.svg');
}

.status-unconfirmed {
  background-image: url('../assets/images/icons/meter-readings/unconfirmed.svg');
}

.status-consecutive-estimated {
  background-image: url('../assets/images/icons/meter-readings/consecutive-estimated.svg');
}

// #endregion


.dnm-icon-note {
  background: url('../assets/images/icons/history/note-icon.svg') no-repeat center;
}

.add-item-icon {
  display: inline-block;
  background: url('../assets/images/icons/dropdowns/add-item-icon.svg') no-repeat center;
  width: 12px;
  height: 12px;
}

.dnm-btn-add {
  background: none;
  box-shadow: none;
  padding: 10px;
}

.dnm-btn-add:hover {
  border-radius: 50%;
  background: @color-background-tertiary;
}

.upload-icon-arrow {
  background: url('../assets/images/icons/upload-icon-arrow.svg') no-repeat center;
  width: 16px;
  height: 16px;
}

.make-default-image-icon {
  background-image: url('../assets/images/icons/meter-readings/make-default-image.svg');
}
