@import 'variables.less';

.icon-relative {
  display: inline-block;
  position: relative;
}

.add-icon {
  display: inline-block;
  background-image: url("../assets/images/icons/blue-add.png");
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  min-width: 20px;
  min-height: 20px;

  &.icon-sm {
    height: 14px;
    width: 14px;
    min-width: 14px;
    min-height: 14px;
    background-size: contain;
    margin-right: 5px;
  }
}

.check-mark-icon {
  display: inline-block;
  background-image: url('../assets/images/icons/check-mark-icon.svg');
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  min-width: 20px;
  min-height: 20px;
}

.remove-icon {
  display: inline-block;
  background-image: url("../assets/images/icons/red-remove.svg");
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
}

.manage-users-icon {
  display: inline-block;
  background-image: url("../assets/images/icons/user-gray.svg");
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
}

.add-branch-icon {
  background-color: @color-background-dark;
  background-image: url("../assets/images/icons/add-branch.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.add-supplier-icon {
  background-color: @color-background-dark;
  background: url('../assets/images/icons/suppliers/add-new-supplier.svg') no-repeat center;
  width: 40px;
  height: 40px;
  background-size: 20px;
  border-radius: 20px;
}

.add-building-icon {
  background-color: @color-background-dark;
  background-image: url("../assets/images/icons/add_building_icon-01.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  background-size: 20px;
  border-radius: 20px;
}

.add-profile-icon {
  background-color: @color-background-dark;
  background-image: url("../assets/images/icons/UP_Add_profile.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  background-size: 20px;
  border-radius: 20px;
}

.add-users-icon{
  background-color: @color-background-dark;
  background-image: url('../assets/images/icons/user-account/add-new-user.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  background-size: 20px;
  border-radius: 20px;
}

.add-equipment-icon {
  background-color: @color-background-dark;
  background-image: url('../assets/images/icons/equipment/add-new-equipment.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  background-size: 20px;
  border-radius: 20px;
}

.manage-profile-icon {
  background-color: @color-background-dark;
  background-image: url("../assets/images/icons/edit_icon_white.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  background-size: 20px;
  border-radius: 20px;
}

.add-to-users-icon {
  background-image: url("../assets/images/icons/add-to-users.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  background-size: 20px;

  &:hover {
    background-image: url("../assets/images/icons/add_to_users_hover.svg");
  }
}

.user-assigned-icon {
  background-image: url("../assets/images/icons/added_to_users.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  background-size: 20px;
}

.dnm-icon {
  display: inline-block;
  background-repeat: no-repeat;
}

.dnm-icon-nousers {
  background-image: url("../assets/images/icons/no_users.svg");
  min-height: 50px;
  min-width: 50px;
}

.dnm-icon-noclients {
  background-image: url("../assets/images/icons/no_clients.svg");
  min-height: 45px;
  min-width: 45px;
}

.dnm-back-icon {
  background-image: url("../assets/images/icons/buttons/go-back.svg");
  width: 20px;
  height: 15px;
}

.dnm-btn .dnm-back-icon {
  margin-right: 9px;
}

.dnm-btn:hover .dnm-back-icon {
  background-image: url("../assets/images/icons/buttons/go-back-hover.svg");
}

.b-categ-pin-commercial {
  background-image: url('../assets/images/icons/build-ctg/pin_commercial.svg');
}

.b-categ-pin-industrial {
  background-image: url('../assets/images/icons/build-ctg/pin_industrial.svg');
}

.b-categ-pin-residential {
  background-image: url('../assets/images/icons/build-ctg/pin_residential.svg');
}

.b-categ-pin-retail {
  background-image: url('../assets/images/icons/build-ctg/pin_retail.svg');
}

.b-categ-pin-auto {
  background-image: url('../assets/images/icons/build-ctg/pin_auto.svg');
}

.b-categ-pin-building {
  background-image: url('../assets/images/icons/build-ctg/pin_building.svg');
}

.b-categ-pin-medical {
  background-image: url('../assets/images/icons/build-ctg/pin_medical.svg');
}

.b-categ-pin-mus-ulib {
  background-image: url('../assets/images/icons/build-ctg/pin_museum_university_library.svg');
}

.b-categ-pin-power {
  background-image: url('../assets/images/icons/build-ctg/pin_power.svg');
}

.b-categ-pin-water {
  background-image: url('../assets/images/icons/build-ctg/pin_water.svg');
}

.d-check-mark-white {
  background-image: url('../assets/images/icons/check_mark_02.svg');
}

.dnm-liable-icon {
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 5px;

  &:hover {
    background-color: @color-background-tertiary;
  }
}

.dnm-liable-true {
  background-image: url('../assets/images/icons/occupation/liable-icon.svg');
}

.dnm-liable-false {
  background-image: url('../assets/images/icons/occupation/not-liable-icon.svg');
}

.active.dnm-liable-true,
.dnm-liable-true:hover {
  background-image: url('../assets/images/icons/occupation/liable-icon-active.svg');
}

.active.dnm-liable-false,
.dnm-liable-false:hover {
  background-image: url('../assets/images/icons/occupation/not-liable-icon-active.svg');
}

.dnm-discount-tick {
  display: block;
  width: 20px;
  height: 20px;
  background: url('../assets/images/icons/equipment/discount.svg') no-repeat center;
  background-size: 20px;
}

.reading-status.estimated {
  background-image: url('../assets/images/icons/meter-readings/estimated.svg');
}

.reading-status.confirmed {
  background-image: url('../assets/images/icons/meter-readings/confirmed.svg');
}

.reading-status.unconfirmed {
  background-image: url('../assets/images/icons/meter-readings/unconfirmed.svg');
}

.play-icon {
  background-image: url('../assets/images/icons/meter-readings/play.svg');
}

.pause-icon {
  background-image: url('../assets/images/icons/meter-readings/pause.svg');
}

.toggle-liable {
  .checkbox-not-liable,
  .checkbox-liable {
    width: 26px;
    height: 26px;
    margin: 0px;;
    background-size: 18px 18px;
    border-radius: 13px;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;

    &:hover {
      background-color: @color-background-tertiary;
    }
  }

  .checkbox-liable {
    background-image: url('../assets/images/icons/occupation/liable-icon.svg');
  }

  .checkbox-not-liable {
    background-image: url('../assets/images/icons/occupation/not-liable-icon-active.svg');
  }

  .liable-toggles {
    display: flex;
  }

  .input-liable {
    display: none;

    &:checked + .liable-toggles .checkbox-liable {
      background-image: url('../assets/images/icons/occupation/liable-icon-active.svg');
    }

    &:checked + .liable-toggles .checkbox-not-liable {
      background-image: url('../assets/images/icons/occupation/not-liable-icon.svg');
    }
  }
}
