@import "variables.less";

.page-container {
  min-height: calc(100vh - 100px);
}

@media (max-width: 767px) {
  .page-content {
    margin-top: 70px;
  }
}

@media (min-width: 768px) {
  .modal-header {
    padding: 28px 40px;
    border-bottom: 0;
  }

  .modal-title {
    font-family: Gotham Medium;
    font-size: 24px;
    color: @color-text-primary;
  }

  .modal .nav-link {
    font-size: 13px;
  }

  .top-container {
    background-color: @color-background-white;
    width: auto;
    margin: -20px -40px 0 -40px;
  }

  .page-title {
    font-size: 20px;
    line-height: 25px;
  }

  .admin-layout .page-title {
    font-size: 30px;
    line-height: 25px;
    min-height: 52px;
  }

  .page-content {
    margin-left: 200px;
    padding: 38px 40px 40px 40px;
  }

  .admin-layout .page-content {
    margin-left: 0;
    padding: 28px 50px 80px 50px;
  }

  manage-building manage-tariff-version .page-content {
    margin-left: 0;
    padding: 0;
  }

  .admin-layout manage-tariff-version .page-content {
    padding-bottom: 0;
  }

  .page-container {
    margin-top: 75px;
    margin-left: 202px;
    padding: 20px 40px 40px 40px;
  }

  .text-link-lg {
    font-size: 15px;
    line-height: 15px;
  }

  .dnm-btn-secondary {
    padding: 7px 18px;
    font-size: 14px;
    border-radius: 19px;
  }

  .text-secondary {
    font-size: 13px;
  }

  .text-standard,
  .dnm-btn-cancel,
  .blue-text-btn,
  .table-premium,
  .text-form-field {
    font-size: 14px;
  }

  .text-block-title {
    font-size: 25px;
    line-height: 27px;
  }

  .bl-gradient-title {
    font-size: 20px;
  }

  .modal-dialog {
    max-width: 800px;
  }

  .modal-dialog .close {
    outline-color: transparent;
  }

  .splt-modal .modal-dialog {
    max-width: 1069px !important;
  }

  .comment-modal .modal-dialog {
    width: 600px !important;
    margin-top: 100px;
  }

  .comment-modal.same-version .modal-dialog {
    width: 500px !important;
    margin-top: 300px;
  }

  .cmn-area-modal .modal-dialog {
    max-width: 510px !important;
    margin-top: 30vh;
  }

  .rst-prev-rdng .modal-dialog,
  .del-service-modal .modal-dialog,
  .tariff-details-modal .modal-dialog,
  .confirm-dialog-modal .modal-dialog,
  .upload-data-modal .modal-dialog {
    max-width: 630px !important;
    margin-top: 20vh;
  }

  .add-tariff-dets-modal .modal-dialog {
    max-width: 765px !important;
    margin-top: 20vh;
  }

  .replace-meter-modal .modal-dialog {
    max-width: 1300px !important;
  }

  .apl-estmtd-modal .modal-dialog {
    min-width: 915px !important;
  }

  .add-unit-popup .modal-dialog {
    min-width: 85vw !important;

    .table-container {
      height: 50vh;
      overflow: auto;
    }
  }

  .enter-rdngs-modal .modal-dialog {
    min-width: 1185px;
  }

  .text-legend {
    font-size: 13px;
  }

  .undertext {
    font-size: 12px;
  }

  .add-entity-btn {
    padding: 5px 5px 5px 25px;
    font-size: 15px;
    border-radius: 25px;
  }

  .minimum-button-width {
    min-width: 220px;
  }

  .form-control.group-search-input {
    width: 315px;
    font-size: 13px;
  }

  .main-search-input {
    margin-right: 45px;
  }

  .paging-btn {
    font-size: 15px;
  }

  .dnm-btn-simple {
    font-size: 13px;
  }

  .darkness .dropdown-menu {
    margin-top: 20px;
  }

  .admin-layout .header-line {
    min-height: 52px;
  }

  .admin-layout .page-header {
    margin-bottom: 30px;
  }
}
