@import 'variables.less';

.paging-list {
  list-style: none;
  margin-bottom: 0;
  display: inline-block;
}

.paging-btn {
  display: inline-block;
  font-family: Gotham Medium;
  font-size: 14px;
  color: @color-text-tertiary;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 0;
  cursor: pointer;
  overflow: hidden;
  border-radius: 150px;
  margin: 0 5px;
}

.paging-btn:focus {
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.paging-list .paging-btn:not(.active):hover {
  background: #DDE7F6;
}

.paging-list .paging-btn.active {
  background-image: linear-gradient(to right, #8490a7, #7a87a0, #717f99, #677693, #5e6e8c);
  color: @color-background-white;
  -webkit-box-shadow: 0 2px 10px 0 rgba(126, 125, 171, .8);
  -moz-box-shadow: 0 2px 10px 0 rgba(126, 125, 171, .8);
  box-shadow: 0 2px 10px 0 rgba(126, 125, 171, .8);
}

.paging-btn:not(.active):not(:disabled):not(.disabled) {
  cursor: pointer;
}

.paging-container .paging-btn:not(.active) {
  background: transparent;
}

.paging-container .paging-ctrl {
  display: inline-block;
  cursor: pointer;
  line-height: 0;
  font-family: Gotham Medium;
  font-size: 12px;
  font-family: 'Gotham Medium';
}

.paging-container .paging-ctrl[disabled] {
  pointer-events: none;
  color: @color-empty;
}

.paging-container .paging-ctrl.disabled {
  pointer-events: none;
  color: @color-empty;
}

ngb-pagination li {
  a[aria-label="First"],
  a[aria-label="Last"],
  a[aria-label="Previous"],
  a[aria-label="Next"] {
    span {
      display: none;
    }
  }

  a[aria-label="Previous"].page-link:before {
    content: 'Prev';
  }

  a[aria-label="Next"].page-link:before {
    content: 'Next';
  }

  a[aria-label="First"].page-link:before {
    content: 'First';
  }

  a[aria-label="Last"].page-link:before {
    content: 'Last';
  }

  .page-link {
    font-family: 'Gotham Medium';
    font-size: 14px;
    color: @color-text-tertiary;
    display: inline-block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    padding: 0;
    margin: 0 5px;
    background-color: transparent;
    border: none;
    border-radius: 50%;

    &[aria-label="First"],
    &[aria-label="Last"],
    &[aria-label="Previous"],
    &[aria-label="Next"] {
      font-size: 12px;
    }

    &:hover {
      color: @color-text-tertiary;
      text-decoration: none;
      background-color: #dde7f6;
      border-color: transparent;

      &[aria-label="First"],
      &[aria-label="Last"],
      &[aria-label="Previous"],
      &[aria-label="Next"] {
        background-color: transparent;
      }
    }

    &:focus {
      box-shadow: none;
      outline: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
    }

  }

  &.page-item.active .page-link,
  &.page-item.disabled .page-link {
    background-color: transparent;
    border-color: transparent;
  }

  &.page-item.active .page-link {
    color: @color-background-white;
    cursor: auto;
    background-image: linear-gradient(to right, #8490a7, #7a87a0, #717f99, #677693, #5e6e8c);
    -webkit-box-shadow: 0 2px 10px 0 rgba(126, 125, 171, .8);
    -moz-box-shadow: 0 2px 10px 0 rgba(126, 125, 171, .8);
    box-shadow: 0 2px 10px 0 rgba(126, 125, 171, .8);
  }

  &.page-item.disabled .page-link {
    color: @color-empty;
    pointer-events: none;
    cursor: auto;
  }
}
