@import './variables.less';

// Required Form Field Formatting
.req-frm-fld {
  border: 2px solid #12639c !important;
  border-radius: 5px !important;
  background-color: #dee8f7 !important ;
}
.req-frm-hover:hover {
    border: 2px solid #12639c !important;
    border-radius: 5px !important ;
    background-color: #dee8f7 !important;
    transition: 0.2s all ease-in-out !important;
}