.service-type {
  margin-bottom: 12px;
  font-family: Gotham Book;
  font-size: 13px;
}

.service-icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 15px;
  width: 30px;
  height: 30px;
  display: inline-block;
  position: relative;
}

.service-icon:before {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;
  content: '';
  opacity: 0.15;
  display: inline-block;
}

.type-lbl {
  padding-left: 10px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.electricity-lbl {
  .gradient-pink() ;
  -webkit-background-clip: text;
}

.water-lbl {
  .gradient-blue();
  -webkit-background-clip: text;
}

.sewerage-lbl {
  .gradient-violet();
  -webkit-background-clip: text;
}

.gas-lbl {
  .gradient-yellow();
  -webkit-background-clip: text;
}

.ad-hoc-lbl {
  .gradient-black();
  -webkit-background-clip: text;
}
