@import 'variables.less';

.radio-input-wrp {
  margin-bottom: 10px;
}

.radio-input-lbl {
  font-family: Gotham Light;
  font-size: 14px;
  line-height: 14px;
  color: @color-text-tertiary;
  white-space: nowrap;
  padding-right: 20px;
}

.radio-input .dnm-radio-btn {
  margin-right: 13px;
}

.charging-container {
  height: 25px;
  border-right: 1px solid @color-description;
  margin-right: 20px;
}
