@import 'variables.less';

.container-equipment-settings {
  .custom-row {
    margin-bottom: 30px;
  }

  /deep/ .label-system-attribute {
    position: relative;
    top: -9px;
    font-size: 9px;
    line-height: 9px;
    text-align: center;
    border-radius: 11px;
    margin-left: 2px;
    text-transform: uppercase;
    color: @color-description;
  }
}
