<div class="container-fluid none-padding container-equipment-settings">
  <div class="row custom-row">
    <div class="col-6">
      <list-groups></list-groups>
    </div>
    <div class="col-6">
      <list-brands></list-brands>
    </div>
  </div>
  <div class="row custom-row">
    <div class="col-6">
      <list-attributes></list-attributes>
    </div>
    <div class="col-6">
      <list-supply-types></list-supply-types>
    </div>
  </div>
  <div class="row custom-row">
    <div class="col-6">
      <list-registers></list-registers>
    </div>
    <div class="col-6">
      <list-reasons></list-reasons>
    </div>
  </div>
  <div class="row custom-row">
    <div class="col-6">
      <list-obis-codes></list-obis-codes>
    </div>
    <div class="col-6">
    </div>
  </div>
</div>
