@import 'variables.less';

.list-header-allocated-tariffs > .header-field {
  padding: 0 15px;
}

.list-header-allocated-tariffs .header-field-name {
  width: 27%;
}

.list-header-allocated-tariffs .header-field-version,
.list-header-allocated-tariffs .header-field-created,
.list-header-allocated-tariffs .header-field-applies,
.list-header-allocated-tariffs .header-field-values {
  width: 17%;
}

.list-header-allocated-tariffs .header-field-actions {
  width: 5%;
}

/* Filter block */
.filter-block {
  margin-top: 35px;
  margin-bottom: 20px;
}

.filter-block .results-label {
  margin-right: 20px;
}

.filter-block .count-label {
  font-weight: bold;
  color: @color-text-tertiary;
  margin-right: 10px;
}

.filter-block .filter-block__item:not(:last-child) {
  margin-right: 30px;
}

.dropdown-toggle {
  max-width: 300px;
  min-width: 200px;
  text-align: left;
}

.dropdown-menu {
  max-height: 500px;
  overflow-y: auto;
}


