@import 'mixins.less';

.table-container {
  max-height: 535px;
}

.register-item {
  min-height: 35px;
  position: relative;
  margin-left: 10px;
  line-height: 35px;
  margin-bottom: 10px;
}

.additional-shops span {
  cursor: pointer;
}
