@import 'variables.less';

.container-block {
  display: table;
}

::ng-deep .container-block > div {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.logo-img {
  max-height: 100%;
  margin: auto;
}

.profile-photo img {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  float: left;
  text-align: center;
  color: @color-background-white;
  border-radius: 20px;
  margin-right: 15px;
}
