@import 'variables.less';

.select-units-modal {
  .label-dropdown-filter {
    font-family: Gotham Medium;
    font-size: 15px;
    line-height: 15px;
    color: @color-text-tertiary;
    margin-right: 20px;
  }

  .results-label {
    font-size: 16px;
    color: @color-text-tertiary;
  }

  .table-list-units {
    max-height: 600px;
    overflow: auto;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .col-tenant {
    width: 145px;
    max-width: 145px;;
  }

  .col-floor {
    width: 90px;
  }
}
