::ng-deep .liability-modal.modal .dnm-tabset .nav-tabs .nav-link {
  font-size: 15px;
  font-weight: normal;
  padding: 7px 0 10px 0;
}

.liability-modal .modal-dialog {
  width: 900px !important;
  margin-top: 90px;
}

::ng-deep .liability-modal .liability-cont {
  padding: 0 15px 0 25px;
}

::ng-deep .liability-modal .footer-buttons {
  padding: 35px 0;
}

::ng-deep .liability-modal.modal .dnm-tabset .tab-content {
  padding: 40px 0 0;
  max-height: calc(100vh - 340px);
  overflow-y: auto;
  overflow-x: hidden;
}
