@import 'variables.less';

.alloc-equip-list {
  margin-bottom: 60px;
}

.alloc-equip-list .nav-row {
  margin-bottom: 20px;
}

.alloc-equip-list .results-label {
  font-size: 16px;
  color: @color-text-tertiary;
}

.alloc-equip-list .drpdwn-fltr-lbl {
  font-family: Gotham Medium;
  font-size: 15px;
  line-height: 15px;
  color: @color-text-tertiary;
  margin-right: 20px;
  margin-left: 40px;
}

.alloc-equip-list .fltr-drpdwn-btn,
.alloc-equip-list .fltr-drpdwn-menu {
  min-width: 230px;
  width: 230px;
  text-align: left;
}

.alloc-equip-list .bl-gradient-title {
  line-height: 1;
  margin-bottom: 30px;
}

.alloc-equip-list .list-header .header-field:first-child {
  padding-left: 30px;
}

.alloc-equip-list .list-body {
  border: 1px solid @color-line;
  margin-bottom: 50px;
}

.alloc-equip-list .list-body .item-wrp {
  border-bottom: 1px solid @color-line;
}

.alloc-equip-list .list-body .item-wrp:last-child {
  border-bottom: none;
}

.alloc-equip-list .report-mistake-btn {
  position: relative;
  background-color: @color-background-white;
  color: @color-text-tertiary;
  padding: 0 40px;
  font-size: 14px;
  border-radius: 25px;
  line-height: 14px;
  border: 2px solid @color-main-accent;
  height: 38px;
}
