<div class="edit-attributes">
  <div class="modal-header">
    <h5 *ngIf="isEdit && !model.isSystem" class="modal-title">Edit equipment attribute</h5>
    <h5 *ngIf="isEdit && model.isSystem" class="modal-title">Equipment attribute details</h5>
    <h5 *ngIf="!isEdit" class="modal-title">Create equipment attribute</h5>
    <button (click)="dismiss()" aria-label="Close" class="close" data-dismiss="modal" type="button">
      <i aria-hidden="true" class="icon-relative close-popup-icon"></i>
    </button>
  </div>
  <div class="modal-body">
    <div class="container-fluid none-padding">
      <form *ngIf="formState$ | async as form" [ngrxFormState]="form">

        <div class="input-row none-margin-hr">
          <div class="text-uppercase field-name attribute-field-name">Attribute name</div>
          <div class="field-value none-padding">
            <div [ngClass]="{'dnm-invalid-inp': form.isSubmitted && form.controls.name.isInvalid}">
              <input [(ngModel)]="form.controls.name.value" [disabled]="isEdit && model.isSystem" [ngModelOptions]="{standalone: true}"
                     [ngrxFormControlState]="form.controls.name" class="form-control req-frm-fld" maxlength="100"
                     placeholder="Type here" type="text"/>
            </div>
          </div>
          <div class="field-name"></div>
          <div class="field-value none-padding">
            <small *ngIf="form.isSubmitted && form.controls.name.errors.required" class="alert-danger">
              Name of attribute is required
            </small>
          </div>
        </div>
        <div class="input-row">
          <div class="text-uppercase field-name attribute-field-name">Equipment group</div>
          <div class="field-value none-padding">
            <ng-select (add)="selectGroup($event)" (remove)="removeGroup($event)" [clearable]="false" [closeOnSelect]="false"
                       [disabled]="isEdit && model.isSystem" [dropdownPosition]="'top'" [hideSelected]="true"
                       [items]="equipmentGroups"
                       [multiple]="true" [ngModelOptions]="{standalone: true}" [ngModel]="equipmentGroupList" [searchable]="false"
                       bindLabel="name" bindValue="id"
                       class="dnm-multiple-select" name="groups"></ng-select>
          </div>
        </div>
        <div class="input-row">
          <div class="text-uppercase field-name attribute-field-name">Field type</div>
          <div class="field-value none-padding field-type-value">
            <ng-select (change)="changeFieldType()" [clearable]="false" [closeOnSelect]="true"
                       [dropdownPosition]="'top'"
                       [hideSelected]="true" [items]="fieldTypes" [ngrxFormControlState]="form.controls.fieldType" [searchable]="false"
                       bindLabel="name" bindValue="id"></ng-select>
          </div>
        </div>
        <div *ngIf="fieldType === FieldType.Number" class="input-row none-margin-hr select">
          <div class="text-uppercase field-name attribute-field-name">Unit</div>
          <div class="field-value none-padding register-form-input field-type-value">
            <div class="req-frm-fld" [ngClass]="{'dnm-invalid-inp': form.isSubmitted && form.controls.unit['controls'].name.isInvalid}">
              <ng-select (change)="changeUnit($event)" [addTag]="true" [clearable]="false" [closeOnSelect]="true"
                         [dropdownPosition]="'top'" [hideSelected]="true"
                         [items]="unitList" [ngrxFormControlState]="form.controls.unit['controls'].name" [searchable]="true" bindLabel="name"
                         bindValue="name" class="select-input"></ng-select>
            </div>

          </div>
          <div class="field-name"></div>
          <div class="field-value none-padding">
            <small *ngIf="form.isSubmitted && form.controls.unit['controls'].name.errors.required" class="alert-danger">
              Unit name is required
            </small>
          </div>
        </div>

        <div *ngIf="fieldType === FieldType.Combo" class="input-row none-margin-hr">
          <div class="text-uppercase field-name attribute-field-name">Options</div>
          <div class="field-value none-padding">
            <div class="req-frm-fld" [ngClass]="{'dnm-invalid-inp': form.isSubmitted && form.controls.comboSettings.isInvalid}">
              <ng-select (add)="addCombo($event)" (remove)="removeCombo($event)" [addTag]="true" [clearable]="false"
                         [closeOnSelect]="true" [disabled]="isEdit && model.isSystem" [dropdownPosition]="'top'"
                         [hideSelected]="true"
                         [items]="comboSettingList" [multiple]="true" [ngModel]="comboSettingsValueList" [searchable]="true"
                         bindLabel="value" bindValue="value"
                         class="dnm-multiple-select" name="combo"></ng-select>
            </div>
          </div>
          <div class="field-name"></div>
          <div class="field-value none-padding">
            <small *ngIf="form.isSubmitted && form.controls.comboSettings.errors.required" class="alert-danger">
              Options are required
            </small>
          </div>
        </div>


        <div class="input-row none-margin-hr">
          <div class="text-uppercase field-name attribute-field-name">Available for tariff</div>
          <div class="field-value none-padding">
            <label class="dnm-switch-btn">
              <input [(ngModel)]="form.controls.isAvailableForTariff.value" [disabled]="isEdit && model.isSystem"
                     [ngModelOptions]="{standalone: true}" [ngrxFormControlState]="form.controls.isAvailableForTariff"
                     type="checkbox">
              <span class="dnm-switch-slider round"></span>
              <span class="dnm-switch-lbl"></span>
            </label>
          </div>
        </div>
        <div class="input-row none-margin-hr">
          <div class="text-uppercase field-name attribute-field-name">Importance</div>
          <div class="field-value none-padding">
            <label class="dnm-switch-btn">
              <input [(ngModel)]="form.controls.isImportant.value" [disabled]="isEdit && model.isSystem"
                     [ngModelOptions]="{standalone: true}" [ngrxFormControlState]="form.controls.isImportant"
                     type="checkbox">
              <span class="dnm-switch-slider round"></span>
              <span class="dnm-switch-lbl"></span>
            </label>
          </div>
        </div>
        <div class="input-row none-margin-hr">
          <div class="text-uppercase field-name attribute-field-name">Allow adding photo</div>
          <div class="field-value none-padding">
            <label class="dnm-switch-btn">
              <input [(ngModel)]="form.controls.canAddPhoto.value" [disabled]="isEdit && model.isSystem"
                     [ngModelOptions]="{standalone: true}" [ngrxFormControlState]="form.controls.canAddPhoto"
                     type="checkbox">
              <span class="dnm-switch-slider round"></span>
              <span class="dnm-switch-lbl"></span>
            </label>
          </div>
        </div>
        <div class="row none-margin-hr">
          <div class="col-md-8 offset-md-4 none-padding footer-buttons">
            <button (click)="dismiss()" *ngIf="!isEdit || isEdit && !model.isSystem"
                    class="dnm-btn dnm-btn-cancel text-uppercase" type="button">Cancel
            </button>
            <button (click)="save()" *ngIf="!isEdit" class="dnm-btn dnm-btn-primary text-uppercase" type="button">Save
            </button>
            <button (click)="edit()" *ngIf="isEdit && !model.isSystem" class="dnm-btn dnm-btn-primary text-uppercase"
                    type="button">Save
            </button>
            <button (click)="dismiss()" *ngIf="isEdit && model.isSystem" class="dnm-btn dnm-btn-primary text-uppercase"
                    type="button">Close
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>
