<div class="container-fluid top-container">
  <div class="row content">
    <div class="client-header-title">
      <h1 class="page-title text-uppercase">Manage Shop details</h1>
    </div>
    <back-button></back-button>
  </div>
</div>

<div class="dnm-tabset">
  <ngb-tabset #tabs (tabChange)="beforeChange($event)">
    <ngb-tab id="{{tabId.GeneralInfo}}">
      <ng-template ngbTabTitle>
        <i class="tab-icon general-info-icon"></i>
        <span class="tab-name text-uppercase">General Info</span>
      </ng-template>
      <ng-template ngbTabContent>
        <general-info [generalInfo]="generalInfo$ | async">
        </general-info>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="{{tabId.AllocatedEquipment}}">
      <ng-template ngbTabTitle>
        <i class="tab-icon dnm-equipment-tab-icon"></i>
        <span class="tab-name text-uppercase">Allocated Equipment</span>
      </ng-template>
      <ng-template ngbTabContent>
        <allocated-equipment [allocatedEquipment]="allocatedEquipment$ | async">
        </allocated-equipment>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="{{tabId.Readings}}">
      <ng-template ngbTabTitle>
        <i class="tab-icon meter-readings-icon"></i>
        <span class="tab-name text-uppercase">Readings</span>
      </ng-template>
      <ng-template ngbTabContent>
        <readings></readings>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="{{tabId.Costs}}">
      <ng-template ngbTabTitle>
        <i class="tab-icon"></i>
        <span class="tab-name text-uppercase">Costs</span>
      </ng-template>
      <ng-template ngbTabContent>
        <costs [costs]="costs$ | async">
        </costs>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="{{tabId.Statistic}}">
      <ng-template ngbTabTitle>
        <i class="tab-icon dnm-icon-graph"></i>
        <span class="tab-name text-uppercase">Statistic</span>
      </ng-template>
      <ng-template ngbTabContent>
        <shop-dets-statistic></shop-dets-statistic>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="{{tabId.Prepaid}}">
      <ng-template ngbTabTitle>
        <i class="tab-icon"></i>
        <span class="tab-name text-uppercase">Prepaid</span>
      </ng-template>
      <ng-template ngbTabContent>
        Prepaid
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
