@import "variables";

.dnm-btn-cancel {
  margin-right: 30px;
}

.dnm-btn-primary, .dnm-btn-cancel {
  width: 135px;
}

.modal-body {
  padding: 0 40px 40px 40px;
}

.modal-title {
  font: 30px @fontFamilyMedium;
  color: #333333;
}
