<div [formGroup]="form">
  <div class="comment-modal">
    <div class="modal-header">
      <button (click)="dismiss()" aria-label="Close" class="close" data-dismiss="modal" type="button">
        <i aria-hidden="true" class="icon-relative close-popup-icon"></i>
      </button>
    </div>
    <div class="modal-body">
      <div class="container-fluid">
        <div class="row none-margin-hr">
          <div class="col-12 d-flex justify-content-center">
            <div class="note-logo"></div>
          </div>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="col-9">
            <div class="comment-title text-center">Register Change Detected</div>
            <div class="comment-msg text-center">
              The change you made requires a version change and reading to be captured.
            </div>
          </div>
        </div>
        <div class="comment-msg text-center dnm-text-bold">
          Building Period: {{buildingPeriodStartDateStr}} - {{buildingPeriodEndDateStr}}
        </div>
        <div class="row d-flex justify-content-center comment-row">
          Enter Comment:
          <div class="col-10 d-flex flex-column">
            <div class="field-value">
              <div>
                <textarea class="form-control" formControlName="comment" placeholder="Type here"></textarea>
              </div>
            </div>
            <div class="field-value">
              <small *ngIf="formErrors['comment']" class="alert-danger">
                {{ formErrors["comment"] }}
              </small>
            </div>
          </div>
        </div>
        <div class="row d-flex justify-content-center radio-btn-row">
          <div class="col-10 d-flex align-items-center">
            <div class="dnm-radio-btn pay-pln-input new-ver-r-btn">
              <input [value]="1" formControlName="actionType" id="newVersion" name="actionType" type="radio" />
              <div class="state">
                <label></label>
              </div>
            </div>
            <label class="m-0 pl-1" for="newVersion">Date of change:</label>
            <div [ngClass]="{'dnm-invalid-inp': formErrors['date']}">
              <input #d="ngbDatepicker" (click)="d.toggle()" class="form-control date" formControlName="date"
                     name="dp" ngbDatepicker
                     placeholder="dd/mm/YYYY"
                     [autoClose]="'inside'"
                     [minDate]="ngbMinDateStr"
                     [maxDate]="ngbMaxDateStr"
                     [startDate]="ngbMinDateStr">
            </div>
            <div class="field-value">
              <small *ngIf="formErrors['date']" class="alert-danger">
                {{ formErrors["date"] }}
              </small>
            </div>
          </div>
        </div>
        <br>
        <div class="row d-flex justify-content-center radio-btn-row">
          Please select how you would like to enter a reading:
          <div class="row d-flex justify-content-center radio-btn-row">
            <div class="col-6 d-flex align-items-center">
              <div class="dnm-radio-btn pay-pln-input new-ver-r-btn">
                <input [value]="1" formControlName="readingType" id="actual" name="readingType" type="radio" (change)="changeReadingType($event)" />
                <div class="state">
                  <label></label>
                </div>
              </div>
              <label class="m-0 pl-1" for="actual">Actual</label>
            </div>
            <div class="col-6 d-flex align-items-center">
              <div class="dnm-radio-btn pay-pln-input new-ver-r-btn">
                <input [value]="0" formControlName="readingType" id="estimate" name="readingType" type="radio" (change)="changeReadingType($event)" />
                <div class="state">
                  <label></label>
                </div>
              </div>
              <label class="m-0 pl-1" for="estimate">Estimate</label>
            </div>
          </div>
        </div>
        <div class="row d-flex justify-content-center comment-footer">
          <div class="col-10 d-flex justify-content-between text-center footer-buttons">
            <button (click)="dismiss()" class="dnm-btn dnm-btn-cancel size-lg text-uppercase" type="button">
              Cancel
            </button>
            <button (click)="close()" class="dnm-btn dnm-btn-primary size-lg text-uppercase" type="button">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
