.add-new-meter .modal-body {
  padding: 10px 40px 50px;
}

.add-new-meter .field-name {
  font-family: Gotham Medium;
}

.add-new-meter .alert-danger {
  margin-top: 5px;
}


.add-new-meter .footer-buttons {
  margin-top: 35px;
}

.add-new-meter .dnm-btn {
  width: 200px;
  min-width: 200px;
}

.add-new-meter .dnm-btn-cancel {
  margin-right: 30px;
}
