<form [formGroup]="form" class="version-options container-fluid">
  <div class="row none-margin-hr">
    <div class="col-12 d-flex justify-content-center">
      <div class="dnm-icon-note note-logo"></div>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-9">
      <div class="comment-title text-center">Leave a note</div>
      <div class="comment-msg text-center">
        Please, describe in a few words the changes you have made so that we can record them in history
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-center comment-row">
    <div *ngIf="form.controls.comment as commentCtrl" class="col-10 d-flex flex-column">
      <div class="field-value">
        <div [ngClass]="{'dnm-invalid-inp': commentCtrl.invalid }">
          <textarea [formControl]="commentCtrl" class="form-control" placeholder="Type here"></textarea>
        </div>
      </div>
      <div class="field-value">
        <small *ngIf="commentCtrl.invalid && showAllErrors && commentCtrl.errors.required" class="alert-danger">
          Comment is required
        </small>
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-center radio-btn-row">
    <div class="col-10">
      <div class="dnm-radio-btn pay-pln-input">
        <input (change)="onActionTypeChange()" [value]="2" formControlName="actionType" id="overvrite" name="actionType"
               type="radio"/>
        <div class="state">
          <label>Update current version</label>
        </div>
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-center radio-btn-row">
    <div class="col-10">
      <div class="dnm-radio-btn pay-pln-input">
        <input (change)="onActionTypeChange()" [value]="3" formControlName="actionType" id="overvrite" name="actionType"
               type="radio"/>
        <div class="state">
          <label>Update current and next versions</label>
        </div>
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-center radio-btn-row">
    <div class="col-10 d-flex align-items-center">
      <div class="dnm-radio-btn pay-pln-input new-ver-r-btn">
        <input (change)="onActionTypeChange()" [value]="1" formControlName="actionType" id="newVersion" name="actionType"
               type="radio"/>
        <div class="state">
          <label>Save as a new version:</label>
        </div>
      </div>
      <ng-container *ngIf="form.controls.date as dateCtrl">
        <div [ngClass]="{'dnm-invalid-inp': dateCtrl.invalid }">
          <input #d="ngbDatepicker" (click)="d.toggle()" [autoClose]="'outside'" [formControl]="dateCtrl" class="form-control date"
                 name="dp" ngbDatepicker placeholder="dd/mm/YYYY" readonly>
        </div>
        <div class="field-value">
          <small *ngIf="dateCtrl.invalid && showAllErrors && dateCtrl.errors.required" class="alert-danger">
            Date is required
          </small>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="row d-flex justify-content-center comment-footer">
    <div class="col-10 d-flex justify-content-between text-center footer-buttons">
      <button (click)="cancel()" class="dnm-btn dnm-btn-cancel size-lg text-uppercase" type="button">Cancel</button>
      <button (click)="save()" class="dnm-btn dnm-btn-primary size-lg text-uppercase" type="button">Save</button>
    </div>
  </div>
</form>
