<div class="bld-period-validation-popup-modal">
  <div class="modal-header">
    <h5 class="modal-title">Building period is not valid</h5>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-12">
        <div class="input-row">
          {{ message }}
          <div class="text-uppercase field-name text-form-field">
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 none-padding text-right footer-buttons">
      <button (click)="onClose()" class="dnm-btn dnm-btn-primary text-uppercase" type="button">Close</button>
    </div>
  </div>
</div>
