@import 'variables.less';

.node-item {
  border-right: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: -1px;
}

.node-item .item-header {
  border-bottom: 1px solid #e1e1e1;
  padding-top: 10px;
  padding-bottom: 7px;
}

.node-item .item-title {
  font-family: Gotham Medium;
  font-size: 16px;
  line-height: 16px;
  color: @color-text-primary;
  margin-bottom: 24px;
}

.node-item .spl-type-item {
  width: 130px;
  min-width: 130px;
  height: 40px;
  padding-left: 15px;
  padding-right: 15px;
  border-right: 1px solid #e1e1e1;
}

.node-item .supply-types-container {
  border-top: 1px solid #e1e1e1;
  height: 40px;
  background-color: @color-background-primary;
  margin-top: 220px;
}

.node-item .supply-type {
  font-size: 12px;
}

.node-item .supply-type .service-icon:before {
  background: none;
}

.node-item .supply-type .type-lbl {
  padding-left: 0;
}
