<div class="discount-popup-wrp">
  <div class="modal-header">
    <h5 class="modal-title">Discounts applied:</h5>
    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
      <i aria-hidden="true" class="icon-relative close-popup-icon"></i>
    </button>
  </div>
  <div class="modal-body">
    <div class="d-flex flex-column">
      <span class="main-discount-lbl">25% discount on Fixed price</span>
      <div class="d-flex">
        <div class="discount-data-wrp">
          <span class="discount-fld-name">Valid:</span>
          <span class="discount-fld-val">01.01.2019 - 31.12.2019</span>
        </div>
        <div class="discount-data-wrp">
          <span class="discount-fld-name">Added by:</span>
          <span class="discount-fld-val">Taras Petryk</span>
        </div>
      </div>
      <span class="provided-by-lbl">Discount provided by Johannesburg City Municipality</span>
    </div>
  </div>
</div>
