@import 'variables.less';

.client-buildings .buildings-container {
  padding-top: 30px;
}

.client-buildings .dnm-text-medium {
  font-family: 'Gotham Book';
}

.client-buildings .result-lbl {
  font-size: 16px;
  color: @color-text-tertiary;
  margin-bottom: 20px;
}

.client-buildings .building-item {
  padding: 20px;
  border: 1px solid @color-line;
  margin-top: 10px;
  background: @color-background-white;
  position: relative;
  min-height: 108px;
  color: @color-text-tertiary;
  font-size: 14px;
}

.client-buildings .list-header {
  padding-left: 15px;
  padding-right: 15px;
  font-family: Gotham Medium;
  font-size: 12px;
  white-space: nowrap;
  color: @color-empty;
  text-decoration: none;
}

.client-buildings .item-img {
  width: 120px;
  height: 80px;
  border: 1px solid @color-stroke;
  background-color: @color-background-secondary;
  padding: 0;
  margin-right: 20px;
}

.client-buildings .info-lbl {
  font-family: Gotham Medium;
  line-height: 1;
  color: @color-text-primary;
  margin-bottom: 10px;
}

.client-buildings .portfolio-lbl {
  font-size: 24px;
}

.client-buildings .building-lbl {
  font-size: 20px;
}

.client-buildings .buildings-number-lbl {
  font-size: 15px;
  color: @color-description;
}

.client-buildings .buildings-desc-lbl {
  font-size: 13px;
  color: @color-description;
}

.client-buildings .expand-btn {
  margin-top: 3px;
}

.client-buildings .subdivision-item {
  background-color: @color-background-white;
  padding: 15px 20px 15px 18px;
  border: 1px solid @color-line;
  border-left: 3px solid @color-main-accent;
  color: @color-text-tertiary;
  font-size: 14px;
}

.client-buildings .subdivision-item:hover {
  cursor: pointer;
}
