.subcateg-wrp .modal-body {
  padding: 10px 40px 50px;
}

.subcateg-wrp .field-name {
  font-family: Gotham Medium;
}

.subcateg-wrp .dropdown-item {
  text-transform: unset;
  font-size: 14px;
}

.subcateg-wrp .selected-item {
  font-weight: 700;
}

.subcateg-wrp .footer-buttons {
  margin-top: 35px;
}

.subcateg-wrp .dnm-btn {
  width: 200px;
  min-width: 200px;
}

.subcateg-wrp .dnm-btn:first-child {
  margin-right: 30px;
}
