@import 'variables.less';

.locations-list {
  margin-bottom: 60px;
}

.locations-list .search-row {
  margin-bottom: 30px;
}

.locations-list .main-search-input {
  margin-right: 0;
}

.locations-list .group-search-input {
  background-color: @color-background-white;
}

.locations-list .nav-row {
  margin-top: 40px;
  margin-bottom: 30px;
}

.locations-list .results-label {
  font-size: 16px;
  color: @color-text-tertiary;
  margin-right: 20px;
}

.locations-list .drpdwn-fltr-lbl {
  font-family: Gotham Medium;
  font-size: 15px;
  line-height: 15px;
  color: @color-text-tertiary;
  margin-right: 20px;
  margin-left: 40px;
}

.locations-list .per-page-btn {
  width: 100px;
  min-width: 100px;
}

.locations-list .per-page-btn,
.locations-list .per-page-menu {
  text-align: left;
}

.locations-list .list-header .header-field {
  text-transform: uppercase;
}

.locations-list .list-body {
  border: 1px solid @color-line;
  background-color: @color-background-white;
}

.locations-list .body-row {
  padding: 20px 0;
  min-height: 70px;
  border-bottom: 1px solid @color-line;
  align-items: center;
}

.locations-list .body-row:last-child {
  border-bottom: none;
}

.locations-list .seq-no-lbl,
.locations-list .location-name-lbl {
  font-family: Gotham Medium;
  font-size: 16px;
  line-height: 16px;
  color: @color-text-primary;
}

.locations-list .description-lbl,
.locations-list .units-numb-lbl,
.locations-list .equipment-numb-lbl {
  font-family: Gotham Book;
  font-size: 13px;
  line-height: 13px;
  color: @color-text-tertiary;
}

.locations-list .descr-cell {
  position: relative;
}

.locations-list .description-lbl {
  line-height: 20px;
}

.locations-list .footer-btns {
  margin-top: 50px;
}

.locations-list .dnm-btn-cancel,
.locations-list .dnm-btn-primary {
  width: 200px;
  min-width: 200px;
}

.locations-list .dnm-btn-cancel {
  margin-right: 30px;
}

.cursor-pointer:hover {
  cursor: pointer;
}
