//@import 'variables.less';
@import 'required-fields.less';

.version-value-wrp .modal-body {
  padding: 0 40px 50px;
}

.version-value-wrp .bl-gradient-title {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 1;
}

.version-value-wrp .field-name {
  font-family: Gotham Medium;
}

.version-value-wrp .form-control {
  padding: 7px 20px;
  height: 35px;
}

.version-value-wrp .tariff-version-lbl {
  padding-left: 21px;
  color: @color-description;
  font-family: Gotham Light;
  font-size: 14px;
  line-height: 1;
}

.version-value-wrp .nav-datepicker-wrp {
  width: 232px;
  max-width: 232px;
}

.version-value-wrp .nav-dtpickr-inpt {
  height: 35px;
}

.version-value-wrp .list-header .header-field {
  padding-right: 10px;
}

.version-value-wrp .dnm-switch-lbl {
  color: @color-text-tertiary;
}

.version-value-wrp .footer-buttons {
  margin-top: 35px;
}

.version-value-wrp .dnm-btn {
  width: 200px;
  min-width: 200px;
}

.version-value-wrp .dnm-btn:first-child {
  margin-right: 30px;
}

.no-hover {
  pointer-events: none;
}
