@import 'variables.less';

.opr-agr-block {
  border: 1px solid @color-line;
  background-color: @color-background-white;
  padding: 40px;
  margin-top: 30px;
}

.opr-agr-block:first-child {
  margin-top: 0;
}

.opr-agr-block .bl-gradient-title {
  margin-bottom: 15px;
  line-height: 20px;
}

.opr-agr-block .hr-line {
  border-bottom: 1px solid @color-line;
  width: 100%;
}

.opr-agr-block .vr-line {
  border-right: 1px solid @color-line;
  margin: 0 25px;
}

.opr-agr-block .dbl-col {
  width: calc(50% - 26px);
  padding: 0 0 0 15px;
}

.opr-agr-block .input-row {
  margin-top: 20px;
  margin-bottom: 0;
}

.opr-agr-block.branch-block .hr-line,
.opr-agr-block.building-block .hr-line {
  margin-top: 30px;
}

.opr-agr-block .fld-val-txt {
  font-family: Gotham Book;
  font-size: 14px;
  color: @color-text-tertiary;
  margin-left: -15px;
}

.opr-agr-block .col-top-pd {
  padding-top: 35px;
}

.opr-agr-block .row-title {
  margin-top: 20px;
}

.opr-agr-block .row-title .col-title {
  font-family: Gotham Medium;
  color: @color-empty;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 1;
}

.opr-agr-block .pay-pln-row {
  margin-top: 10px;
}

.opr-agr-block .pay-pln-row:first-child {
  margin-top: 0;
}

.opr-agr-block .pay-mthds-lbl,
.opr-agr-block .tnt-lbl,
.opr-agr-block .dp-pay-lbl {
  font-family: Gotham Medium;
  font-size: 14px;
  color: @color-text-tertiary;
}

.position-text-bottom {
  position: relative;
  bottom: 1px;
}

.opr-agr-block .pay-amount-lbl {
  font-family: Gotham Book;
  font-size: 14px;
  color: @color-text-tertiary;
}

.opr-agr-block .pay-pln-input {
  margin-right: 20px;
}

.opr-agr-block .tnt-row {
  margin-top: 20px;
}

.opr-agr-block .tnt-lbl,
.opr-agr-block .dp-pay-lbl {
  text-transform: uppercase;
}

.opr-agr-block .dp-pay-form {
  margin-top: 10px;
}

.opr-agr-block .line-title {
  font-family: Gotham Book;
  font-size: 14px;
  color: @color-text-tertiary;
  line-height: 1;
  margin-right: 50px;
}

.opr-agr-block .dp-pay-row {
  margin-top: 10px;
}

.opr-agr-block .gen-info-row .field-value {
  width: 100%;
}

.opr-agr-block .gen-info-row {
  margin-top: 20px;
}

.opr-agr-block .gen-info-row:first-child {
  margin-top: 0;
}

.operations-agreement .datepicker-wrp {
  width: unset !important;
}

.btn-container {
  margin-top: 50px;
}

.btn-container .dnm-btn {
  min-width: 200px;
  margin-left: 30px;
  margin-bottom: 15px;
}

::ng-deep .operations-agreement .contact-item .dropdown-menu {
  max-height: 300px;
  overflow-y: auto;
}

.operations-agreement .contacts {
  margin-top: 30px;
}

.operations-agreement .contacts-header {
  margin-top: 35px;
  flex: 0 0 235px;
  max-width: 235px;
}

.operations-agreement .contacts-header .text-form-field {
  padding-top: 0;
}

.operations-agreement .contacts-header .row {
  height: 35px;
  align-items: center;
  margin-bottom: 8px;
}

.operations-agreement .contacts-list {
  flex: 0 0 calc(100% - 235px);
  max-width: calc(100% - 235px);
}

.operations-agreement .contacts-list .col-contact {
  flex: 0 0 285px;
  max-width: 285px;
  border-right: 1px solid @color-line;
  padding-right: 32px;
  margin-right: 32px;
  margin-bottom: 40px;
}

.operations-agreement .contacts-list .col-contact:last-child {
  border-right: none;
}

.operations-agreement .blue-text-btn,
.operations-agreement .red-text-btn,
.operations-agreement .gray-text-btn {
  margin-top: 15px;
}

.operations-agreement .blue-text-btn > i,
.operations-agreement .red-text-btn > i,
.operations-agreement .gray-text-btn > i {
  margin-right: 10px;
}

.operations-agreement .contact-item:not(:last-child) {
  margin-bottom: 35px;
}

.operations-agreement .contact-item:last-child {
  margin-bottom: 0;
}

.operations-agreement .file-loader-icon {
  position: absolute;
  right: 70px;
}
