@import 'variables.less';

.allocated-tariffs-list {
  min-height: calc(100vh - 400px);

  /* Filter block */

  .filter-block {
    margin-bottom: 20px;

    .results-label {
      margin-right: 20px;
    }

    .count-label {
      font-weight: bold;
      color: @color-text-tertiary;
      margin-right: 10px;
    }

    .filter-block__item:not(:last-child) {
      margin-right: 30px;
    }
  }

  .list-header {
    margin-bottom: 12px;
    margin-right: 20px;
  }

  .fltr-drpdwn-btn {
    min-width: 200px;
    text-align: left;

    /deep/ & .ng-option {
      text-transform: uppercase;
    }
  }

  .fltr-drpdwn-menu {
    min-width: 200px;
  }

  .allocated-tariffs-container {
    max-height: calc(100vh - 515px);
    margin-bottom: 28px;
    min-height: 150px;
    overflow: hidden;
    overflow-y: scroll;

    /deep/ &::-webkit-scrollbar {
      width: 20px;
      border: none;
    }

    /deep/ &::-webkit-scrollbar-track {
      background: #f5f6fa;
    }

    /deep/ &::-webkit-scrollbar-thumb {
      border-color: #f5f6fa;
    }
  }

  .list-header--allocated-tariffs > .header-field {
    padding: 0 15px;
  }

  .list-header--allocated-tariffs .header-field-name {
    width: 27%;
  }

  .list-header--allocated-tariffs .header-field-version,
  .list-header--allocated-tariffs .header-field-created,
  .list-header--allocated-tariffs .header-field-applies,
  .list-header--allocated-tariffs .header-field-values {
    width: 17%;
  }

  .list-header--allocated-tariffs .header-field-actions {
    width: 5%;
  }

  ::ng-deep .allocated-tariffs-container tariff-item:last-child .trf {
    margin-bottom: 0;
  }
}

.mng-lblt-footer {
  .dnm-btn-primary,
  .dnm-btn-cancel {
    width: 200px;
  }

  .dnm-btn-cancel {
    margin-right: 30px;
  }
}
