@import 'variables.less';

.add-new-profile .modal-body {
  padding: 10px 40px 50px;
}

.add-new-profile .field-name {
  font-family: Gotham Medium;
}

.add-new-profile .alert-danger {
  margin-top: 5px;
}

.add-new-profile .footer-buttons {
  margin-top: 35px;
}

.add-new-profile .dnm-btn {
  width: 200px;
  min-width: 200px;
}

.add-new-profile .dnm-btn-cancel {
  margin-right: 30px;
}

.add-new-profile .dnm-text-bold {
  font-family: 'Gotham Medium';
}

.add-new-profile .add-btn {
  margin: 10px 0px 10px 0px;
}

.add-new-profile .building-name {
  font-size: 14px;
}

.add-new-profile .branch-name {
  color: @color-text-tertiary;
  font-size: 14px;
}

.add-new-profile .search-result {
  margin: 20px 0px 10px 0px;
}
