<div class="container-fluid none-padding costs-wrp">
  <div class="row none-margin-hr">
    <div class="col none-padding">
      <div class="d-flex align-items-center filter-drpdwn-blck">
        <span class="text-uppercase filter-drpdwn-lbl">Building Period:</span>
        <div class="dropdown filter-dropdown d-inline-block small" ngbDropdown placement="bottom-right">
          <button class="btn btn-secondary dropdown-toggle bld-per-drpdwn-btn text-left" ngbDropdownToggle
                  type="button">
            2018
          </button>
          <div class="dropdown-menu bld-per-drpdwn-menu" ngbDropdownMenu>
            <button class="dropdown-item" type="button">2015</button>
            <button class="dropdown-item" type="button">2016</button>
            <button class="dropdown-item" type="button">2017</button>
            <button class="dropdown-item" type="button">2018</button>
            <button class="dropdown-item" type="button">2019</button>
          </div>
        </div>
        <div class="dropdown filter-dropdown d-inline-block small" ngbDropdown placement="bottom-right">
          <button class="btn btn-secondary dropdown-toggle bld-per-drpdwn-btn text-left" ngbDropdownToggle
                  type="button">
            December 2018 (01/12/2018-31/12/2018) - <span class="tot-days-lbl">31 day</span>
          </button>
          <div class="dropdown-menu bld-per-drpdwn-menu" ngbDropdownMenu>
            <button class="dropdown-item" type="button">December 2018 (01/12/2018-31/12/2018)</button>
            <button class="dropdown-item" type="button">April 2018 (01/12/2018-31/12/2018)</button>
          </div>
        </div>
      </div>
      <div class="stat-blck">
        <div class="blck-item">
          <span class="item-val electricity-grad">R 10000</span>
          <span class="item-descr electricity-grad">electricity total inc. vat</span>
        </div>
        <div class="blck-item">
          <span class="item-val water-grad">R 648</span>
          <span class="item-descr water-grad">water total inc. vat</span>
        </div>

        <div class="blck-item">
          <span class="item-val sewerage-grad">R 647</span>
          <span class="item-descr sewerage-grad">sewerage total inc. vat</span>
        </div>
        <div class="blck-item">
          <span class="item-val gas-grad">R 648</span>
          <span class="item-descr gas-grad">gas total inc. vat</span>
        </div>
        <div class="blck-item">
          <span class="item-val ad-hoc-grad">R 25328</span>
          <span class="item-descr ad-hoc-grad">ad hoc total inc. vat</span>
        </div>
        <div class="blck-item">
          <span class="item-val total-grad">R 45328</span>
          <span class="item-descr total-grad">total inc. vat</span>
        </div>
      </div>
      <div class="results-lbl dnm-text-light">1 shop, 1 common area</div>
      <div class="tree-view">
        <ul>
          <li class="root-item">
            <div class="item-content d-flex align-items-center">
              <div class="container-fluid none-padding">
                <div class="row none-margin-hr">
                  <div class="col-8 rt-border none-padding d-flex align-items-center">
                    <div class="container-fluid none-padding">
                      <div class="row none-margin-hr">
                        <div class="col-6 none-padding txt-lg d-flex align-items-center">
                          Shop #1 area
                        </div>
                        <div class="col-3">
                          <div class="txt-sm-light">Shop code:</div>
                          <div class="txt-sm">12345</div>
                        </div>
                        <div class="col-3">
                          <div class="txt-sm-light">Shop area:</div>
                          <div class="txt-sm">53 sq m</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="container-fluid none-padding">
                      <div class="row none-margin-hr d-flex align-items-center">
                        <div class="col-4">
                          <div class="txt-sm-light">Total:</div>
                          <div class="txt-sm">R 145</div>
                        </div>
                        <div class="col-4">
                          <div class="txt-sm-light">VAT:</div>
                          <div class="txt-sm">R 145</div>
                        </div>
                        <div class="col-4">
                          <div class="container-fluid none-padding">
                            <div class="row none-margin-hr">
                              <div class="col-auto none-padding d-flex align-items-center price-icn">
                                <i class="dnm-icon price-gr-icon"></i>
                              </div>
                              <div class="col-auto none-padding shop-tl-info">
                                <div class="gd-title-green txt-lg">R 3783</div>
                                <div class="gd-title-green txt-sm-light txt-sm-descr">total inc. vat</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <ul>
              <li class="tariff-item">
                <div class="tenant-item">
                  <div class="row list-header none-margin-hr d-flex align-items-center">
                    <div class="col-3 header-field frst-hdr-fld">
                      <span class="col-lbl text-uppercase">Tariff</span>
                    </div>
                    <div class="col-9 none-padding">
                      <div class="container-fluid none-padding">
                        <div class="row none-margin-hr d-flex align-items-center">
                          <div class="col-3 header-field frst-hdr-fld">
                            <span class="col-lbl text-uppercase">Line item</span>
                          </div>
                          <div class="col-2 header-field d-flex align-items-center">
                            <span class="col-lbl text-uppercase">Amount</span>
                          </div>
                          <div class="col-4 header-field">
                            <span class="col-lbl text-uppercase">Price details</span>
                          </div>
                          <div class="col-1 header-field">
                            <span class="col-lbl text-uppercase">Total</span>
                          </div>
                          <div class="col-1 header-field">
                            <span class="col-lbl text-uppercase">Vat</span>
                          </div>
                          <div class="col-1 header-field">
                            <span class="col-lbl text-uppercase">Total<br/>Inc. Vat</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="tariff-item">
                <div class="item-content tenant-item">
                  <div class="container-fluid none-padding">
                    <div class="row none-margin-hr">
                      <div class="col-3 d-flex align-items-center rt-border frst-item-cell">
                        <div class="container-fluid none-padding">
                          <div class="row none-margin-hr">
                            <div class="col-auto none-padding d-flex align-items-center">
                              <div class="service-type d-flex align-items-center">
                                <div class="service-icon electricity-icon"></div>
                              </div>
                            </div>
                            <div class="col-auto none-padding">
                              <div class="txt-md">Tariff name</div>
                              <div class="txt-sm">Supplier name</div>
                              <div class="txt-sm-light">Liability: <span class="txt-sm">65%</span></div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-9 none-padding d-flex align-items-center">
                        <div class="container-fluid none-padding">
                          <div class="row none-margin-hr d-flex align-items-center line-item frst-item-cell">
                            <div class="col-3">
                              <div class="sub-title">Consumption charge</div>
                              <div class="txt-sm">(< 40A 3 Phase)</div>
                            </div>
                            <div class="col-2 txt-sm">65 kWh</div>
                            <div class="col-4 price-dt">
                              <div class="price-sctn">
                                <div>30 days (2018/2019 High season)</div>
                                <div>
                                  <span class="price-dt-lt">0-500:</span>
                                  50 kWh X R 1 = R 50
                                </div>
                              </div>
                              <div class="price-sctn">
                                <div>30 days (2018/2019 High season)</div>
                                <div>
                                  <span class="price-dt-lt">0-500:</span>
                                  50 kWh X R 1 = R 50
                                </div>
                              </div>
                            </div>
                            <div class="col-1 txt-sm">R 145</div>
                            <div class="col-1 txt-sm">R 21.75</div>
                            <div class="col-1 sub-title">R 166.75</div>
                          </div>
                          <div class="row none-margin-hr d-flex align-items-center line-item frst-item-cell">
                            <div class="col-3">
                              <div class="sub-title">Consumption charge</div>
                              <div class="txt-sm">(< 40A 3 Phase)</div>
                            </div>
                            <div class="col-2 txt-sm">65 kWh</div>
                            <div class="col-4 price-dt">
                              <div class="price-sctn">
                                <div>30 days (2018/2019 High season)</div>
                                <div>
                                  <span class="price-dt-lt">0-500:</span>
                                  50 kWh X R 1 = R 50
                                </div>
                                <div>
                                  <span class="price-dt-lt">500-1000:</span>
                                  50 kWh X R 1 = R 50
                                </div>
                              </div>
                            </div>
                            <div class="col-1 txt-sm">R 145</div>
                            <div class="col-1 txt-sm">R 21.75</div>
                            <div class="col-1 sub-title">R 166.75</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="tariff-item">
                <div class="item-content tenant-item d-flex align-items-center">
                  <div class="container-fluid none-padding">
                    <div class="row none-margin-hr">
                      <div class="col-3 d-flex align-items-center rt-border frst-item-cell">
                        <div class="container-fluid none-padding">
                          <div class="row none-margin-hr">
                            <div class="col-auto none-padding d-flex align-items-center">
                              <div class="service-type d-flex align-items-center">
                                <div class="service-icon electricity-icon"></div>
                              </div>
                            </div>
                            <div class="col-auto none-padding">
                              <div class="txt-md">Tariff name</div>
                              <div class="txt-sm">Supplier name</div>
                              <div class="txt-sm-light">Liability: <span class="txt-sm">65%</span></div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-9 none-padding d-flex align-items-center">
                        <div class="container-fluid none-padding">
                          <div class="row none-margin-hr d-flex align-items-center line-item frst-item-cell">
                            <div class="col-3">
                              <div class="sub-title">Consumption charge</div>
                              <div class="txt-sm">(< 40A 3 Phase)</div>
                            </div>
                            <div class="col-2 txt-sm">65 kWh</div>
                            <div class="col-4 price-dt">
                              <div class="price-sctn">
                                <div>30 days (2018/2019 High season)</div>
                                <div>
                                  <span class="price-dt-lt">0-500:</span>
                                  50 kWh X R 1 = R 50
                                </div>
                              </div>
                            </div>
                            <div class="col-1 txt-sm">R 145</div>
                            <div class="col-1 txt-sm">R 21.75</div>
                            <div class="col-1 sub-title">R 166.75</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="tariff-item">
                <div class="item-content tenant-item d-flex align-items-center">
                  <div class="container-fluid none-padding">
                    <div class="row none-margin-hr">
                      <div class="col-3 d-flex align-items-center rt-border frst-item-cell">
                        <div class="container-fluid none-padding">
                          <div class="row none-margin-hr">
                            <div class="col-auto none-padding d-flex align-items-center">
                              <div class="service-type d-flex align-items-center">
                                <div class="service-icon electricity-icon"></div>
                              </div>
                            </div>
                            <div class="col-auto none-padding">
                              <div class="txt-md">Tariff name</div>
                              <div class="txt-sm">Supplier name</div>
                              <div class="txt-sm-light">Liability: <span class="txt-sm">65%</span></div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-9 none-padding d-flex align-items-center">
                        <div class="container-fluid none-padding">
                          <div class="row none-margin-hr d-flex align-items-center line-item frst-item-cell">
                            <div class="col-3">
                              <div class="sub-title">Consumption charge</div>
                              <div class="txt-sm">(< 40A 3 Phase)</div>
                            </div>
                            <div class="col-2 txt-sm">65 kWh</div>
                            <div class="col-4 price-dt">
                              <div class="price-sctn">
                                <div>30 days (2018/2019 High season)</div>
                                <div>
                                  <span class="price-dt-lt">0-500:</span>
                                  50 kWh X R 1 = R 50
                                </div>
                              </div>
                              <div class="price-sctn">
                                <div>30 days (2018/2019 High season)</div>
                                <div>
                                  <span class="price-dt-lt">0-500:</span>
                                  50 kWh X R 1 = R 50
                                </div>
                              </div>
                              <div class="price-sctn">
                                <div>30 days (2018/2019 High season)</div>
                                <div>
                                  <span class="price-dt-lt">0-500:</span>
                                  50 kWh X R 1 = R 50
                                </div>
                              </div>
                            </div>
                            <div class="col-1 txt-sm">R 145</div>
                            <div class="col-1 txt-sm">R 21.75</div>
                            <div class="col-1 sub-title">R 166.75</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <button class="dnm-btn report-mistake-btn text-uppercase" type="button">Report Mistake</button>
    </div>
  </div>
</div>
