@import 'required-fields.less';

.footer-buttons {
  margin: 10px 0 50px;
}

.dnm-btn-cancel,
.dnm-btn-primary {
  width: 200px;
}

.dnm-btn-cancel {
  margin-right: 25px;
}

.meter-type-value {
  display: flex
}

.meter-type {
  flex: 3;
}

.meter-type-alert {
  margin-left: 15px;
}

.meter-name-value {
  flex: 3;
}

.select-supply-type {
  width: 100%;
}
