@import 'variables.less';

.equip-nodes {
  margin-bottom: 60px;
}

.equip-nodes .search-row {
  margin-bottom: 30px;
}

.equip-nodes .main-search-input {
  width: 100%;
  margin-right: 30px;
}

.equip-nodes .group-search-input {
  background-color: @color-background-white;
}

.equip-nodes .nav-row {
  margin-top: 40px;
  margin-bottom: 30px;
}

.equip-nodes .results-label {
  font-size: 16px;
  color: @color-text-tertiary;
  margin-right: 20px;
}

.equip-nodes .drpdwn-fltr-lbl {
  font-family: Gotham Medium;
  font-size: 15px;
  line-height: 15px;
  color: @color-text-tertiary;
  margin-right: 20px;
}

.equip-nodes .fltr-drpdwn-btn,
.equip-nodes .fltr-drpdwn-menu {
  min-width: 200px;
  width: 200px;
  text-align: left;
}

.equip-nodes .fltr-drpdwn-btn {
  margin-right: 40px;
}

.equip-nodes .per-page-btn {
  width: 100px;
  min-width: 100px;
}

.equip-nodes .per-page-btn,
.equip-nodes .per-page-menu {
  text-align: left;
}

.equip-nodes .list-header {
  padding-left: 15px;
  padding-right: 15px;
}

.equip-nodes .list-header .header-field {
  text-transform: uppercase;
}

.equip-nodes .list-body {
  border: 1px solid @color-line;
  background-color: @color-background-white;
}

.equip-nodes .body-row {
  padding: 20px 15px;
  min-height: 70px;
  border-bottom: 1px solid @color-line;
}

.equip-nodes .body-row:hover {
  cursor: pointer;
}

.equip-nodes .body-row:last-child {
  border-bottom: none;
}

.equip-nodes .node-name-lbl {
  font-family: Gotham Medium;
  font-size: 16px;
  line-height: 16px;
  color: @color-text-primary;
}

.equip-nodes .node-type-lbl,
.equip-nodes .equip-group-lbl,
.equip-nodes .alloc-units-lbl,
.equip-nodes .alloc-equip-lbl {
  font-family: Gotham Book;
  font-size: 13px;
  line-height: 13px;
  color: @color-text-tertiary;
}

.equip-nodes .service-type {
  margin-bottom: 0;
}

.equip-nodes .table-footer-btns {
  margin-top: 50px;
}

.equip-nodes .dnm-btn-cancel {
  margin-right: 30px;
}

.equip-nodes .dnm-btn-cancel,
.equip-nodes .dnm-btn-primary {
  width: 200px;
  min-width: 200px;
}

.equip-group-lbl {
  white-space: pre-line;
  text-align: start;
}

.tooltip {
  background-color: @color-background-dark;
  color: @color-empty;
}

.tooltip-details {
  font-size: 13px;
  white-space: pre-line;
  text-align: start;
}

.allocated-units {
  line-height: 18px;
}

.node-name {
  margin-left: 5%;
}
