@import 'variables.less';

.alloc-equip-to-shop .nav-row {
  margin-bottom: 20px;
}

.alloc-equip-to-shop .footer-btns {
  margin-top: 35px;
}

.alloc-equip-to-shop .dnm-btn-cancel {
  margin-right: 30px;
}

.alloc-equip-to-shop .dnm-btn-cancel,
.alloc-equip-to-shop .dnm-btn-primary {
  width: 200px;
}

.alloc-equip-to-shop .dropdown-field {
  padding-top: 0px;
  margin-right: 20px;
}

.alloc-equip-to-shop .drpdwn-wrp {
  margin-left: 50px;
}

.alloc-equip-to-shop .list-header {
  margin-bottom: 0;
}

.alloc-equip-to-shop .list-header .header-field {
  text-transform: uppercase;
}

.alloc-equip-to-shop .header-field {
  padding-left: 20px;
  padding-right: 20px;
}

.alloc-equip-to-shop .list-body .date-input {
  max-width: 70%;
}

.alloc-equip-to-shop .list-item {
  display: flex;
  width: 14%;
}

.alloc-equip-to-shop .list-item.small-col {
  width: 8%;
}

.alloc-equip-to-shop .list-header .checkbox-input {
  width: 50px;
  margin-left: 21px;
  padding: 10px;
}

.alloc-equip-to-shop .list-header-checkbox {
  margin-right: 5px;
}

.alloc-equip-to-shop .list-body-row {
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #E1E1E1;
  border-top: none;
  background-color: @color-background-white;
  display: flex;
}

.alloc-equip-to-shop .list-body-row.selected {
  background-color: @color-background-primary;
}

.cell.cell-selection.checkbox-input {
  width: 30px;
  padding-left: 40px;
}

.alloc-equip-to-shop .meter-field {
  font-size: 16px;
  color: @color-text-primary;
  font-family: Gotham Medium;
}

.alloc-equip-to-shop .body-list-field {
  font-size: 14px;
  color: @color-text-tertiary;
  font-family: Gotham Light;
}

.alloc-equip-to-shop .shop-dropdown {
  width: 100%;
}

.alloc-equip-to-shop .shop-group-dropdown {
  min-width: 220px;
  max-width: 300px;
}

.alloc-equip-to-shop .dropdown-toggle {
  white-space: normal;
}

.alloc-equip-to-shop .apply-btn {
  width: 135px;
}

.alloc-equip-to-shop .value-input {
  max-width: 200px;
}

.alloc-equip-to-shop .location-type-dropdown {
  margin-left: 20px;
}

.alloc-equip-to-shop .group-lbl {
  font-family: Gotham Book;
  font-size: 14px;
  line-height: 13px;
  color: @color-text-tertiary;
}

.alloc-equip-to-shop .list-body-row.first {
  border: 1px solid #E1E1E1;
}

.description-input {
  min-height: 34px;
  height: 34px;
  border-radius: ~'18px/50%';
  box-sizing: border-box;
  padding: 5px 15px;
}

.alloc-equip-to-shop .bl-gradient-title {
  margin: 10px 0px 10px 30px;
  font-size: 16px;
}

.cdk-drag-preview .list-item {
  display: flex;
  width: 14%;
}

.cdk-drag-preview .checkbox-input {
  width: 70px;
  padding-left: 30px;
}

.cdk-drag-preview .list-item.small-col {
  width: 8%;
}

.cdk-drag-preview .shop-dropdown {
  width: 100%;
}

.cdk-drag-preview .dropdown-toggle {
  white-space: normal;
}

.list-item .equipment-parents-select {
  width: 80%;
}

.equipment-parents-select {
  /deep/ .ng-placeholder {
    white-space: nowrap;
    background-color: @color-background-tertiary;
    padding: 0px 10px;
    margin: 5px;
    border-radius: 10px;
    border: 1px solid @color-stroke;
    color: @color-text-tertiary;
    font-size: 13px;
    line-height: 18px;
    height: 20px;
    position: relative !important;
  }

  /deep/ .ng-has-value .ng-placeholder {
    display: none
  }
}

.checkbox-input.dropdown-checkbox-input {
  margin-left: 17px;
}

.serial-number-header {
  max-width: 125px;
}
