<div class="container-fluid none-padding equipment-list-wrp">
  <div class="row none-margin-hr">
    <div class="col-10 none-padding">
      <div class="row none-margin-hr">
        <div class="col-3 none-padding">
          <div class="row none-margin-hr list-header">
            <div class="col-7 header-field text-uppercase d-flex align-items-center">
              <span title="Serial No">Serial No</span>
            </div>
            <div class="col-5 header-field text-uppercase d-flex align-items-center">
              <span title="Register">Register</span>
            </div>
          </div>
          <div class="list-body left-border right-border">
            <div class="row none-margin-hr">
              <div class="col-7 none-padding d-flex align-items-center tbl-cell right-border">
                <div class="service-type d-flex align-items-center">
                  <div class="service-icon electricity-icon"></div>
                  <span class="serial-no-lbl">1564-E</span>
                </div>
              </div>
              <div class="col-5 none-padding">
                <div class="tbl-cell d-flex align-items-center">
                  <span class="equip-cell-val equip-read-lbl">kWh-S</span>
                </div>
                <div class="tbl-cell d-flex align-items-center">
                  <span class="equip-cell-val equip-read-lbl">kWh-T</span>
                </div>
                <div class="tbl-cell d-flex align-items-center">
                  <span class="equip-cell-val equip-read-lbl">kVh</span>
                </div>
              </div>
            </div>
            <div class="row none-margin-hr">
              <div class="col-7 none-padding d-flex align-items-center tbl-cell right-border">
                <div class="service-type d-flex align-items-center">
                  <div class="service-icon electricity-icon"></div>
                  <span class="serial-no-lbl">1634-E</span>
                </div>
              </div>
              <div class="col-5 none-padding">
                <div class="tbl-cell d-flex align-items-center">
                  <span class="equip-cell-val equip-read-lbl">kWh-S</span>
                </div>
              </div>
            </div>
            <div class="list-body-ftr"></div>
          </div>
        </div>
        <div class="col-9 none-padding">
          <div class="scrolable-block">
            <div class="list-header d-flex no-wrap">
              <div class="header-field scroll-hdr-fld text-uppercase">
                <span title="Apr 2019">Apr 2019</span>
              </div>
              <div class="header-field scroll-hdr-fld text-uppercase">
                <span title="May 2019">May 2019</span>
              </div>
              <div class="header-field scroll-hdr-fld text-uppercase">
                <span title="June 2019">June 2019</span>
              </div>
              <div class="header-field scroll-hdr-fld text-uppercase">
                <span title="July 2019">July 2019</span>
              </div>
              <div class="header-field scroll-hdr-fld text-uppercase">
                <span title="Aug 2019">Aug 2019</span>
              </div>
              <div class="header-field scroll-hdr-fld text-uppercase">
                <span title="Sep 2019">Sep 2019</span>
              </div>
              <div class="header-field scroll-hdr-fld text-uppercase">
                <span title="Oct 2019">Oct 2019</span>
              </div>
            </div>
            <div class="list-body">
              <div class="d-flex no-wrap tbl-row">
                <div class="tbl-cell scroll-hdr-fld d-flex align-items-center">
                  <span class="equip-cell-val equip-read-lbl">714</span>
                  <div class="reading-item">
                    <input class="rdng-file-inpt" type="file"/>
                    <button class="dnm-btn rdng-list-btn dnm-btn-photo" type="button"></button>
                  </div>
                  <div class="reading-item">
                    <button class="dnm-btn rdng-list-btn confirmed-icon" type="button"></button>
                  </div>
                </div>
                <div class="tbl-cell scroll-hdr-fld d-flex align-items-center">
                  <span class="equip-cell-val equip-read-lbl">345</span>
                  <div class="reading-item">
                    <input class="rdng-file-inpt" type="file"/>
                    <button class="dnm-btn rdng-list-btn dnm-btn-photo-add" type="button"></button>
                  </div>
                  <div class="reading-item">
                    <button class="dnm-btn rdng-list-btn unconfirmed-icon" type="button"></button>
                  </div>
                </div>
                <div class="tbl-cell scroll-hdr-fld d-flex align-items-center">
                  <span class="equip-cell-val equip-read-lbl">345</span>
                  <div class="reading-item">
                    <button class="dnm-btn rdng-list-btn estimated-icon" type="button"></button>
                  </div>
                </div>
                <div class="tbl-cell scroll-hdr-fld d-flex align-items-center">
                  <span class="equip-cell-val equip-read-lbl">714</span>
                  <div class="reading-item">
                    <input class="rdng-file-inpt" type="file"/>
                    <button class="dnm-btn rdng-list-btn dnm-btn-photo" type="button"></button>
                  </div>
                  <div class="reading-item">
                    <button class="dnm-btn rdng-list-btn confirmed-icon" type="button"></button>
                  </div>
                </div>
                <div class="tbl-cell scroll-hdr-fld d-flex align-items-center">
                  <span class="equip-cell-val equip-read-lbl">345</span>
                  <div class="reading-item">
                    <input class="rdng-file-inpt" type="file"/>
                    <button class="dnm-btn rdng-list-btn dnm-btn-photo-add" type="button"></button>
                  </div>
                  <div class="reading-item">
                    <button class="dnm-btn rdng-list-btn unconfirmed-icon" type="button"></button>
                  </div>
                </div>
                <div class="tbl-cell scroll-hdr-fld d-flex align-items-center">
                  <span class="equip-cell-val equip-read-lbl">345</span>
                  <div class="reading-item">
                    <button class="dnm-btn rdng-list-btn estimated-icon" type="button"></button>
                  </div>
                </div>
                <div class="tbl-cell scroll-hdr-fld d-flex align-items-center">
                  <span class="equip-cell-val equip-read-lbl">345</span>
                  <div class="reading-item">
                    <button class="dnm-btn rdng-list-btn estimated-icon" type="button"></button>
                  </div>
                </div>
              </div>
              <div class="d-flex no-wrap tbl-row">
                <div class="tbl-cell scroll-hdr-fld d-flex align-items-center">
                  <span class="equip-cell-val equip-read-lbl">714</span>
                  <div class="reading-item">
                    <input class="rdng-file-inpt" type="file"/>
                    <button class="dnm-btn rdng-list-btn dnm-btn-photo" type="button"></button>
                  </div>
                  <div class="reading-item">
                    <button class="dnm-btn rdng-list-btn confirmed-icon" type="button"></button>
                  </div>
                </div>
                <div class="tbl-cell scroll-hdr-fld d-flex align-items-center">
                  <span class="equip-cell-val equip-read-lbl">345</span>
                  <div class="reading-item">
                    <input class="rdng-file-inpt" type="file"/>
                    <button class="dnm-btn rdng-list-btn dnm-btn-photo-add" type="button"></button>
                  </div>
                  <div class="reading-item">
                    <button class="dnm-btn rdng-list-btn unconfirmed-icon" type="button"></button>
                  </div>
                </div>
                <div class="tbl-cell scroll-hdr-fld d-flex align-items-center">
                  <span class="equip-cell-val equip-read-lbl">345</span>
                  <div class="reading-item">
                    <button class="dnm-btn rdng-list-btn estimated-icon" type="button"></button>
                  </div>
                </div>
                <div class="tbl-cell scroll-hdr-fld d-flex align-items-center">
                  <span class="equip-cell-val equip-read-lbl">714</span>
                  <div class="reading-item">
                    <input class="rdng-file-inpt" type="file"/>
                    <button class="dnm-btn rdng-list-btn dnm-btn-photo" type="button"></button>
                  </div>
                  <div class="reading-item">
                    <button class="dnm-btn rdng-list-btn confirmed-icon" type="button"></button>
                  </div>
                </div>
                <div class="tbl-cell scroll-hdr-fld d-flex align-items-center">
                  <span class="equip-cell-val equip-read-lbl">345</span>
                  <div class="reading-item">
                    <input class="rdng-file-inpt" type="file"/>
                    <button class="dnm-btn rdng-list-btn dnm-btn-photo-add" type="button"></button>
                  </div>
                  <div class="reading-item">
                    <button class="dnm-btn rdng-list-btn unconfirmed-icon" type="button"></button>
                  </div>
                </div>
                <div class="tbl-cell scroll-hdr-fld d-flex align-items-center">
                  <span class="equip-cell-val equip-read-lbl">345</span>
                  <div class="reading-item">
                    <button class="dnm-btn rdng-list-btn estimated-icon" type="button"></button>
                  </div>
                </div>
                <div class="tbl-cell scroll-hdr-fld d-flex align-items-center">
                  <span class="equip-cell-val equip-read-lbl">345</span>
                  <div class="reading-item">
                    <button class="dnm-btn rdng-list-btn estimated-icon" type="button"></button>
                  </div>
                </div>
              </div>
              <div class="d-flex no-wrap tbl-row">
                <div class="tbl-cell scroll-hdr-fld d-flex align-items-center">
                  <span class="equip-cell-val equip-read-lbl">714</span>
                  <div class="reading-item">
                    <input class="rdng-file-inpt" type="file"/>
                    <button class="dnm-btn rdng-list-btn dnm-btn-photo" type="button"></button>
                  </div>
                  <div class="reading-item">
                    <button class="dnm-btn rdng-list-btn confirmed-icon" type="button"></button>
                  </div>
                </div>
                <div class="tbl-cell scroll-hdr-fld d-flex align-items-center">
                  <span class="equip-cell-val equip-read-lbl">345</span>
                  <div class="reading-item">
                    <input class="rdng-file-inpt" type="file"/>
                    <button class="dnm-btn rdng-list-btn dnm-btn-photo-add" type="button"></button>
                  </div>
                  <div class="reading-item">
                    <button class="dnm-btn rdng-list-btn unconfirmed-icon" type="button"></button>
                  </div>
                </div>
                <div class="tbl-cell scroll-hdr-fld d-flex align-items-center">
                  <span class="equip-cell-val equip-read-lbl">345</span>
                  <div class="reading-item">
                    <button class="dnm-btn rdng-list-btn estimated-icon" type="button"></button>
                  </div>
                </div>
                <div class="tbl-cell scroll-hdr-fld d-flex align-items-center">
                  <span class="equip-cell-val equip-read-lbl">714</span>
                  <div class="reading-item">
                    <input class="rdng-file-inpt" type="file"/>
                    <button class="dnm-btn rdng-list-btn dnm-btn-photo" type="button"></button>
                  </div>
                  <div class="reading-item">
                    <button class="dnm-btn rdng-list-btn confirmed-icon" type="button"></button>
                  </div>
                </div>
                <div class="tbl-cell scroll-hdr-fld d-flex align-items-center">
                  <span class="equip-cell-val equip-read-lbl">345</span>
                  <div class="reading-item">
                    <input class="rdng-file-inpt" type="file"/>
                    <button class="dnm-btn rdng-list-btn dnm-btn-photo-add" type="button"></button>
                  </div>
                  <div class="reading-item">
                    <button class="dnm-btn rdng-list-btn unconfirmed-icon" type="button"></button>
                  </div>
                </div>
                <div class="tbl-cell scroll-hdr-fld d-flex align-items-center">
                  <span class="equip-cell-val equip-read-lbl">345</span>
                  <div class="reading-item">
                    <button class="dnm-btn rdng-list-btn estimated-icon" type="button"></button>
                  </div>
                </div>
                <div class="tbl-cell scroll-hdr-fld d-flex align-items-center">
                  <span class="equip-cell-val equip-read-lbl">345</span>
                  <div class="reading-item">
                    <button class="dnm-btn rdng-list-btn estimated-icon" type="button"></button>
                  </div>
                </div>
              </div>
              <div class="d-flex no-wrap tbl-row">
                <div class="tbl-cell scroll-hdr-fld d-flex align-items-center">
                  <span class="equip-cell-val equip-read-lbl">714</span>
                  <div class="reading-item">
                    <input class="rdng-file-inpt" type="file"/>
                    <button class="dnm-btn rdng-list-btn dnm-btn-photo" type="button"></button>
                  </div>
                  <div class="reading-item">
                    <button class="dnm-btn rdng-list-btn confirmed-icon" type="button"></button>
                  </div>
                </div>
                <div class="tbl-cell scroll-hdr-fld d-flex align-items-center">
                  <span class="equip-cell-val equip-read-lbl">345</span>
                  <div class="reading-item">
                    <input class="rdng-file-inpt" type="file"/>
                    <button class="dnm-btn rdng-list-btn dnm-btn-photo-add" type="button"></button>
                  </div>
                  <div class="reading-item">
                    <button class="dnm-btn rdng-list-btn unconfirmed-icon" type="button"></button>
                  </div>
                </div>
                <div class="tbl-cell scroll-hdr-fld d-flex align-items-center">
                  <span class="equip-cell-val equip-read-lbl">345</span>
                  <div class="reading-item">
                    <button class="dnm-btn rdng-list-btn estimated-icon" type="button"></button>
                  </div>
                </div>
                <div class="tbl-cell scroll-hdr-fld d-flex align-items-center">
                  <span class="equip-cell-val equip-read-lbl">714</span>
                  <div class="reading-item">
                    <input class="rdng-file-inpt" type="file"/>
                    <button class="dnm-btn rdng-list-btn dnm-btn-photo" type="button"></button>
                  </div>
                  <div class="reading-item">
                    <button class="dnm-btn rdng-list-btn confirmed-icon" type="button"></button>
                  </div>
                </div>
                <div class="tbl-cell scroll-hdr-fld d-flex align-items-center">
                  <span class="equip-cell-val equip-read-lbl">345</span>
                  <div class="reading-item">
                    <input class="rdng-file-inpt" type="file"/>
                    <button class="dnm-btn rdng-list-btn dnm-btn-photo-add" type="button"></button>
                  </div>
                  <div class="reading-item">
                    <button class="dnm-btn rdng-list-btn unconfirmed-icon" type="button"></button>
                  </div>
                </div>
                <div class="tbl-cell scroll-hdr-fld d-flex align-items-center">
                  <span class="equip-cell-val equip-read-lbl">345</span>
                  <div class="reading-item">
                    <button class="dnm-btn rdng-list-btn estimated-icon" type="button"></button>
                  </div>
                </div>
                <div class="tbl-cell scroll-hdr-fld d-flex align-items-center">
                  <span class="equip-cell-val equip-read-lbl">345</span>
                  <div class="reading-item">
                    <button class="dnm-btn rdng-list-btn estimated-icon" type="button"></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2 none-padding">
      <div class="row none-margin-hr">
        <div class="col-8 none-padding">
          <div class="row none-margin-hr list-header">
            <div class="col-6 header-field smr-usage-hdr text-uppercase d-flex align-items-center">
              <span title="AVG">AVG</span>
            </div>
            <div class="col-6 header-field text-uppercase d-flex align-items-center">
              <span title="VAR, %">VAR, %</span>
            </div>
          </div>
        </div>
        <div class="col-4"></div>
      </div>
      <div class="list-body left-border">
        <div class="row none-margin-hr">
          <div class="col-8 none-padding right-border">
            <div class="row none-margin-hr">
              <div class="col-6 tbl-cell d-flex align-items-center">
                <span class="equip-cell-val equip-read-lbl">12</span>
              </div>
              <div class="col-6 tbl-cell d-flex align-items-center">
                <span class="equip-cell-val equip-read-lbl">34</span>
              </div>
            </div>
            <div class="row none-margin-hr">
              <div class="col-6 tbl-cell d-flex align-items-center">
                <span class="equip-cell-val equip-read-lbl">12</span>
              </div>
              <div class="col-6 tbl-cell d-flex align-items-center">
                <span class="equip-cell-val equip-read-lbl">34</span>
              </div>
            </div>
            <div class="row none-margin-hr">
              <div class="col-6 tbl-cell d-flex align-items-center">
                <span class="equip-cell-val equip-read-lbl">12</span>
              </div>
              <div class="col-6 tbl-cell d-flex align-items-center">
                <span class="equip-cell-val equip-read-lbl">34</span>
              </div>
            </div>
            <div class="row none-margin-hr">
              <div class="col-6 tbl-cell d-flex align-items-center">
                <span class="equip-cell-val equip-read-lbl">12</span>
              </div>
              <div class="col-6 tbl-cell d-flex align-items-center">
                <span class="equip-cell-val equip-read-lbl">34</span>
              </div>
            </div>
            <div class="list-body-ftr"></div>
          </div>
          <div class="col-4 none-padding right-border">
            <div class="tbl-cell d-flex align-items-center justify-content-around">
              <div class="reading-item">
                <button class="dnm-btn rdng-list-btn info-icon" type="button"></button>
              </div>
            </div>
            <div class="tbl-cell d-flex align-items-center justify-content-around">
              <div class="reading-item">
                <button class="dnm-btn rdng-list-btn info-icon" type="button"></button>
              </div>
            </div>
            <div class="tbl-cell d-flex align-items-center justify-content-around">
              <div class="reading-item">
                <button class="dnm-btn rdng-list-btn info-icon" type="button"></button>
              </div>
            </div>
            <div class="tbl-cell d-flex align-items-center justify-content-around">
              <div class="reading-item">
                <button class="dnm-btn rdng-list-btn info-icon" type="button"></button>
              </div>
            </div>
            <div class="list-body-ftr"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
