@import 'variables.less';

/* #region user popup */
.popup-user-block {
  border-radius: 4px;
  overflow: hidden;
  width: 240px;
}

.popup-user-block::before {
  position: relative;
  content: '';
  display: block;
  border-color: transparent;
  border-width: 6px;
  border-style: solid;
  border-bottom-color: @color-background-dark;
  opacity: 0.95;
  width: 6px;
  top: 0;
  left: 73px;
}

.popup-user-block .user-block-header {
  padding: 15px 20px;
  opacity: 0.95;
  background: @color-background-dark;
  border-bottom: 1px dashed #646c7e;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.user-block-header .user-name {
  display: flex;
  align-items: center;
  justify-content: center;
  color: @color-background-primary;
  font-size: 15px;
}

.user-block-content {
  background: @color-background-dark;
  border-bottom: 1px dashed #646c7e;
  height: 68px;
  overflow: hidden;
  white-space: normal;
  font-size: 13px;
  color: @color-background-primary;
  padding: 15px 20px 20px;
}

.user-block-content .label {
  color: @color-empty;
  display: inline;
}

.popup-user-block .user-btn-block {
  display: flex;
  justify-content: space-between;
  opacity: 0.95;
  background: @color-background-dark;
  padding: 0;
  overflow: hidden;
}

.user-btn-block .delete-icon,
.user-btn-block .view-icon {
  width: 10px;
  height: 10px;
}

.popup-user-block .user-btn-block button {
  display: inline-block;
  background-color: transparent;
  border: none;
  color: @color-empty;
  font-size: 12.5px;
  padding: 9px 10px 11px;
  outline: none;
  cursor: pointer;
}

.popup-user-block .user-btn-block button:hover {
  background: #364161;
  color: @color-accent;
}

.popup-user-block .user-btn-block button .dnm-icon {
  position: relative;
  top: 1px;
  margin-left: 10px;
}

.popup-user-block .separate-line {
  border-right: 1px dashed #646c7e;
}

/* #endregion */
