@import 'variables.less';

.custom-node-attributes {
  .attrib-name {
    color: @color-text-tertiary;
    text-transform: uppercase;
    font-weight: bold;
  }

  .custom-attributes-actions {
    width: 110px;
    min-width: 70px;
    text-align: right;
  }

  .attribute-note-btn {
    background-color: transparent;
    border: none;
    height: 20px;
    background-repeat: no-repeat;
  }

  .table {
    th {
      padding-left: 30px;
      padding-right: 30px;
    }

    td {
      padding: 30px;
    }
  }

  .actions-btns {
    padding-top: 50px;

    .dnm-btn {
      width: 200px;
      margin-left: 30px;
    }
  }
}
