//@import 'variables.less';
@import 'required-fields.less';

.dt-rent-md-bd {
  padding: 20px 40px;
}

.dt-rent-cont {
  padding: 20px 0 0 0;
}

.dt-rent-footer {
  margin-top: 30px;
  margin-bottom: 30px;
}

.dt-rent-footer .dnm-btn-cancel,
.dt-rent-footer .dnm-btn-primary {
  width: 200px;
}

.dt-rent-footer .dnm-btn-cancel {
  margin-right: 30px;
}

.dt-rent-add-tenant {
  margin-top: 15px;
}

.dt-rent-md-bd .tenant-name {
  font-size: 13px;
  color: @color-text-tertiary;
}

.dt-rent-md-bd .tenant-status {
  font-family: Gotham Light;
  font-size: 12px;
  color: @color-text-tertiary;
}

::ng-deep .tenants-dropdown .dropdown-menu {
  max-height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
}
