@import 'variables.less';

.client-build-shop-det .header-field {
  font-size: 12px;
  white-space: nowrap;
  color: @color-empty;
  text-decoration: none;
}

.client-build-shop-det .list-item {
  margin-top: 10px;
  border: 1px solid #e1e1e1;
  background-color: @color-background-secondary;
  padding: 10px 0px 10px 0px;
}

.client-build-shop-det .list-item.sub-item {
  margin: 0px;
  border-top: none;
}

.client-build-shop-det .subdivision-item {
  background-color: @color-background-white;
  padding: 15px 20px 15px 18px;
  border: 1px solid @color-line;
  border-left: 3px solid @color-main-accent;
  color: @color-text-tertiary;
  font-size: 14px;
}

.client-build-shop-det .header-name {
  margin-bottom: 20px;
}

.client-build-shop-det .list-container {
  margin: 20px 0px 20px 0px;
}

.client-build-shop-det .meter-no-img {
  background: url('../../../../../assets/images/icons/equipment/meter-no-img.svg') no-repeat center;
  width: 35px;
  height: 35px;
  background-size: 35px;
}

.client-build-shop-det .serial-numb-lbl {
  font-family: Gotham Medium;
  font-size: 16px;
  line-height: 1;
  color: @color-text-primary;
  margin-bottom: 10px;
}

.client-build-shop-det .equip-model-lbl,
.client-build-shop-det .equip-descr-lbl,
.client-build-shop-det .equipment-attr,
.client-build-shop-det .special-name-lbl,
.client-build-shop-det .charge-name-lbl {
  font-family: Gotham Book;
  font-size: 13px;
  color: @color-text-tertiary;
}

.client-build-shop-det .item-img {
  width: 50px;
  height: 50px;
  border: 1px solid @color-stroke;
  background-color: @color-background-secondary;
  padding: 0;
  margin-right: 20px;
}

.client-build-shop-det .equipment-attr-lbl {
  color: @color-description;
  margin-right: 5px;
}

.client-build-shop-det .equipment-attr-val {
  color: @color-text-tertiary;
}