@import 'variables.less';

::ng-deep .add-new-tariff-building-modal .modal-dialog {
  max-width: 636px;
}

.modal-body {
  padding: 0 40px 50px;
}

.footer-buttons {
  margin-top: 35px;
}

.dnm-btn {
  width: 200px;
  min-width: 200px;
}

.dnm-btn:first-child {
  margin-right: 30px;
}

.trf-chooser-wrp {
  padding-top: 25px;
  margin-top: 5px;
  border-top: 1px solid @color-line;
  border-bottom: 1px solid @color-line;
  width: 100%;
}

.empty-placeholder {
  font-family: 'Gotham Medium', sans-serif;
  font-size: 30px;
  text-align: center;
  margin: 85px 0;
}

