@import 'variables.less';

.client-nav-btn-save {
  height: 32px;
  width: 130px;
  background: @color-background-tertiary;
  border-radius: 16px;
  color: @color-main-accent;
  font-size: 14px;
  text-align: center;
}

.client-nav-btn-cancel {
  height: 32px;
  width: 130px;
  background: @color-background-white;
  border-radius: 16px;
  color: @color-text-tertiary;
  font-size: 14px;
  text-align: center;
}

.client-nav-btn-save:hover {
  color: @color-text-primary;
  background: @color-stroke;
}

.client-nav-btn-cancel:hover {
  color: @color-text-primary;
}

.add-contact-icon {
  background-color: @color-background-dark !important;
  background: url('../../../assets/images/icons/add_contact.svg') no-repeat center;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-size: 20px;
}

.add-portfolio-icon {
  background-color: @color-background-dark !important;
  background: url('../../../assets/images/icons/add_portfolio.svg') no-repeat center;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-size: 20px;
}

.dnm-tabset .client-tab-name {
  margin-right: 30px;
} 

