//@import 'variables.less';
@import 'required-fields.less';

.modal-body {
  padding: 0 40px 50px;
}

.portfolio-upload-logo-block .bl-gradient-title,
.client-portfolio-info-block .bl-gradient-title {
  margin: 30px 0;
}

.portfolio-upload-logo-block .bl-gradient-title:first-child {
  margin-top: 0;
}

::ng-deep .portfolio-upload-logo-block .edit-logo-panel.row {
  margin: 0 -15px;
}

.portfolio-input-row {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.portfolio-input-row .field-name {
  font-family: Gotham Medium;
  color: @color-text-tertiary;
  font-size: 14px;
}

.footer-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.footer-buttons button:first-child {
  width: calc(50% - 15px);
  margin-right: 15px;
}

.footer-buttons button:last-child {
  width: calc(50% - 15px);
  margin-left: 15px;
}
