<div class="row none-margin-hr tenant-pass-wrp">
  <div class="col-12 none-padding">

    <!-- user pass -->
    <div class="pass-tab">
      <div class="bl-gradient-title">Change Password</div>

      <div class="input-row">
        <div class="text-uppercase field-name">Old Password</div>
        <div class="field-value field-pass">
          <div [ngClass]="{'dnm-invalid-inp': form.isSubmitted && form.controls.oldPassword.isInvalid}">
            <input [ngrxFormControlState]="form.controls.oldPassword" class="form-control" type="password">
            <span class="eye-icon" showPassword></span>
          </div>
          <small *ngIf="form.isSubmitted && form.errors._oldPassword?.required" class="alert-danger">
            Old password is required
          </small>
        </div>
      </div>

      <div class="input-row">
        <div class="text-uppercase field-name">New Password</div>
        <div class="field-value field-pass">
          <div [ngClass]="{'dnm-invalid-inp': form.isSubmitted && form.controls.password.isInvalid}">
            <input [ngrxFormControlState]="form.controls.password" class="form-control" type="password">
            <span class="eye-icon" showPassword></span>
          </div>

          <small *ngIf="form.isSubmitted && form.errors._password?.required" class="alert-danger">
            New password is required
          </small>
        </div>
      </div>

      <div class="input-row">
        <div class="text-uppercase field-name">New Password (Again)</div>
        <div class="field-value field-pass">
          <div [ngClass]="{'dnm-invalid-inp': form.isSubmitted && form.controls.confirmPassword.isInvalid}">
            <input [ngrxFormControlState]="form.controls.confirmPassword" class="form-control" type="password">
            <span class="eye-icon" showPassword></span>
          </div>
          <small *ngIf="form.isSubmitted && form.errors._confirmPassword?.required" class="alert-danger">
            New password confirm is required
          </small>
          <small *ngIf="form.isSubmitted && form.errors._confirmPassword?.equalTo" class="alert-danger">
            New password confirm does not match
          </small>
        </div>
      </div>

      <!-- save and cancel buttons -->
      <div class="pass-footer">
        <button (click)="cancel.emit()" class="dnm-btn dnm-btn-cancel text-uppercase" type="button">Cancel</button>
        <button (click)="save.emit()" class="dnm-btn dnm-btn-primary text-uppercase" type="button">Save</button>
      </div>

    </div>
  </div>
</div>
