@import 'variables.less';

.tenant-pass-wrp .pass-tab .bl-gradient-title {
  line-height: 1;
  margin-bottom: 30px;
}

.tenant-pass-wrp .pass-footer {
  display: flex;
  justify-content: flex-end;
}

.tenant-pass-wrp .pass-footer {
  margin-top: 35px;
  max-width: 825px;
}

.tenant-pass-wrp .pass-footer .dnm-btn-primary,
.tenant-pass-wrp .pass-footer .dnm-btn-cancel {
  width: 200px;
}

.tenant-pass-wrp .pass-footer .dnm-btn-cancel {
  margin-right: 30px;
}

/* custom input for password  */

.tenant-pass-wrp .f-ctrl-icon-eye {
  background-color: @color-background-white;
  background-image: url("../../../../../assets/images/icons/eye-icon.svg");
  background-repeat: no-repeat;
  background-position: right 14px bottom 12px;
  background-size: 15px 9px;
}

.tenant-pass-wrp .field-pass input:focus.f-ctrl-icon-eye {
  background-image: url("../../../../../assets/images/icons/eye-icon-hover.svg");
}
