@import 'variables.less';

.tariff-versions-list .blue-text-btn {
  margin: 15px 0px 15px 0px;
  display: flex;
  align-items: center;
}

.tariff-versions-list .button-row {
  padding: 10px 0 10px 15px;
}

.tariff-versions-list .list-header {
  margin-top: 50px;
}

.tariff-versions-list .list-header .header-field {
  text-transform: uppercase;
}

.tariff-versions-list .list-body {
  border: 1px solid @color-line;
  background-color: transparent;
  min-height: 200px;
  max-height: 450px;
  overflow: auto;
}

.tariff-versions-list .body-row {
  padding: 20px 0;
  min-height: 70px;
  border-bottom: 1px solid @color-line;
  background-color: @color-background-white;

  &.active-version {
    background-color: @color-background-tertiary;
  }
}

.tariff-versions-list .values-lbl {
  font-family: Gotham Medium;
  font-size: 16px;
  line-height: 16px;
  color: @color-text-secondary;
}

.tariff-versions-list .list-text-lbl {
  font-family: Gotham Book;
  font-size: 13px;
  line-height: 13px;
  color: @color-text-tertiary;
}

.title {
  .button-row {
    margin-left: 30px;
  }
}

.section-title {
  padding-top: 0;
}
