<div class="modal-header">
  <div class="container-fluid text-center">
    <i class="icon-relative delete-icon"></i>
  </div>
  <button (click)="dismiss()" aria-label="Close" class="close" data-dismiss="modal" type="button">
    <i aria-hidden="true" class="icon-relative close-popup-icon"></i>
  </button>
</div>
<div class="modal-body">
  <div class="container-fluid text-center">
    <div class="popup-title">Confirm Deletion</div>
    <div class="description">
      Are you sure you want to delete this item?<br/>It cannot be undone!
    </div>
    <div class="button-container">
      <button (click)="dismiss()" class="dnm-btn dnm-btn-cancel text-uppercase" type="button">Cancel</button>
      <button (click)="close()" class="dnm-btn dnm-btn-delete text-uppercase" type="button">Delete</button>
    </div>
  </div>
</div>
