//@import 'variables.less';
@import 'required-fields.less';


input {
  font-size: 14px;
  line-height: 19px;
  color: @color-text-tertiary;
  font-family: Gotham Book;
  width: 100%;
  border: transparent solid 1px;
  border-radius: 5px;
  padding: 7px 30px 7px 20px;
  transition: border-color .15s ease-in-out;
  background-color: transparent;
}

.disable-input {
  pointer-events: none;
  color: @color-description;
}

input:hover {
  border: @color-stroke solid 1px;
  background: url("../../../../assets/images/icons/blue-edit.png") no-repeat @color-background-white;
  background-position: right 10px center;
  cursor: pointer;
}

input:focus {
  background: none;
  cursor: text;
  border: @color-main-accent solid 2px;
  outline: 0;
  padding: 6px 29px 6px 19px;
  background-color: @color-background-white;
}

input.small {
  padding: 2px 30px 2px 10px;
}

input.small:focus {
  padding: 1px 29px 1px 9px;
}

input.bold {
  font-family: Gotham Medium;
  font-size: 16px;
  color: @color-text-secondary;
}
