//@import 'variables.less';
@import 'required-fields.less';

.branch-st-container {
  margin-top: 30px;
}

.branch-st-container .input-row .field-name {
  width: 300px;
}

.branch-st-container .input-row .field-value {
  width: calc(100% - 300px);
}

.branch-st-container .hr-division {
  padding-top: 8px;
  border-top: 1px solid #eeeff0;
}

.branch-st-container .editable-section .editable-section-title {
  margin-bottom: 25px;
}

.branch-st-container .editable-section .field-name {
  font-size: 14px;
  font-family: Gotham Medium;
}

.branch-st-container .editable-section > .row {
  border-bottom: 1px solid #eeeff0;
}

.branch-st-container .editable-section .row {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left: 0;
}

.branch-st-container .editable-section .row.gi-footer {
  padding-bottom: 25px;
  margin-bottom: 25px;
}

.branch-st-container .blue-text-btn {
  margin-top: 12px;
  display: flex;
  align-items: center;
}

.branch-st-container .blue-text-btn {
  margin-right: 30px;
}

.branch-st-container .editable-section {
  margin-top: 30px;
}

.branch-st-container .contact-item .delete-item {
  width: 30px;
}

.branch-st-container .dpts-container .row {
  padding-top: 12px;
  padding-bottom: 12px;
}

.phns-container .input-row,
.extrl-lnks-container .input-row,
.dpts-container .input-row {
  margin-bottom: 0;
}

.padding-left-none {
  padding-left: 0;
}

.branch-st-container .bold {
  font-family: Gotham Medium;
  color: @color-text-secondary;
}

.branch-st-container .building-header {
  width: 18%;
}
