@import 'variables.less';

.save-tariff-mdl-wrp .modal-body {
  padding: 15px 40px 50px;
}

.save-tariff-mdl-wrp .save-tariff-icon {
  background-image: url('../../../../../../../../assets/images/icons/suppliers/save-tariff-popup.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 50px;
  margin-top: 20px;
}

.save-tariff-mdl-wrp .popup-title {
  font-family: Gotham Medium;
  font-size: 30px;
  color: @color-text-primary;
  line-height: 1;
  margin-bottom: 25px;
}

.save-tariff-mdl-wrp .radio-input-lbl {
  font-family: Gotham Light;
  font-size: 14px;
  line-height: 14px;
  color: @color-text-tertiary;
  white-space: nowrap;
  padding-right: 20px;
  padding-left: 10px;
}

.save-tariff-mdl-wrp .radio-input-wrp div div:last-of-type .radio-input-lbl {
  padding-right: 0;
}

.save-tariff-mdl-wrp .button-container {
  margin-top: 50px;
}

.save-tariff-mdl-wrp .button-container .dnm-btn {
  width: 200px;
}

.save-tariff-mdl-wrp .button-container .dnm-btn:first-child {
  margin-right: 30px;
}
