@import "variables";

.create-bulk-equip .dnm-tabstep {
  z-index: 0;
}

.create-bulk-equip .dnm-tabstep .tab-pr-line.checked-tab-1 {
  width: calc(((100% - 106px) / 3 * 1) - 22px)
}

::ng-deep .drpdwn-fltr-lbl {
  font-family: @fontFamilyMedium, Arial, sans-serif;
  font-size: 15px;
  line-height: 15px;
  color: @color-text-tertiary;
  margin-right: 20px;
}

::ng-deep .total-text {
  font-family: @fontFamilyLight;
  font-size: 16px;
  color: @color-text-tertiary;
}

::ng-deep .total-value {
  padding-left: 10px;
  font-family: @fontFamilyLight;
  font-size: 16px;
  color: @color-text-tertiary;
}

.create-bulk-equip .dnm-tabstep .tab-pr-line.checked-tab-2 {
  width: calc(((100% - 106px) / 3 * 2) - 22px)
}

.create-bulk-equip .dnm-tabstep .tab-pr-line.checked-tab-3 {
  width: calc(((100% - 106px) / 3 * 3) - 22px)
}

.create-bulk-equip .dnm-tabstep .chckd-tab-lbl.chckd-tab-lbl-1 {
  background-image: linear-gradient(to right, #22b598, #21b497, #20b497, #1eb396, #1db295);
}

::ng-deep .create-bulk-equip .dnm-tabstep .tab-content {
  padding-top: 10px;
}

::ng-deep .vertical-section-scroll {
  min-height: 35vh;
  max-height: 60vh;
  overflow-y: scroll;
}

::ng-deep .min-column-width {
  display: block;
  width: 100%;
  margin-right: 60px;
}

