
.tariffs-per-mtrs-wrp .dnm-btn-cancel,
.tariffs-per-mtrs-wrp .dnm-btn-primary {
  width: 200px;
  min-width: 200px;
}

.tariffs-per-mtrs-wrp .dnm-btn-cancel {
  margin-right: 30px;
}

.cell-node {
  padding-left: 25px;
}

.cell-category {
  width: 365px;
}

::ng-deep .tariff-item .category-warning-info,
::ng-deep .tariff-item .category-warning-icon {
  float: right;

  button {
    background-color: transparent;
    border: none;
    height: 20px;
    background-repeat: no-repeat;
    margin-left: 7px;
  }
}
