@import "src/styles/variables";

::ng-deep .ngx-charts-tooltip-content.type-tooltip {
  background: #fff !important;
  box-shadow: 0 0 4px rgba(100, 100, 100, 0.3);
  min-width: 460px;
  z-index: 100000;
}

:host {
  height: 100%;
  width: 100%;
  display: block;
}
