@import 'required-fields.less';

.edit-groups .modal-body {
  padding: 10px 40px 50px;
}

.edit-groups .footer-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 35px;

  .dnm-btn-cancel,
  .dnm-btn-primary {
    width: 200px;
  }

  .dnm-btn-primary {
    margin-left: 30px;
  }
}
