<div class="users-list">
  <div class="modal-header">
    <h5 class="modal-title">Users ({{model.length}}):</h5>
    <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <i class="icon-relative close-popup-icon" aria-hidden="true"></i>
    </button> -->
  </div>
  <div class="modal-body none-padding">
    <div class="users-list-block">
      <div *ngFor="let user of model;" class="users-list-item d-flex align-items-center">
        <div class="user-img-block col-6">
          <logo-container [file]="user.logo" [url]="user.logoUrl" logo-class="round-logo-wrp user-img d-flex">
            <div class="logo-no-img">
              <span>{{user.fullName[0].toUpperCase()}}</span>
            </div>
          </logo-container>
          <span class="user-name">{{user.fullName}}</span>
        </div>
        <div class="user-roles col-6 none-padding">
          <span class="user-roles-label">Roles:</span>
          <span class="user-roles-data">{{getUserRoles(user)}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
