<div class="page-404">
  <nav class="navbar fixed-top navbar-expand-md bg-blue-gradient dnm-navbar">
    <a [routerLink]='["/"]' class="navbar-brand d-flex">
      <img alt="Logo" class="company-logo" height="44" src="/assets/images/logos/branch-logo.png" width="138">
    </a>
    <div class="collapse navbar-collapse"></div>
  </nav>

  <div class="container page-404-panel page-404-logo">
    <div class="meter-arrow"></div>
    <h1 class="title-1">Page Not Found</h1>
    <h2 class="title-2">We couldn't find the page you are looking for</h2>
    <h2 class="title-2">Go to <a [routerLink]="['/']">Dashboard</a></h2>
  </div>
</div>
