@import 'variables.less';

.chng-status-wrp .modal-header {
  padding: 30px 40px 0 40px;
}

.chng-status-wrp .modal-header .close-btn-wrp {
  height: 13px;
  line-height: 13px;
  padding: 0;
}

.chng-status-wrp .modal-header .close-btn-wrp:hover .close-popup-icon {
  background: url("../../../../../../../../../../assets/images/icons/modals/close-popup-hover.svg");
  cursor: pointer;
}

.chng-status-wrp .modal-header button {
  padding: 0;
}

.chng-status-wrp .modal-body {
  padding: 0 90px;
}

.chng-status-wrp .icon-wrp {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chng-status-wrp .icon-wrp .info-icon {
  width: 50px;
  height: 50px;
}

.chng-status-wrp .header-text {
  margin-top: 50px;
  text-align: center;
  font-size: 30px;
  font-family: Gotham Medium;
  color: @color-text-primary;
  padding: 0 10px;
}

.chng-status-wrp .changing-msg {
  margin-top: 25px;
  text-align: center;
  font-size: 18px;
  font-family: Gotham Light;
  color: @color-text-primary;
}

.chng-status-wrp .btns-wrp {
  margin-top: 50px;
  margin-bottom: 55px;
  text-align: center;
}

.chng-status-wrp .chng-status-btns {
  width: 200px;
}

.chng-status-wrp .chng-status-btns:first-child {
  margin-right: 30px;
}

::ng-deep .chng-status-dlg .modal-dialog {
  width: 640px;
}

