.create-virtual-register {
  padding: 20px 40px 50px 40px;
  max-height: 470px;
  overflow: auto;
}

.create-virtual-register h5 {
  font-family: Gotham Book, sans-serif;
  font-size: 20px;
}

.create-virtual-register .modal-body {
  padding: 20px 40px 50px 40px;
}

.create-virtual-register .add-item-row {
  margin-bottom: 15px;
}

.create-virtual-register .footer-buttons {
  margin-top: 50px;
}

.create-virtual-register .dnm-btn-cancel,
.create-virtual-register .dnm-btn-primary {
  width: 135px;
}

.create-virtual-register .blue-text-btn:nth-child(1) {
  margin-right: 30px;
}

.create-virtual-register .dnm-btn-cancel {
  margin-right: 30px;
}

::ng-deep .create-virtual-register .nat-tnt-drpdwn .ng-input {
  padding-top: 4px;
}

::ng-deep .create-virtual-register .nat-tnt-drpdwn .ng-input input {
  padding-left: 20px;
}

::ng-deep .create-virtual-register .nat-tnt-drpdwn .ng-select-container {
  padding-left: 12px;
}

::ng-deep .create-virtual-register .nat-tnt-drpdwn .ng-value {
  font-size: 14px;
  line-height: 21px;
}

::ng-deep .create-virtual-register .nat-tnt-drpdwn .ng-option {
  font-size: 14px;
}
