@import 'variables.less';

.auth-right {
  color: @color-background-white;
  height: 100vh;

  h1.label-welcome {
    font-size: 60px;
  }

  h4.label-message {
    font-size: 24px;
    font-style: italic;
    margin-top: 21px;
  }

  p.label-message {
    font-size: 9px;
    font-style: italic;
    margin-top: 10px;
  }

  .title {
    margin: 0 70px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-family: @fontFamilyMedium;
  }
}
