<div class="d-flex justify-content-between">
  <span class="results-label dnm-text-light">{{getItemsDetails()}}</span>
  <div class="d-flex align-items-center">
    <span class="text-uppercase filter-item-lbl">Buildings Per Page:</span>
    <ng-select (change)="setItemsPerPage($event)"
               [(ngModel)]="itemsPerPage" [clearable]="false"
               [searchable]="false" class="dnm-single-select dnm-dropdown-select">
      <ng-option *ngFor="let item of itemsPerPageList" [value]="item">{{item}}</ng-option>
      <ng-option [value]="0">All</ng-option>
    </ng-select>
  </div>
</div>

<div class="container-fluid building-list-wrp pt-4">
  <div class="building-list-header text-uppercase d-xs-none row">
    <div class="col-md-4 col-first">
      <a (click)="changeOrderIndex(1);" [ngClass]="{'active': orderIndex == 1 || orderIndex == -1}" class="header-field d-flex align-items-center"
         href="javascript:void(0);">
        <span class="text-ellipsis" title="Building name">Building name</span>
        <i [ngClass]="{'inactive': orderIndex != 1 && orderIndex != -1, 'dnm-icon-sort-up': orderIndex == -1,'dnm-icon-sort-down': orderIndex != -1 }"
           class="dnm-icon"></i>
      </a>
    </div>
    <div class="col-md-2">
      <a (click)="changeOrderIndex(2);" [ngClass]="{'active': orderIndex == 2 || orderIndex == -2}" class="header-field d-flex align-items-center"
         href="javascript:void(0);">
        <span class="text-ellipsis" title="Suburb, Town">Suburb, Town</span>
        <i [ngClass]="{'inactive': orderIndex != 2 && orderIndex != -2, 'dnm-icon-sort-up': orderIndex == -2,'dnm-icon-sort-down': orderIndex != -2 }"
           class="dnm-icon"></i>
      </a>
    </div>
    <div class="col-md-2">
      <a (click)="changeOrderIndex(3);" [ngClass]="{'active': orderIndex == 3 || orderIndex == -3}" class="header-field d-flex align-items-center"
         href="javascript:void(0);">
        <span class="text-ellipsis" title="Category">Category</span>
        <i [ngClass]="{'inactive': orderIndex != 3 && orderIndex != -3, 'dnm-icon-sort-up': orderIndex == -3,'dnm-icon-sort-down': orderIndex != -3 }"
           class="dnm-icon"></i>
      </a>
    </div>
    <div class="col-md-1">
      <a (click)="changeOrderIndex(5);" [ngClass]="{'active': orderIndex == 5 || orderIndex == -5}" class="header-field d-flex align-items-center"
         href="javascript:void(0);">
        <span class="text-ellipsis" title="Total GLA">Total GLA</span>
        <i [ngClass]="{'inactive': orderIndex != 5 && orderIndex != -5, 'dnm-icon-sort-up': orderIndex == -5,'dnm-icon-sort-down': orderIndex != -5 }"
           class="dnm-icon"></i>
      </a>
    </div>
    <div class="col-md-2">
      <a (click)="changeOrderIndex(7);" [ngClass]="{'active': orderIndex == 7 || orderIndex == -7}" class="header-field d-flex align-items-center"
         href="javascript:void(0);">
        <span class="text-ellipsis" title="Client / Portfolio">Client / Portfolio</span>
        <i [ngClass]="{'inactive': orderIndex != 7 && orderIndex != -7, 'dnm-icon-sort-up': orderIndex == -7,'dnm-icon-sort-down': orderIndex != -7 }"
           class="dnm-icon"></i>
      </a>
    </div>
    <div class="col-md-1">
    </div>
  </div>

  <div *ngFor="let building of model.items" class="building-list dnm-text-medium">
    <div class="building-item row">

      <div (click)="onBuildingPress(building)" class="col-md-4 col-xs-12 d-flex align-items-center col-first">
        <div class="bld-logo-wrp">
          <logo-container [url]="building.logoUrl" logo-class="logo d-flex justify-content-center full-height">
            <div class="logo-abbreviation d-flex align-items-center">
              <span>{{building.name[0].toUpperCase()}}</span>
            </div>
          </logo-container>
        </div>
        <div class="building-name dnm-text-bold text-ellipsis">{{building.name}}</div>
      </div>

      <div (click)="onBuildingPress(building)" class="col-md-2 col-xs-12">
        <div class="vertical-middle">
          <div
            class="building-address text-ellipsis">{{building.address.suburb ? building.address.suburb + ', ' : ''}}{{building.address.city}}</div>
        </div>
      </div>

      <div (click)="onBuildingPress(building)" class="col-md-2 col-xs-12 d-flex">
        <div class="align-self-center building-category">
          <div class="text-ellipsis" ngbTooltip="{{building.category}}" placement="bottom">{{building.category}}</div>
        </div>
      </div>

      <div (click)="onBuildingPress(building)" class="col-md-1 col-xs-12">
        <div class="vertical-middle">
          <div class="building-category text-ellipsis">{{building.totalGLA | number}} sq m</div>
        </div>
      </div>

      <div (click)="onBuildingPress(building)" class="col-md-2 col-xs-12">
        <div class="vertical-middle">
          <div class="building-clientname text-ellipsis">{{building.client.name}}</div>
          <div class="building-portfolioname text-ellipsis">{{building.clientPortfolio.name}}</div>
        </div>
      </div>
      <div class="col-md-1 col-xs-4">
        <div class="d-flex justify-content-center action-buttons">
          <i (click)="onShowOnMap(building)" class="dnm-icon dnm-icon-location inactive"></i>
          <div *ngIf="accessPermission.canUpdateBuildings || accessPermission.canCreateBuildings" [placement]="['bottom-right', 'top-right']" class="dropdown darkness d-inline-block"
               ngbDropdown>
            <button class="dnm-btn dnm-btn-menu" data-menu-button ngbDropdownToggle></button>
            <div class="dropdown-menu dropdown-menu-left" ngbDropdownMenu>
              <button *ngIf="accessPermission.canUpdateBuildings"
                      [routerLink]="['/branch',branchId,'marketing',building.id]"
                      class="dropdown-item d-flex justify-content-between">
                Edit<i class="dnm-icon edit-icon"></i>
              </button>
              <button (click)="onDelete(building.id)" *ngIf="accessPermission.canCreateBuildings"
                      class="dropdown-item d-flex justify-content-between" data-menu-item>
                Delete<i class="dnm-icon delete-icon"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<pager (onPageChange)="onPageChange($event)" [pageSize]="itemsPerPage" [page]="page" [total]="model.total"></pager>
