.reset-pwd-container {
  padding-bottom: 50px;
}

.reset-pwd-container .footer-buttons {
  margin-top: 20px;
}

.reset-pwd-container .footer-buttons .dnm-btn:first-child {
  margin-right: 30px;
}

.title-container {
  margin-bottom: 25px;
}
