<div class="modal-body">
  <div class="row crt-new-usr-popup">
    <form [formGroup]="form" class="col">
      <div class="col-md-12 none-padding">
        <!-- client logo -->
        <div class="client-upload-logo-block">
          <div class="bl-gradient-title">User photo</div>
          <upload-image (fileChange)="logoChanged($event)" [(file)]="file" [(src)]="model.logoUrl" [aspectRatio]="1 / 1"
                        [maintainAspectRatio]="true" outputFileName="client-logo"></upload-image>
        </div>
        <!-- contact info -->
        <div class="client-contact-info-block">
          <div class="bl-gradient-title editable-section-title">Contact Info</div>

          <div class="input-row">
            <div class="text-uppercase field-name">Contact Name</div>
            <div class="field-value">
              <div [ngClass]="{'dnm-invalid-inp': formErrors['fullName']}">
                <input class="form-control req-frm-fld" formControlName="fullName" maxlength="256" placeholder="Type here"
                       type="text"/>
              </div>
            </div>
            <div class="field-name"></div>
            <div class="field-value">
              <small *ngIf="formErrors['fullName']" class="alert-danger">
                {{ formErrors["fullName"] }}
              </small>
            </div>
          </div>

          <div class="input-row">
            <div class="text-uppercase field-name">Departments</div>
            <div class="field-value">
              <div [ngClass]="{'dnm-invalid-inp': formErrors['departments'] && selectedDepartmentsIds.length == 0}">
                <ng-select (change)="onDepartmentChange($event)" [(ngModel)]="selectedDepartmentsIds" [clearable]="false" [closeOnSelect]="false"
                           [dropdownPosition]="'top'" [hideSelected]="true"
                           [items]="departments" [multiple]="true" [ngModelOptions]="{standalone: true}" [searchable]="false"
                           bindLabel="name"
                           bindValue="id" class="dnm-multiple-select req-frm-fld"></ng-select>
              </div>
            </div>
            <div class="field-name"></div>
            <div class="field-value">
              <small *ngIf="formErrors['departments']" class="alert-danger">
                {{ formErrors["departments"] }}
              </small>
            </div>
          </div>

          <div class="input-row">
            <div class="text-uppercase field-name">Role</div>
            <div class="field-value">
              <div class="dropdown d-block fullwidth-dropdown none-padding" ngbDropdown>
                <button class="btn btn-secondary dropdown-toggle text-left" id="ddCategory" ngbDropdownToggle>
                  {{selectedRoleText}}
                </button>
                <div aria-labelledby="ddCategory" class="dropdown-menu" ngbDropdownMenu>
                  <button (click)="onRoleChange(role)" *ngFor="let role of roles"
                          class="dropdown-item">{{role.name}}</button>
                </div>
              </div>
            </div>
          </div>

          <div class="input-row">
            <div class="text-uppercase field-name">Branches</div>
            <div class="field-value">
              <ng-select (change)="onBranchChange($event)" [(ngModel)]="selectedBranchesIds" [clearable]="false" [closeOnSelect]="false"
                         [disabled]="isBranchesDisabled" [dropdownPosition]="'top'"
                         [hideSelected]="true" [items]="branches" [multiple]="true" [ngModelOptions]="{standalone: true}"
                         [searchable]="false"
                         bindLabel="name" bindValue="id"
                         class="dnm-multiple-select"></ng-select>
            </div>
          </div>

          <address [isSubmitted]="isSubmitted" [validationNotify]="submitNotify" formControlName="address" [name]="'Address'"></address>

          <div class="input-row">
            <div class="text-uppercase field-name">Email</div>
            <div class="field-value">
              <div [ngClass]="{'dnm-invalid-inp': formErrors['email']}">
                <input class="form-control req-frm-fld" formControlName="email" maxlength="254" placeholder="Type here"
                       type="text"/>
              </div>
            </div>
            <div class="text-uppercase field-name"></div>
            <div class="field-value">
              <small *ngIf="formErrors['email']" class="alert-danger">
                {{ formErrors["email"] }}
              </small>
            </div>
          </div>

          <div class="input-row">
            <div class="text-uppercase field-name">Phone Number</div>
            <div class="field-value">
              <div [ngClass]="{'dnm-invalid-inp': formErrors['phone']}">
                <input class="form-control req-frm-fld" formControlName="phone" maxlength="15" placeholder="Type here" type="text"/>
              </div>
            </div>
            <div class="text-uppercase field-name"></div>
            <div class="field-value">
              <small *ngIf="formErrors['phone']" class="alert-danger">
                {{ formErrors["phone"] }}
              </small>
            </div>
          </div>

          <div class="input-row row-description">
            <div class="text-uppercase field-name">Description</div>
            <div class="field-value">
              <textarea class="form-control" formControlName="description" maxlength="500"
                        placeholder="Type here"></textarea>
            </div>
          </div>

          <div class="input-row row-description d-flex align-items-center">
            <div class="text-uppercase field-name">Approved</div>
            <div class="field-value d-flex align-items-center">
              <label class="dnm-switch-btn">
                <input formControlName="isApproved" type="checkbox">
                <span class="dnm-switch-slider round"></span>
              </label>
            </div>
          </div>

          <div formArrayName="contactInformations">
            <div *ngFor="let contact of contactInformations.controls; index as i; let idx = index;"
                 class="input-row contact-item">
              <ng-container [formGroupName]="idx">
                <div class="text-uppercase field-name">
                  <dropdown-input [values]="contactInformationTypes" formControlName="label"></dropdown-input>
                </div>
                <div class="field-value d-flex">
                  <div [ngClass]="{'dnm-invalid-inp': formErrors['contactInformations' + idx]}" class="w-100">
                    <text-input [isRequired]= true class="editable-ctrl" formControlName="value"></text-input>
                  </div>
                  <button (click)="onRemoveExternalLink(idx)" class="dnm-btn-icon" href="javascript:void(0);"
                          type="button">
                    <i class="icon cross-icon"></i>
                  </button>
                </div>
                <div class="field-name">
                </div>
                <div class="field-value">
                  <small *ngIf="formErrors['contactInformations' + idx]" class="alert-danger">
                    {{ formErrors['contactInformations' + idx] }}
                  </small>
                </div>
              </ng-container>
            </div>
          </div>

          <div class="row">
            <a (click)="onAddExternalLink()" class="blue-text-btn client-add-link-btn" href="javascript:void(0);">
              <i class="add-icon"></i> Add External Link
            </a>
          </div>
        </div>

        <!-- save and cancel buttons -->
        <div class="client-contact-info-footer">
          <div class="row">
            <div class="col-md-8 offset-md-4 none-padding footer-buttons">
              <button (click)="onCancel();" class="dnm-btn dnm-btn-cancel text-uppercase" type="button">Cancel</button>
              <button (click)="onSave();" class="dnm-btn dnm-btn-primary text-uppercase" type="button">Save</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
