//@import 'variables.less';
@import 'required-fields.less';

.modal-body {
  padding: 0 55px 50px 40px;
}

.client-upload-logo-block .bl-gradient-title,
.client-contact-info-block .bl-gradient-title {
  margin: 35px 0;
}

.client-upload-logo-block .bl-gradient-title:first-child {
  margin-top: 0;
}

::ng-deep .edit-logo-panel.row {
  margin: 0 -15px;
}

.user-photo-preview {
  width: 90px;
  height: 90px;
  line-height: 90px;
  border: 1px solid @color-stroke;
  text-align: center;
  border-radius: 45px;
  float: left;
  margin-right: 40px;
  position: relative;
  top: 5px;
}

.user-photo-img {
  display: inline-block;
  background-image: url('../../../../assets/images/icons/user-photo.png');
  background-repeat: no-repeat;
  width: 45px;
  height: 44px;
  margin: auto 0;
  position: relative;
  top: 15px;
}

.logo-description {
  padding-top: 0;
}

.logo-description .inputfile, .logo-description .inputfile + label {
  margin-top: 15px;
}

.row-description {
  align-items: baseline;
}

.row-description textarea.form-control {
  height: 80px;
  resize: none;
}

.client-add-link-btn {
  font-family: 'Gotham Medium';
  font-weight: 400;
  display: flex;
  align-items: center;
  margin-top: 32px;
  margin-left: 15px;
}

.client-add-link-btn .add-icon {
  margin-right: 10px;
}

.footer-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.footer-buttons button:first-child {
  width: calc(50% - 15px);
  margin-right: 15px;
}

.footer-buttons button:last-child {
  width: calc(50% - 15px);
  margin-left: 15px;
}

.contact-item .dnm-btn-icon {
  margin-left: 5px;
}

.dnm-btn-icon .icon {
  vertical-align: -2px;
}
