@import 'variables.less';

.client-settings .settings-container {
  padding-top: 30px;
}

.client-settings .item-img {
  width: 200px;
  min-width: 200px;
  height: 150px;
  min-height: 150px;
  border: 1px solid @color-stroke;
  border-radius: 5px;
  background-color: @color-background-white;
  margin-bottom: 15px;
}

.client-settings .logo-abbreviation {
  width: 200px;
  height: 150px;
  font-size: 30px;
}

.client-settings .info-lbl {
  font-family: 'Gotham Book';
  color: @color-text-tertiary;
  font-size: 14px;
  padding-left: 20px;
}

.client-settings .text-form-field {
  padding-top: 0;
}

.client-settings .field-name {
  width: 230px;
}
