@import 'required-fields.less';

.create-tariff .modal-body {
  padding: 20px 40px 50px 40px;
}

.create-tariff .footer-buttons {
  margin-top: 50px;
}

.create-tariff .dnm-btn-cancel,
.create-tariff .dnm-btn-primary {
  width: 200px;
}

.create-tariff .blue-text-btn:nth-child(1) {
  margin-right: 30px;
}

.create-tariff .dnm-btn-cancel {
  margin-right: 30px;
}
