@import 'variables.less';

.service-prices {
  background-color: @color-background-secondary;
  padding: 5px 40px;
  border-top: 1px solid #ecedef;
  border-bottom: 1px solid #ecedef;
}

.service-prices .min-fee-row {
  padding-top: 15px;
}

.service-prices .input-row-title {
  font-family: Gotham Medium;
  font-size: 12px;
  color: @color-empty;
  padding-bottom: 15px;
  padding-top: 15px;
}

.input-row-title .field-name {
  width: 250px;
}

.input-row-title .field-value {
  width: calc(100% - 250px);
  padding-left: 15px;
}

.radio-input {
  margin-bottom: 15px;
}

.radio-input:first-child {
  margin-top: 8px;
}

.radio-input .dnm-radio-btn {
  margin-right: 13px;
}

.radio-input-lbl {
  font-family: Gotham Light;
  font-size: 14px;
  line-height: 14px;
  color: @color-text-tertiary;
}

.field-name-top {
  line-height: 38px;
}

.per-met-types-lbl {
  margin-top: 7px;
}

.input-row .field-value .field-meter-value {
  display: flex;
  width: 100%;
  margin-bottom: 7px;
  margin-top: 7px;
}

.service-prices .delete-link {
  margin-left: 15px;
}

.meter-price {
  width: 70%;
}
