@import 'required-fields.less';

.remove-bank-account-btn .blue-cross-icon {
  margin-left: 10px;
}

.modal-body {
  padding-left: 25px;
  padding-right: 25px;
}

/* #region media styles */
@media (min-width: 768px) {
  .row-title {
    margin-bottom: 30px;
  }
}

/* #endregion */

