.mng-profile-popup.modal-body {
  padding: 0;
}

::ng-deep .mng-profile-popup .nav-tabs .nav-link {
  padding-top: 8px;
  padding-bottom: 16px;
  font-size: 13px;
  font-family: 'Gotham Light';
}

.tab-icon {
  display: inline-block;
  position: relative;
}

.footer-buttons .dnm-btn {
  margin-left: 25px;
}
