<form [ngrxFormState]="formState$ | async">
  <div class="add-location">
    <div class="modal-header">
      <h5 class="modal-title">{{ title$ | async }}</h5>
      <button (click)="dismiss()" aria-label="Close" class="close" data-dismiss="modal" type="button">
        <i aria-hidden="true" class="icon-relative close-popup-icon"></i>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-12">
          <div class="input-row">
            <div class="text-uppercase field-name">Location Name</div>
            <div class="field-value">
              <div
                [ngClass]="{'dnm-invalid-inp': (formState$ | async).isSubmitted && (formState$ | async).controls.name.isInvalid}">
                <input [ngrxFormControlState]="(formState$ | async).controls.name" class="form-control req-frm-fld" maxlength="256" placeholder="Type here"
                       type="text"/>
              </div>
              <small *ngIf="(formState$ | async).isSubmitted && (formState$ | async).errors._name?.required"
                     class="alert-danger">
                A location name is required
              </small>
            </div>
          </div>
          <div class="input-row row-description">
            <div class="text-uppercase field-name text-form-field">Description</div>
            <div class="field-value">
              <textarea [ngrxFormControlState]="(formState$ | async).controls.description" class="form-control" maxlength="256"
                        placeholder="Type here"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="isDocumentComplete$ | async">
        <div class="row radio-btn-row">
          <div class="col-12">
            <div class="dnm-radio-btn">
              <input [ngrxFormControlState]="(formState$ | async).controls.actionType" [value]="2" name="actionType"
                     type="radio"/>
              <div class="state">
                <label>Update current version</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row radio-btn-row">
          <div class="col-12">
            <div class="dnm-radio-btn">
              <input [ngrxFormControlState]="(formState$ | async).controls.actionType" [value]="3" name="actionType"
                     type="radio"/>
              <div class="state">
                <label>Update current and next versions</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row radio-btn-row">
          <div class="col-12 d-flex align-items-center">
            <div class="dnm-radio-btn new-ver-r-btn">
              <input [ngrxFormControlState]="(formState$ | async).controls.actionType" [value]="1" id="newVersion" name="actionType"
                     type="radio"/>
              <div class="state">
                <label>Save as a new version:</label>
              </div>
            </div>
            <input #d="ngbDatepicker" (click)="d.toggle()" [disabled]="actionType != 1"
                   [ngrxFormControlState]="(formState$ | async).controls.date"
                   class="form-control date" name="dp" ngbDatepicker placeholder="mm/dd/yyyy" readonly>
          </div>
        </div>
      </div>
      <div class="row none-margin-hr">
        <div class="col-12 none-padding footer-btns d-flex justify-content-end">
          <button (click)="dismiss()" class="dnm-btn dnm-btn-cancel text-uppercase" type="button">Cancel</button>
          <button (click)="onSave()" class="dnm-btn dnm-btn-primary text-uppercase" type="button">Save</button>
        </div>
      </div>
    </div>

  </div>
</form>
