@import 'variables.less';

.main-nav {
  margin-top: 75px;
  background: #1e2849;
  background-image: linear-gradient(to right, #212c4f, #202b4d, #1f2a4b, #1f294a, #1e2848);
  color: @color-background-white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.main-nav .navbar {
  padding: 7px 12px;
  height: calc(100vh - 75px);
}

.bottom-navbar.navbar-collapse {
  position: absolute;
  bottom: 50px;
  width: calc(100% - 24px);
}

.navbar li:hover {
  cursor: pointer;
}

.navbar li.link-active, .navbar li:hover {
  background: #1c3f66;
  border-radius: 18px;
}

.navbar li a {
  font-family: Gotham Medium;
  font-size: 12px;
  color: @color-background-white;
  padding: 7px 18px;
  width: 100%;
  height: 40px;
  display: inline-block;
}

.navbar li a:hover {
  text-decoration: none;
}

.navbar li.link-active a {
  color: @color-main-accent;
}

.navbar li .nav-item-text {
  position: relative;
  top: -1px;
}

.collapse-btn {
  display: inline-block;
}

.collapse-btn:hover {
  cursor: pointer;
}

.collapse-btn .icon {
  cursor: pointer;
  margin: 12px;
}

.navbar-icon {
  display: inline-block;
  position: relative;
  top: 3px;
  background-repeat: no-repeat;
  margin-right: 10px;
  height: 20px;
  width: 20px;
}

.navbar-collapsed .navbar-icon {
  margin-right: 0;
}

.dashboard-icon {
  background-image: url("../../../assets/images/icons/nav-menu/dashboard.svg");
}

li.link-active .dashboard-icon {
  background-image: url("../../../assets/images/icons/nav-menu/dashboard-hover.svg");
}

.clients-icon {
  background-image: url("../../../assets/images/icons/nav-menu/clients.svg");
}

li.link-active .clients-icon {
  background-image: url("../../../assets/images/icons/nav-menu/clients-hover.svg");
}

.buildings-icon {
  background-image: url("../../../assets/images/icons/nav-menu/building.svg");
}

li.link-active .buildings-icon {
  background-image: url("../../../assets/images/icons/nav-menu/building-hover.svg");
}

.tariffs-icon {
  background-image: url("../../../assets/images/icons/nav-menu/tariffs.svg");
}

li.link-active .tariffs-icon {
  background-image: url("../../../assets/images/icons/nav-menu/tariffs-hover.svg");
}

.suppliers-icon {
  background-image: url("../../../assets/images/icons/nav-menu/suppliers.svg");
}

li.link-active .suppliers-icon {
  background-image: url("../../../assets/images/icons/nav-menu/suppliers-hover.svg");
}

.reports-icon {
  background-image: url("../../../assets/images/icons/reports.svg");
}

li.link-active .reports-icon {
  background-image: url("../../../assets/images/icons/nav-menu/reports-hover.svg");
}

.settings-icon {
  background-image: url("../../../assets/images/icons/nav-menu/settings.svg");
}

li.link-active .settings-icon {
  background-image: url("../../../assets/images/icons/user-account/settings-hover.svg");
}

.user-profiles-icon {
  background-image: url("../../../assets/images/icons/nav-menu/user-profiles.svg");
}

li.link-active .user-profiles-icon {
  background-image: url("../../../assets/images/icons/nav-menu/user-profiles-hover.svg");
}

.ms-admin-icon {
  background-image: url("../../../assets/images/icons/nav-menu/switch-branch-admin.svg");
}

.marketing-icon {
  background-image: url("../../../assets/images/icons/nav-menu/marketing.svg");
}

li.link-active .marketing-icon {
  background-image: url("../../../assets/images/icons/nav-menu/marketing-hover.svg");
}

.navbar-collapsed .br-clp-arrow-icon {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  background-position: center left;
}

/* #region media styles */

@media (min-width: 768px) {
  .main-nav {
    height: 100%;
    width: 202px;
    z-index: 2500;
  }

  .main-nav .navbar {
    -ms-flex-flow: wrap;
    flex-flow: wrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .navbar-collapse {
    padding: 0;
    margin-top: 10px;
  }

  .navbar ul {
    float: none;
  }

  .navbar li {
    float: none;
    font-size: 15px;
    margin: 6px 0;
    width: 100%;
  }

  .navbar li a {
    font-size: 13px;
  }

  .navbar-profile {
    display: block;
    width: 100%;
  }
}

/* #endregion */
