.bl-gradient-title {
  margin-top: 32px;
}

.page-title {
  font-size: 30px;
  line-height: 25px;
}

.edit-charge-version {
  margin-top: 20px;
}

.input-row {
  padding: 10px 0 10px 20px;
  margin-bottom: 0;
}

.blue-text-btn {
  margin: 15px 0px 15px 0px;
  display: flex;
  align-items: center;
}

.footer-buttons {
  display: flex;
  margin-top: 30px;
  margin-bottom: 20px;
}

.footer-buttons button {
  width: 200px;
}

.footer-buttons button:last-child {
  margin-left: 30px;
}
