@import 'variables.less';

.bld-trfs-wrp .search-row {
  margin-bottom: 30px;
}

.bld-trfs-wrp .group-search-input {
  background-color: @color-background-white;
}

.bld-trfs-wrp .nav-row {
  margin-top: 30px;
  margin-bottom: 40px;
}

.bld-trfs-wrp .results-label {
  font-size: 16px;
  color: @color-text-tertiary;
  margin-right: 20px;
}

.bld-trfs-wrp .fltr-drpdwn-lbl,
.bld-trfs-wrp .per-page-lbl {
  font-family: Gotham Medium;
  font-size: 15px;
  line-height: 15px;
  color: @color-text-tertiary;
  margin-right: 20px;
}

.bld-trfs-wrp .fltr-drpdwn-btn,
.bld-trfs-wrp .fltr-drpdwn-menu {
  min-width: 200px;
  width: 200px;
  text-align: left;
}

.bld-trfs-wrp .supply-fltr-btn {
  margin-right: 30px;
}
