
.manage-building-period-container {
  min-height: calc(100vh - 400px);
  padding-bottom: 50px;

  .building-period-select {
    width: 220px;
  }
}

.datepicker-wrp.datepicker-wrp__width {
  max-width: 234px;
}

.mng-bld-period-footer .dnm-btn-cancel {
  margin-right: 30px;
}
