@import 'variables.less';

.search-row {
  margin-bottom: 30px;
}

.main-search-input {
  width: calc(100% - 154px);
  margin-right: 30px;
}

.dnm-btn-filter {
  position: relative;
  background-color: @color-background-white;
  color: @color-text-tertiary;
  padding: 0 50px 0 20px;
  font-size: 14px;
  border-radius: 25px;
  line-height: 14px;
  border: 2px solid @color-main-accent;
  height: 38px;
}

.btn-group .filter-item {
  border-radius: 25px;
}

.dnm-btn-filter.active-btn {
  background-color: @color-main-accent;
  color: @color-background-white;
}

.set-nodes-filter {
  border-top: 1px solid @color-line;
  border-bottom: 1px solid @color-line;
  margin-left: -40px;
  margin-right: -40px;
  padding: 40px;
  background-color: @color-background-secondary;

  & > :first-child {
    & > :nth-child(1), & > :nth-child(4) {
      padding-left: 0;
      padding-right: 40px;
    }

    & > :nth-child(2), & > :nth-child(5) {
      padding-left: 40px;
      padding-right: 40px;
      border-right: 1px solid @color-line;
      border-left: 1px solid @color-line;
    }

    & > :nth-child(3), & > :nth-child(6) {
      padding-left: 40px;
      padding-right: 0;
    }
  }
}

.mr-filter-mrgn-bottom {
  margin-bottom: 40px;
}

.filter-blck-wrp {
  padding-bottom: 20px;
}

.bl-gradient-title {
  margin-bottom: 20px;
  line-height: 1;
}

.fltr-mrgn-right {
  margin-right: -10px;
}

.filter-item {
  min-width: 120px;
  width: calc((100% / 3) - 10px);
  height: 30px;
  border: 1px solid @color-line;
  background-color: @color-background-white;
  border-radius: 15px;
  margin-bottom: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.filter-item.active {
  border: none;
  background-color: @color-main-accent;
  color: @color-background-white;
}

.filter-item:not(.active):hover {
  background-color: @color-background-tertiary;
}

.filter-item-lbl,
.cb-size-lbl {
  font-family: Gotham Book;
  font-size: 12px;
  line-height: 12px;
  color: @color-text-tertiary;
}

.active .filter-item-lbl {
  color: @color-background-white;
}

.filter-dropdown .dropdown-toggle {
  margin-bottom: 10px;
}

.set-nodes-filter .dnm-multiple-select {
  margin-bottom: 10px;
}

.cb-size-input {
  height: 30px;
  border-radius: 15px;
}

.cb-size-lbl {
  font-size: 14px;
  line-height: 30px;
  padding: 0 15px;
}

.footer-buttons {
  margin: 15px 0 10px;
}

.filter-footer-btn {
  width: 135px;
}

.dnm-btn-cancel {
  margin-right: 20px;
}

.dnm-btn-reset {
  background-color: transparent;
  color: @color-text-tertiary;
  padding: 13px 16px;
  font-size: 13px;
  border-radius: 25px;
  line-height: 14px;
  margin-right: 15px;
}

.filter-res-lbl {
  font-size: 16px;
  color: @color-text-tertiary;
  margin-right: 30px;
}

.set-nodes-filter {
  /deep/ .select-dropdown {
    .ng-option {
      text-transform: uppercase;
    }
  }
}

.filter-blck-wrp /deep/ .ng-select-container {
  min-height: 30px;
  border-radius: 15px;
}

.filter-blck-wrp /deep/ .ng-value {
  margin: 2px 3px;
}
