.cmn-area-md-bd {
  padding: 20px 40px;
}

.cmn-area-md-bd .field-name {
  width: 285px;
}

.cmn-area-md-bd .field-value {
  width: calc(100% - 285px);
}

.cmn-area-md-bd .dropdown-menu {
  min-width: 100%;
}

.cmn-area-footer {
  margin-top: 50px;
  margin-bottom: 30px;
}

.cmn-area-footer .dnm-btn-cancel,
.cmn-area-footer .dnm-btn-primary {
  width: 200px;
}
