<div *ngIf="isComplete$ | async" class="container-fluid none-padding">
  <div class="cmn-ar-content">
    <div class="dnm-tabset">
      <ngb-tabset #tabs (tabChange)="beforeChange($event)" [activeId]="currentTab">
        <ngb-tab id="tabOccupation-0">
          <ng-template ngbTabTitle>
            <i class="tab-icon dnm-icon-liability"></i>
            <span class="tab-name text-uppercase client-tab-name">Liability</span>
          </ng-template>
          <ng-template ngbTabContent>
            <view-liability (addCommonAreaShop)="onAddCommonAreaShop($event)"
                            (deleteCommonAreaShop)="onDeleteCommonAreaShop($event)"
                            (goToNodeDetail)="onGoToNodeDetail($event)"
                            (saveOccupation)="saveOccupation()"
                            (selectCommonAreaForAllShops)="onSelectCommonAreaForAllShops($event)"
                            (selectShopForAllCommonAreas)="onSelectShopForAllCommonAreas($event)" (unselectCommonAreaForAllShops)="onUnselectCommonAreaForAllShops($event)"
                            (unselectShopForAllCommonAreas)="onUnselectShopForAllCommonAreas($event)"
                            (updateCommonAreaHeader)="onUpdateCommonAreaHeader($event)"
                            (updateCommonAreaSearchTerm)="onUpdateCommonAreaSearchTerm($event)"
                            (updateShopAllocation)="onUpdateShopAllocation($event)"
                            (updateShopConnectFilter)="onUpdateShopConnectFilter($event)"
                            (updateShopFilter)="onUpdateComplexShopFilter($event)"
                            (updateShopLiable)="onUpdateShopLiable($event)"
                            (updateShopRentDetails)="onUpdateShopRentDetails($event)"
                            (updateShopSearchTerm)="onUpdateShopSearchTerm($event)"
                            [activeCommonAreas]="activeCommonAreas$ | async"
                            [allShops]="shops$ | async"
                            [buildingId]="buildingId$ | async"
                            [commonAreaServiceLiabilities]="commonAreaServiceLiabilities$ | async"
                            [commonAreasShopsData]="commonAreasShopsData$ | async"
                            [filterBy]="complexLiabilityShopFilterBy$ | async"
                            [shops]="getShopsWithFilteringByStatusWithoutSpare$ | async"></view-liability>
          </ng-template>
        </ngb-tab>
        <ngb-tab id="tabOccupation-1">
          <ng-template ngbTabTitle>
            <i class="tab-icon dnm-icon-shops"></i>
            <span class="tab-name text-uppercase client-tab-name">Shops</span>
          </ng-template>
          <ng-template ngbTabContent>
            <view-shops (addShop)="onAddShop()"
                        (cancel)="onCancel()"
                        (closeShopHistory)="onCloseShopHistory($event)" (mergeShops)="onMergeShops($event)" (openShopHistory)="onOpenShopHistory($event)"
                        (save)="onSaveShopsList()" (setSpareStatusForShops)="onSetSpareStatusForShops($event)"
                        (setUnspareStatusForShops)="onSetUnspareStatusForShops($event)"
                        (setVacantStatusForShops)="onSetVacantStatusForShops($event)"
                        (splitShop)="onSplitShop($event)"
                        (updateShop)="onUpdateShop($event)" (updateShopOrderIndex)="onUpdateShopOrderIndex($event)"
                        (updateShopRentDetails)="onUpdateShopRentDetails($event)" (updateShopSearchTerm)="onUpdateShopSearchTerm($event)"
                        (updateShopStatusFilter)="onUpdateShopStatusFilter($event)"
                        [allShops]="shops$ | async"
                        [buildingId]="buildingId$ | async"
                        [canEdit]="canEdit$ | async" [orderIndex]="shopOrderIndex$ | async"
                        [shops]="shopWithFilteringAndSearching$ | async"
                        [tenantShopHistory]="tenantShopHistory$ | async"></view-shops>

          </ng-template>
        </ngb-tab>
        <ngb-tab id="tabOccupation-2">
          <ng-template ngbTabTitle>
            <i class="tab-icon dnm-icon-cmn-areas"></i>
            <span class="tab-name text-uppercase client-tab-name">Common Areas</span>
          </ng-template>
          <ng-template ngbTabContent>
            <view-common-areas (addCommonArea)="onAddCommonArea($event)" (cancel)="onCancel($event)"
                               (deleteCommonArea)="onDeleteCommonArea($event)"
                               (goToNodeDetail)="onGoToNodeDetail($event)"
                               (save)="onSaveCommonAreasList()" (selectedCommonAreaById)="onSelectedCommonAreaById($event)"
                               (updateCommonArea)="onUpdateCommonArea($event)"
                               (updateCommonAreaOrderIndex)="onUpdateCommonAreaOrderIndex($event)"
                               (updateCommonAreaServices)="onUpdateCommonAreaServices($event)"
                               [canEdit]="canEdit$ | async" [commonAreas]="commonAreas$ | async"
                               [orderIndex]="commonAreaOrderIndex$ | async"></view-common-areas>
          </ng-template>
        </ngb-tab>
        <ngb-tab id="tabOccupation-3">
          <ng-template ngbTabTitle>
            <i class="tab-icon dnm-icon-map"></i>
            <span class="tab-name text-uppercase client-tab-name">Floor Plans</span>
          </ng-template>
          <ng-template ngbTabContent>
            <view-floor-plans></view-floor-plans>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</div>
