.cmn-ar-content {
  .dnm-tabset {
    position: relative;
  }

  .liability-datepicker {
    position: absolute;
    right: 0;
    top: 40px;
    z-index: 2;

    .dropdown-toggle {
      max-width: 300px;
    }

    .dropdown-menu {
      max-height: 500px;
      overflow-y: auto;
    }
  }
}
