<div class="container-fluid none-padding supply-stat-wrp">
  <div class="row none-margin-hr">
    <div class="col-10 none-padding">
      <div class="row none-margin-hr">
        <div class="col-2 none-padding">
          <div class="row none-margin-hr list-header">
            <div class="col header-field text-uppercase d-flex align-items-center">
              <span title="Supply Type">Supply Type</span>
            </div>
          </div>
          <div class="list-body left-border right-border">
            <div class="row none-margin-hr">
              <div class="col none-padding">
                <div class="tbl-cell d-flex align-items-center">
                  <div class="service-icon electricity-icon"></div>
                  <span class="type-lbl electricity-lbl">Electricity</span>
                </div>
              </div>
            </div>
            <div class="row none-margin-hr">
              <div class="col none-padding">
                <div class="tbl-cell d-flex align-items-center">
                  <div class="service-icon water-icon"></div>
                  <span class="type-lbl water-lbl">Water</span>
                </div>
              </div>
            </div>
            <div class="row none-margin-hr">
              <div class="col none-padding">
                <div class="tbl-cell d-flex align-items-center">
                  <div class="service-icon sewerage-icon"></div>
                  <span class="type-lbl sewerage-lbl">Sewerage</span>
                </div>
              </div>
            </div>
            <div class="row none-margin-hr">
              <div class="col none-padding">
                <div class="tbl-cell d-flex align-items-center">
                  <div class="service-icon gas-icon"></div>
                  <span class="type-lbl gas-lbl">Gas supply</span>
                </div>
              </div>
            </div>
            <div class="row none-margin-hr">
              <div class="col none-padding">
                <div class="tbl-cell d-flex align-items-center">
                  <div class="service-icon ad-hoc-icon"></div>
                  <span class="type-lbl ad-hoc-lbl">Ad hoc</span>
                </div>
              </div>
            </div>
            <div class="row none-margin-hr lst-row">
              <div class="col none-padding">
                <div class="tbl-cell d-flex align-items-center">
                  <span class="total-lbl text-uppercase">Total</span>
                </div>
              </div>
            </div>
            <div class="list-body-ftr"></div>
          </div>
        </div>
        <div class="col-10 none-padding">
          <div class="scrolable-block">
            <div class="list-header d-flex no-wrap">
              <div class="header-field scroll-hdr-fld text-uppercase">
                <span title="Apr 2019">Apr 2019</span>
              </div>
              <div class="header-field scroll-hdr-fld text-uppercase">
                <span title="May 2019">May 2019</span>
              </div>
              <div class="header-field scroll-hdr-fld text-uppercase">
                <span title="June 2019">June 2019</span>
              </div>
              <div class="header-field scroll-hdr-fld text-uppercase">
                <span title="July 2019">July 2019</span>
              </div>
              <div class="header-field scroll-hdr-fld text-uppercase">
                <span title="Aug 2019">Aug 2019</span>
              </div>
              <div class="header-field scroll-hdr-fld text-uppercase">
                <span title="Sep 2019">Sep 2019</span>
              </div>
              <div class="header-field scroll-hdr-fld text-uppercase">
                <span title="Oct 2019">Oct 2019</span>
              </div>
            </div>
            <div class="list-body">
              <div class="d-flex no-wrap tbl-row">
                <div class="tbl-cell scroll-hdr-fld d-flex align-items-center">
                  <span class="supply-type-val">R 21.71</span>
                </div>
                <div class="tbl-cell scroll-hdr-fld d-flex align-items-center">
                  <span class="supply-type-val">R 22.71</span>
                </div>
                <div class="tbl-cell scroll-hdr-fld d-flex align-items-center">
                  <span class="supply-type-val">R 21.71</span>
                </div>
                <div class="tbl-cell scroll-hdr-fld d-flex align-items-center">
                  <span class="supply-type-val">R 21.71</span>
                </div>
                <div class="tbl-cell scroll-hdr-fld d-flex align-items-center">
                  <span class="supply-type-val">R 21.71</span>
                </div>
                <div class="tbl-cell scroll-hdr-fld d-flex align-items-center">
                  <span class="supply-type-val">R 21.71</span>
                </div>
                <div class="tbl-cell scroll-hdr-fld d-flex align-items-center">
                  <span class="supply-type-val">R 21.71</span>
                </div>
              </div>
              <div class="d-flex no-wrap tbl-row">
                <div class="tbl-cell scroll-hdr-fld d-flex align-items-center">
                  <span class="supply-type-val">R 21.71</span>
                </div>
                <div class="tbl-cell scroll-hdr-fld d-flex align-items-center">
                  <span class="supply-type-val">R 22.71</span>
                </div>
                <div class="tbl-cell scroll-hdr-fld d-flex align-items-center">
                  <span class="supply-type-val">R 21.71</span>
                </div>
                <div class="tbl-cell scroll-hdr-fld d-flex align-items-center">
                  <span class="supply-type-val">R 21.71</span>
                </div>
                <div class="tbl-cell scroll-hdr-fld d-flex align-items-center">
                  <span class="supply-type-val">R 21.71</span>
                </div>
                <div class="tbl-cell scroll-hdr-fld d-flex align-items-center">
                  <span class="supply-type-val">R 21.71</span>
                </div>
                <div class="tbl-cell scroll-hdr-fld d-flex align-items-center">
                  <span class="supply-type-val">R 21.71</span>
                </div>
              </div>
              <div class="d-flex no-wrap tbl-row">
                <div class="tbl-cell scroll-hdr-fld d-flex align-items-center">
                  <span class="supply-type-val">R 21.71</span>
                </div>
                <div class="tbl-cell scroll-hdr-fld d-flex align-items-center">
                  <span class="supply-type-val">R 22.71</span>
                </div>
                <div class="tbl-cell scroll-hdr-fld d-flex align-items-center">
                  <span class="supply-type-val">R 21.71</span>
                </div>
                <div class="tbl-cell scroll-hdr-fld d-flex align-items-center">
                  <span class="supply-type-val">R 21.71</span>
                </div>
                <div class="tbl-cell scroll-hdr-fld d-flex align-items-center">
                  <span class="supply-type-val">R 21.71</span>
                </div>
                <div class="tbl-cell scroll-hdr-fld d-flex align-items-center">
                  <span class="supply-type-val">R 21.71</span>
                </div>
                <div class="tbl-cell scroll-hdr-fld d-flex align-items-center">
                  <span class="supply-type-val">R 21.71</span>
                </div>
              </div>
              <div class="d-flex no-wrap tbl-row">
                <div class="tbl-cell scroll-hdr-fld d-flex align-items-center">
                  <span class="supply-type-val">R 21.71</span>
                </div>
                <div class="tbl-cell scroll-hdr-fld d-flex align-items-center">
                  <span class="supply-type-val">R 22.71</span>
                </div>
                <div class="tbl-cell scroll-hdr-fld d-flex align-items-center">
                  <span class="supply-type-val">R 21.71</span>
                </div>
                <div class="tbl-cell scroll-hdr-fld d-flex align-items-center">
                  <span class="supply-type-val">R 21.71</span>
                </div>
                <div class="tbl-cell scroll-hdr-fld d-flex align-items-center">
                  <span class="supply-type-val">R 21.71</span>
                </div>
                <div class="tbl-cell scroll-hdr-fld d-flex align-items-center">
                  <span class="supply-type-val">R 21.71</span>
                </div>
                <div class="tbl-cell scroll-hdr-fld d-flex align-items-center">
                  <span class="supply-type-val">R 21.71</span>
                </div>
              </div>
              <div class="d-flex no-wrap tbl-row">
                <div class="tbl-cell scroll-hdr-fld d-flex align-items-center">
                  <span class="supply-type-val">R 21.71</span>
                </div>
                <div class="tbl-cell scroll-hdr-fld d-flex align-items-center">
                  <span class="supply-type-val">R 22.71</span>
                </div>
                <div class="tbl-cell scroll-hdr-fld d-flex align-items-center">
                  <span class="supply-type-val">R 21.71</span>
                </div>
                <div class="tbl-cell scroll-hdr-fld d-flex align-items-center">
                  <span class="supply-type-val">R 21.71</span>
                </div>
                <div class="tbl-cell scroll-hdr-fld d-flex align-items-center">
                  <span class="supply-type-val">R 21.71</span>
                </div>
                <div class="tbl-cell scroll-hdr-fld d-flex align-items-center">
                  <span class="supply-type-val">R 21.71</span>
                </div>
                <div class="tbl-cell scroll-hdr-fld d-flex align-items-center">
                  <span class="supply-type-val">R 21.71</span>
                </div>
              </div>
              <div class="d-flex no-wrap tbl-row lst-row">
                <div class="tbl-cell scroll-hdr-fld d-flex align-items-center">
                  <span class="supply-type-val">R 21.71</span>
                </div>
                <div class="tbl-cell scroll-hdr-fld d-flex align-items-center">
                  <span class="supply-type-val">R 22.71</span>
                </div>
                <div class="tbl-cell scroll-hdr-fld d-flex align-items-center">
                  <span class="supply-type-val">R 21.71</span>
                </div>
                <div class="tbl-cell scroll-hdr-fld d-flex align-items-center">
                  <span class="supply-type-val">R 21.71</span>
                </div>
                <div class="tbl-cell scroll-hdr-fld d-flex align-items-center">
                  <span class="supply-type-val">R 21.71</span>
                </div>
                <div class="tbl-cell scroll-hdr-fld d-flex align-items-center">
                  <span class="supply-type-val">R 21.71</span>
                </div>
                <div class="tbl-cell scroll-hdr-fld d-flex align-items-center">
                  <span class="supply-type-val">R 21.71</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2 none-padding">
      <div class="row none-margin-hr">
        <div class="col-8 none-padding">
          <div class="row none-margin-hr list-header">
            <div class="col-6 header-field smr-usage-hdr text-uppercase d-flex align-items-center">
              <span title="AVG">AVG</span>
            </div>
            <div class="col-6 header-field text-uppercase d-flex align-items-center">
              <span title="VAR, %">VAR, %</span>
            </div>
          </div>
        </div>
        <div class="col-4"></div>
      </div>
      <div class="list-body left-border">
        <div class="row none-margin-hr">
          <div class="col-8 none-padding right-border">
            <div class="row none-margin-hr">
              <div class="col-6 tbl-cell d-flex align-items-center">
                <span class="supply-type-val">12</span>
              </div>
              <div class="col-6 tbl-cell d-flex align-items-center">
                <span class="supply-type-val">34</span>
              </div>
            </div>
            <div class="row none-margin-hr">
              <div class="col-6 tbl-cell d-flex align-items-center">
                <span class="supply-type-val">12</span>
              </div>
              <div class="col-6 tbl-cell d-flex align-items-center">
                <span class="supply-type-val">34</span>
              </div>
            </div>
            <div class="row none-margin-hr">
              <div class="col-6 tbl-cell d-flex align-items-center">
                <span class="supply-type-val">12</span>
              </div>
              <div class="col-6 tbl-cell d-flex align-items-center">
                <span class="supply-type-val">34</span>
              </div>
            </div>
            <div class="row none-margin-hr">
              <div class="col-6 tbl-cell d-flex align-items-center">
                <span class="supply-type-val">12</span>
              </div>
              <div class="col-6 tbl-cell d-flex align-items-center">
                <span class="supply-type-val">34</span>
              </div>
            </div>
            <div class="row none-margin-hr">
              <div class="col-6 tbl-cell d-flex align-items-center">
                <span class="supply-type-val">12</span>
              </div>
              <div class="col-6 tbl-cell d-flex align-items-center">
                <span class="supply-type-val">34</span>
              </div>
            </div>
            <div class="row none-margin-hr">
              <div class="col-6 tbl-cell d-flex align-items-center">
                <span class="supply-type-val">12</span>
              </div>
              <div class="col-6 tbl-cell d-flex align-items-center">
                <span class="supply-type-val">34</span>
              </div>
            </div>
            <div class="list-body-ftr"></div>
          </div>
          <div class="col-4 none-padding right-border">
            <div class="tbl-cell d-flex align-items-center justify-content-around">
              <button class="dnm-btn stat-info-btn info-icon" type="button"></button>
            </div>
            <div class="tbl-cell d-flex align-items-center justify-content-around">
              <button class="dnm-btn stat-info-btn info-icon" type="button"></button>
            </div>
            <div class="tbl-cell d-flex align-items-center justify-content-around">
              <button class="dnm-btn stat-info-btn info-icon" type="button"></button>
            </div>
            <div class="tbl-cell d-flex align-items-center justify-content-around">
              <button class="dnm-btn stat-info-btn info-icon" type="button"></button>
            </div>
            <div class="tbl-cell d-flex align-items-center justify-content-around">
              <button class="dnm-btn stat-info-btn info-icon" type="button"></button>
            </div>
            <div class="tbl-cell d-flex align-items-center justify-content-around">
              <button class="dnm-btn stat-info-btn info-icon" type="button"></button>
            </div>
            <div class="list-body-ftr"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
