.edit-bld-period .modal-body {
  padding: 40px;
}

.edit-bld-period .row-description {
  align-items: baseline;
}

.edit-bld-period .footer-btns {
  margin-top: 50px;
}

.edit-bld-period .dnm-btn-cancel,
.edit-bld-period .dnm-btn-primary {
  width: 200px;
  min-width: 200px;
}

.edit-bld-period .dnm-btn-cancel {
  margin-right: 30px;
}

.edit-bld-period .linked-period-lbl {
  display: inline-block;
  max-width: 90%;
  font-size: 13px;
  vertical-align: middle;
}

.edit-bld-period .icon-btn {
  cursor: pointer;
  padding: 2px;
  margin: 5px;
}

.arrow select {
  background-image: unset;
}
