@import 'required-fields.less';

.line-item-wrp .modal-body {
  padding: 10px 40px 50px;
}

.line-item-wrp .field-name {
  font-family: Gotham Medium;
}

.line-item-wrp .alert-danger {
  margin-top: 5px;
}

.line-item-wrp .dropdown-item {
  text-transform: unset;
  font-size: 14px;
}

.line-item-wrp .footer-buttons {
  margin-top: 35px;
}

.line-item-wrp .dnm-btn {
  width: 200px;
  min-width: 200px;
}

.line-item-wrp .dnm-btn:first-child {
  margin-right: 30px;
}
