<form [formGroup]="form">
  <div class="line-item-wrp">
    <div class="modal-header">
      <h5 class="modal-title">Add new Line Item</h5>
      <button (click)="dismiss()" aria-label="Close" class="close" data-dismiss="modal" type="button">
        <i aria-hidden="true" class="icon-relative close-popup-icon"></i>
      </button>
    </div>
    <div class="modal-body">
      <div class="container-fluid none-padding">
        <div class="input-row none-margin-hr">
          <div class="text-uppercase field-name">Line name</div>
          <div class="field-value none-padding">
            <div [ngClass]="{'dnm-invalid-inp': form.controls.name.touched && form.controls.name.invalid }">
              <input class="form-control req-frm-fld" formControlName="name" maxlength="256" placeholder="Type here" type="text"/>
            </div>
          </div>
          <div class="field-name"></div>
          <div class="field-value none-padding">
            <div class="d-flex justify-content-end">
              <small *ngIf="form.controls.name.touched && form.controls.name.errors?.required" class="alert-danger">
                Line name is required
              </small>
            </div>
          </div>
        </div>
        <div class="input-row">
          <div class="text-uppercase field-name">Charging type</div>
          <div class="field-value none-padding">
            <div class="dropdown d-block fullwidth-dropdown none-padding" ngbDropdown>
              <button class="btn btn-secondary dropdown-toggle text-left req-frm-fld" ngbDropdownToggle type="button">
                {{chargingTypeText[form.controls.chargingType.value] || 'Select charging type'}}
              </button>
              <div aria-labelledby="ddCategory" class="dropdown-menu w-100" ngbDropdownMenu>
                <button (click)="onChargingTypeChanged(item)" *ngFor="let item of chargingTypes" class="dropdown-item"
                        type="button">{{chargingTypeText[item]}}</button>
              </div>
            </div>
          </div>
        </div>
        <div class="row none-margin-hr">
          <div class="col none-padding footer-buttons d-flex justify-content-end">
            <button (click)="dismiss()" class="dnm-btn dnm-btn-cancel text-uppercase" type="button">Cancel</button>
            <button (click)="onSave()" class="dnm-btn dnm-btn-primary text-uppercase" type="button">Add</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
