<div class="row none-margin-hr user-account-password">
  <div class="col-12 none-padding">

    <!-- user pass -->
    <div [formGroup]="form" class="pass-tab">
      <div class="bl-gradient-title">Change Password</div>

      <div class="input-row">
        <div class="text-uppercase field-name">Old Password</div>
        <div class="field-value field-pass">
          <input class="form-control" formControlName="oldPassword"
                 id="old-password" name="old-password" type="{{ isOldPasswordVisible ? 'text' : 'password' }}">
          <span (click)="toggleOldPassword()" class="eye-icon"></span>
          <div>
            <small *ngIf="formErrors['oldPassword']" class="alert-danger">
              {{ formErrors["oldPassword"] }}
            </small>
          </div>
        </div>
      </div>

      <div class="input-row">
        <div class="text-uppercase field-name">New Password</div>
        <div class="field-value field-pass">
          <input class="form-control" formControlName="newPassword"
                 id="new-password" name="new-password" type="{{ isNewPasswordVisible ? 'text' : 'password' }}">
          <span (click)="toggleNewPassword()" class="eye-icon"></span>
          <div>
            <small *ngIf="formErrors['newPassword']" class="alert-danger">
              {{ formErrors["newPassword"] }}
            </small>
          </div>
        </div>
      </div>

      <div class="input-row">
        <div class="text-uppercase field-name">New Password (Again)</div>
        <div class="field-value field-pass">
          <input class="form-control" formControlName="newPasswordConfirm"
                 id="new-password-confirm" name="new-password-confirm" type="{{ isNewPasswordConfirmVisible ? 'text' : 'password' }}">
          <span (click)="toggleNewPasswordConfirm()" class="eye-icon"></span>
          <div>
            <small *ngIf="formErrors['newPasswordConfirm']" class="alert-danger">
              {{ formErrors["newPasswordConfirm"] }}
            </small>
          </div>
        </div>
      </div>

      <!-- save and cancel buttons -->
      <div class="pass-footer">
        <button class="dnm-btn dnm-btn-cancel text-uppercase" routerLink="/" type="button">Cancel</button>
        <button (click)="save()" class="dnm-btn dnm-btn-primary text-uppercase" type="button">Save</button>
      </div>

    </div>
  </div>
</div>
