//@import 'variables.less';
@import 'required-fields.less';

.view-common-areas .common-areas-filter {
  margin-bottom: 25px;
}

.common-areas-filter .filter-res-lbl {
  font-size: 16px;
  color: @color-text-tertiary;
  margin-right: 30px;
}

.common-areas-filter .dropdown-toggle,
.common-areas-filter .dropdown-menu {
  width: 200px;
}

.view-common-areas .dd-filter-lbl {
  font-family: Gotham Medium;
  font-size: 15px;
  color: @color-text-tertiary;
  margin-right: 20px;
}

.view-common-areas .activity-container {
  width: 300px;
  float: right;
  padding-top: 36px;
}


.common-areas-tbl .table-header {
  padding: 0 15px 12px 16px;
}

.common-areas-tbl .sortable .dnm-icon {
  margin-left: 8px;
}

.common-areas-tbl .table-body {
  background: @color-background-white;
  border: 1px solid @color-line;
}

.common-areas-tbl .table-row {
  margin: 0;
  border-bottom: 1px solid @color-line;
  padding-top: 18px;
  padding-bottom: 18px;
}

.common-areas-tbl .table-row:last-child {
  border-bottom: none;
}

.common-areas-tbl .dnm-checkbox {
  margin-right: 30px;
}

.common-areas-tbl .col-lbl {
  font-family: Gotham Medium;
  font-size: 12px;
  color: @color-description;
}

.common-areas-tbl .field-value {
  width: 100%;
}

.common-areas-tbl .field-value.area-name-inpt {
  min-width: 310px;
  max-width: 380px;
}

.field-value.common-area-sq .form-control {
  max-width: 150px;
}

.field-value.common-areas-floor .form-control {
  max-width: 100px;
}

.common-areas-tbl .table-footer {
  margin-top: 80px;
  margin-bottom: 100px;
}

.common-areas-tbl .dnm-btn-primary,
.common-areas-tbl .dnm-btn-cancel {
  width: 200px;
}

.common-areas-tbl .dnm-btn-cancel {
  margin-right: 30px;
}

.activity-container .section-title {
  display: block;
  font-family: Gotham Medium;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: @color-text-primary;
  padding: 0 15px 0 30px;
  margin-bottom: 15px;
}
