#equipments_diagrame {
  height: 700px;
}

.tooltip-detail-equipment {
  .tooltip-inner {
    text-align: left;
    min-width: 370px;
    max-width: 520px;
    font-size: 16px;

  }

  .tooltip-table {
    max-width: 490px;

    td {
      vertical-align: top;
    }
  }

  .tooltip-details {
    font-size: 13px;

    label {
      margin: 0px;
      font-weight: bold;
      padding-right: 10px;
    }

    span {
      word-break: break-word;
      white-space: normal;
      display: block;
      max-width: 300px;
    }
  }
}
