@import 'variables.less';

.set-of-nodes {
  padding: 40px 0;

  .set-nodes-header {
    font-family: Gotham Medium;
    font-size: 30px;
    line-height: 35px;
    color: @color-text-primary;
    margin-bottom: 15px;
  }
}
