@import 'variables.less';

.gen-info-wrp .vert-blck-line {
  border-right: 1px solid @color-line;
}

.gen-info-wrp .first-col {
  padding-right: 30px;
  padding-left: 0;
}

.gen-info-wrp .second-col {
  padding-right: 0;
  padding-left: 30px;
}

.gen-info-wrp .shop-name-lbl {
  color: @color-background-dark;
  font-family: Gotham Medium;
  font-size: 30px;
  line-height: 1;
  margin-bottom: 35px;
}

.gen-info-wrp .field-name {
  font-family: Gotham Medium;
}

.gen-info-wrp .fullwidth-dropdown .dropdown-toggle {
  padding-left: 20px;
}

.gen-info-wrp .history-title-blck {
  margin-bottom: 30px;
  line-height: 1;
}

.gen-info-wrp .first-blng-date {
  font-family: 'Gotham Book';
  color: @color-text-tertiary;
  font-size: 14px;
  padding-left: 20px;
}

.gen-info-wrp .line-div {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid @color-line;
}

.gen-info-wrp .line-div:last-of-type {
  border-bottom: none;
}

.gen-info-wrp .list-header {
  margin-bottom: 5px;
}

.gen-info-wrp .history-info-lbl {
  color: @color-text-secondary;
  font-family: Gotham Book;
  font-size: 13px;
}

.gen-info-wrp .tenant-name-lbl {
  font-size: 14px;
}

.gen-info-wrp .stat-lbck-lbl {
  margin-top: 50px;
  line-height: 1;
}

.gen-info-wrp .dnm-tabset {
  position: relative;
}

.gen-info-wrp .tabset-nav {
  position: absolute;
  z-index: 1;
  right: 0;
  padding-top: 44px;
}

.gen-info-wrp .switch-btn-lbl {
  font-family: Gotham Medium;
  font-size: 14px;
  line-height: 1;
  padding: 0 20px 0 10px;
}

.gen-info-wrp .current-usage-lbl {
  color: @color-main-accent;
}

.gen-info-wrp .average-usage-lbl {
  color: @color-text-tertiary;
}

::ng-deep .gen-info-wrp .stat-tabset .nav-tabs {
  border-bottom: none;
}

::ng-deep .gen-info-wrp .stat-tabset .nav-link {
  padding-top: 37px;
  padding-bottom: 15px;
}
