@import 'variables.less';

.tenants-container {
  padding: 30px 0 100px 0;
}

.tenants-tbl .table-body {
  border: 1px solid @color-line;
  background-color: @color-background-white;
}

.tenants-tbl .col-lbl {
    font-family: Gotham Medium;
    font-size: 12px;
    color: @color-empty;
    text-decoration: none;
}

