@import "variables.less";

.add-category-or-step-container {
  font-family: @fontFamilyMedium;

  .modal-body {
    padding: 25px;

    .body-info {
      margin-bottom: 20px;
    }

    .popup-field {
      padding: 15px 0;

      .popup-field-title {
        min-width: 350px;
        font-size: 14px;
        font-weight: normal;
        line-height: 0;
        color: @color-text-tertiary;
      }

      .dnm-radio-btn {
        margin-right: 10px;
      }

      .ng-select {
        width: 350px;
      }
    }
  }

  .buttons-container {
    padding: 30px;

    button:first-of-type {
      margin-right: 30px;
    }
  }
}
