@import 'variables.less';

.enter-readings .search-row {
  margin-top: 30px;
  margin-bottom: 30px;
}

.enter-readings .main-search-input {
  width: 100%;
}

.enter-readings .group-search-input {
  background-color: @color-background-white;
}

.enter-readings .nav-datepicker-wrp {
  width: 150px !important;
}

.enter-readings .filter-drpdwn-lbl,
.enter-readings .datepicker-lbl {
  font-family: Gotham Medium;
  font-size: 14px;
  line-height: 14px;
  color: @color-text-tertiary;
  margin-right: 20px;
}

.enter-readings .datepicker-lbl {
  margin-left: 40px;
}

.enter-readings .nav-dtpickr-inpt {
  height: 30px;
  border-radius: 15px;
}

.enter-readings .nav-datepicker-wrp .calendar {
  height: 30px;
  background-size: 15px 15px;
}

::ng-deep .enter-readings .nav-datepicker-wrp ngb-datepicker.dropdown-menu {
  left: unset !important;
  right: 0;
}

.enter-readings .list-header {
  margin-top: 20px;
}

.enter-readings .header-field {
  text-transform: uppercase;
}

.enter-readings .header-row {
  padding-left: 15px;
  padding-right: 15px;
}

.enter-readings .list-body {
  border-bottom: 1px solid @color-line;
}

.enter-readings .footer-buttons {
  padding-top: 20px;
  padding-bottom: 60px;
}

.enter-readings .footer-buttons .dnm-btn {
  width: 200px;
}

.enter-readings .footer-buttons .dnm-btn:first-child {
  margin-right: 30px;
}
