//@import 'variables.less';
@import 'required-fields.less';

.remove-bank-account-btn .blue-cross-icon {
  margin-left: 10px;
}

.btn-modify-account {
  background: none;
  box-shadow: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.btn-modify-account:hover {
  background: @color-background-tertiary;
}

.table-premium {
  margin: 18px 0;
}

/* #region media styles */
@media (min-width: 768px) {
  .row-title {
    margin-bottom: 30px;
  }
}

/* #endregion */

