.categ-wrp .modal-body {
  padding: 10px 40px 50px;
}

.categ-wrp .field-name {
  font-family: Gotham Medium;
}

.categ-wrp .invalid-input-val .dropdown-toggle {
  border: 1px solid #f44336;
}

.categ-wrp .dropdown-item {
  text-transform: unset;
  font-size: 14px;
}

.categ-wrp .alert-danger {
  margin-top: 10px;
}

.categ-wrp .footer-buttons {
  margin-top: 35px;
}

.categ-wrp .dnm-btn {
  width: 200px;
  min-width: 200px;
}

.categ-wrp .dnm-btn:first-child {
  margin-right: 30px;
}
