@import 'variables.less';

.popup-container {
  .modal-header {
    padding-bottom: 0;
  }

  .dnm-warning-red {
    width: 50px;
    height: 50px;
    margin-bottom: 50px;
  }

  .popup-title {
    font-family: @fontFamilyMedium;
    font-size: 24px;
    color: @color-text-primary;
    margin-bottom: 8px;
  }

  .description {
    font-size: 16px;
    color: @color-text-primary;
  }

  .dnm-btn {
    width: 200px;

    &:first-child {
      margin-right: 30px;
    }
  }

  .node-sets-container {
    padding-top: 20px;
  }

  li {
    list-style: none;
  }
}
