<div class="manage-liability-container">
  <ng-container *ngIf="selectedCommonAreaLiablity">
    <div class="d-flex align-items-center filter-item">
      <span class="text-uppercase filter-item-lbl">Category:</span>
      <ng-select [clearable]="false"
                 [items]="commonAreaLiablities" [ngModel]="selectedCommonAreaLiablity.commonAreaId" [searchable]="false"
                 bindLabel="commonArea.name"
                 bindValue="commonArea.id" class="dnm-single-select dnm-dropdown-select" title="{{selectedCommonAreaLiablity.commonArea.name}}">
        <ng-template let-index="index" let-item="item" ng-option-tmp>
          <div (click)="onCommonAreaLiabilityChange(index)" class="category-item-wrp">
            <span class="item-lbl" title="{{item.commonArea.name}}">{{item.commonArea.name}}</span>
          </div>
        </ng-template>
      </ng-select>
    </div>
    <div class="dnm-tabset liability-tabset">
      <ngb-tabset #tabs (tabChange)="beforeChange($event)" [activeId]="selectedCommonAreaLiablityServiceType">
        <ngb-tab *ngIf="selectedCommonAreaLiablity.commonArea.services.isElectricityEnable" id="0">
          <ng-template ngbTabTitle>
            <i class="tab-icon dnm-icon-electricity"></i>
            <span class="tab-name text-uppercase client-tab-name">Electricity</span>
          </ng-template>
          <ng-template ngbTabContent>
            <liability-tab (defaultSettingsChanged)="defaultSettingsChanged.emit($event)"
                           (includeNotLiableShopsChanged)="includeNotLiableShopsChanged.emit($event)"
                           (includeVacantShopSqMChanged)="includeVacantShopSqMChanged.emit($event)"
                           (ownerLiabilityChanged)="ownerLiabilityChanged.emit($event)"
                           (updateShopAllocation)="updateShopAllocation.emit($event)"
                           (updateShopFilter)="updateShopFilter.emit($event)"
                           (updateShopLiability)="updateShopLiability.emit($event)"
                           (updateShopTermSearch)="updateShopTermSearch.emit($event)"
                           (updateSplit)="updateSplit.emit($event)"
                           [filterBy]="liabilityShopFilterBy"
                           [model]="selectedCommonAreaLiablityService"
                           [searchTerm]="liabilityShopSearchTerm"></liability-tab>
          </ng-template>
        </ngb-tab>
        <ngb-tab *ngIf="selectedCommonAreaLiablity.commonArea.services.isWaterEnable" id="1">
          <ng-template ngbTabTitle>
            <i class="tab-icon dnm-icon-water"></i>
            <span class="tab-name text-uppercase client-tab-name">Water</span>
          </ng-template>
          <ng-template ngbTabContent>
            <liability-tab (defaultSettingsChanged)="defaultSettingsChanged.emit($event)"
                           (includeNotLiableShopsChanged)="includeNotLiableShopsChanged.emit($event)"
                           (includeVacantShopSqMChanged)="includeVacantShopSqMChanged.emit($event)"
                           (ownerLiabilityChanged)="ownerLiabilityChanged.emit($event)"
                           (updateShopAllocation)="updateShopAllocation.emit($event)"
                           (updateShopFilter)="updateShopFilter.emit($event)"
                           (updateShopLiability)="updateShopLiability.emit($event)"
                           (updateShopTermSearch)="updateShopTermSearch.emit($event)"
                           (updateSplit)="updateSplit.emit($event)"
                           [filterBy]="liabilityShopFilterBy"
                           [model]="selectedCommonAreaLiablityService"
                           [searchTerm]="liabilityShopSearchTerm"></liability-tab>
          </ng-template>
        </ngb-tab>
        <ngb-tab *ngIf="selectedCommonAreaLiablity.commonArea.services.isGasEnable" id="2">
          <ng-template ngbTabTitle>
            <i class="tab-icon dnm-icon-gas"></i>
            <span class="tab-name text-uppercase client-tab-name">Gas</span>
          </ng-template>
          <ng-template ngbTabContent>
            <liability-tab (defaultSettingsChanged)="defaultSettingsChanged.emit($event)"
                           (includeNotLiableShopsChanged)="includeNotLiableShopsChanged.emit($event)"
                           (includeVacantShopSqMChanged)="includeVacantShopSqMChanged.emit($event)"
                           (ownerLiabilityChanged)="ownerLiabilityChanged.emit($event)"
                           (updateShopAllocation)="updateShopAllocation.emit($event)"
                           (updateShopFilter)="updateShopFilter.emit($event)"
                           (updateShopLiability)="updateShopLiability.emit($event)"
                           (updateShopTermSearch)="updateShopTermSearch.emit($event)"
                           (updateSplit)="updateSplit.emit($event)"
                           [filterBy]="liabilityShopFilterBy"
                           [model]="selectedCommonAreaLiablityService"
                           [searchTerm]="liabilityShopSearchTerm"></liability-tab>
          </ng-template>
        </ngb-tab>
        <ngb-tab *ngIf="selectedCommonAreaLiablity.commonArea.services.isSewerageEnable" id="3">
          <ng-template ngbTabTitle>
            <i class="tab-icon dnm-icon-sewerage"></i>
            <span class="tab-name text-uppercase client-tab-name">Sewerage</span>
          </ng-template>
          <ng-template ngbTabContent>
            <liability-tab (defaultSettingsChanged)="defaultSettingsChanged.emit($event)"
                           (includeNotLiableShopsChanged)="includeNotLiableShopsChanged.emit($event)"
                           (includeVacantShopSqMChanged)="includeVacantShopSqMChanged.emit($event)"
                           (ownerLiabilityChanged)="ownerLiabilityChanged.emit($event)"
                           (updateShopAllocation)="updateShopAllocation.emit($event)"
                           (updateShopFilter)="updateShopFilter.emit($event)"
                           (updateShopLiability)="updateShopLiability.emit($event)"
                           (updateShopTermSearch)="updateShopTermSearch.emit($event)"
                           (updateSplit)="updateSplit.emit($event)"
                           [filterBy]="liabilityShopFilterBy"
                           [model]="selectedCommonAreaLiablityService"
                           [searchTerm]="liabilityShopSearchTerm"></liability-tab>
          </ng-template>
        </ngb-tab>
        <ngb-tab *ngIf="selectedCommonAreaLiablity.commonArea.services.isOtherEnable" id="4">
          <ng-template ngbTabTitle>
            <i class="tab-icon dnm-icon-other"></i>
            <span class="tab-name text-uppercase client-tab-name">Other</span>
          </ng-template>
          <ng-template ngbTabContent>
            <liability-tab (defaultSettingsChanged)="defaultSettingsChanged.emit($event)"
                           (includeNotLiableShopsChanged)="includeNotLiableShopsChanged.emit($event)"
                           (includeVacantShopSqMChanged)="includeVacantShopSqMChanged.emit($event)"
                           (ownerLiabilityChanged)="ownerLiabilityChanged.emit($event)"
                           (updateShopAllocation)="updateShopAllocation.emit($event)"
                           (updateShopFilter)="updateShopFilter.emit($event)"
                           (updateShopLiability)="updateShopLiability.emit($event)"
                           (updateShopTermSearch)="updateShopTermSearch.emit($event)"
                           (updateSplit)="updateSplit.emit($event)"
                           [filterBy]="liabilityShopFilterBy"
                           [model]="selectedCommonAreaLiablityService"
                           [searchTerm]="liabilityShopSearchTerm"></liability-tab>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </ng-container>
</div>
<div class="container-fluid none-padding">
  <div class="manage-liability-footer col-12 text-right footer-buttons">
    <button (click)="previous.emit()" class="dnm-btn dnm-btn-cancel text-uppercase" type="button">Cancel</button>
    <button (click)="onNext()" class="dnm-btn dnm-btn-primary text-uppercase" type="button">Next</button>
  </div>
</div>
